// .background-image-second-slide {
//     width: 100%;
//     height: 100%;
//     padding-top: 15px;
//     background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_430.png),
//         linear-gradient(
//             to top left,
//             #032e15 0%,
//             #0b7916 33%,
//             #106a08 67%,
//             #0c1901 100%
//         );
//     background-position: bottom;
//     background-repeat: no-repeat;
//     background-size: cover;

//     @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
//         screen and (min-resolution: 192dpi) and (max-width: 767px),
//         screen and (min-resolution: 2dppx) and (max-width: 767px) {
//         background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_430@2x.png),
//             linear-gradient(
//                 to top left,
//                 #032e15 0%,
//                 #0b7916 33%,
//                 #106a08 67%,
//                 #0c1901 100%
//             );
//     }
//     @media screen and (min-width: 768px) {
//         background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_768.png),
//             linear-gradient(
//                 to top left,
//                 #032e15 0%,
//                 #0b7916 33%,
//                 #106a08 67%,
//                 #0c1901 100%
//             );
//         background-size: contain;
//         background-position: center;
//     }
//     @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
//         screen and (min-resolution: 192dpi) and (min-width: 768px),
//         screen and (min-resolution: 2dppx) and (min-width: 768px) {
//         background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_768@2x.png),
//             linear-gradient(
//                 to top left,
//                 #032e15 0%,
//                 #0b7916 33%,
//                 #106a08 67%,
//                 #0c1901 100%
//             );
//     }
//     @media screen and (min-width: 1200px) {
//         background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1200.png),
//             linear-gradient(
//                 to top left,
//                 #032e15 0%,
//                 #0b7916 33%,
//                 #106a08 67%,
//                 #0c1901 100%
//             );
//     }
//     @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
//         screen and (min-resolution: 192dpi) and (min-width: 1200px),
//         screen and (min-resolution: 2dppx) and (min-width: 1200px) {
//         background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1200@2x.png),
//             linear-gradient(
//                 to top left,
//                 #032e15 0%,
//                 #0b7916 33%,
//                 #106a08 67%,
//                 #0c1901 100%
//             );
//     }
//     @media screen and (min-width: 1440px) {
//         background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1440.png),
//             linear-gradient(
//                 to top left,
//                 #032e15 0%,
//                 #0b7916 33%,
//                 #106a08 67%,
//                 #0c1901 100%
//             );
//     }
//     @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
//         screen and (min-resolution: 192dpi) and (min-width: 1440px),
//         screen and (min-resolution: 2dppx) and (min-width: 1440px) {
//         background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1440@2x.png),
//             linear-gradient(
//                 to top left,
//                 #032e15 0%,
//                 #0b7916 33%,
//                 #106a08 67%,
//                 #0c1901 100%
//             );
//     }
//     @media screen and (min-width: 1920px) {
//         background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1920.png),
//             linear-gradient(
//                 to top left,
//                 #032e15 0%,
//                 #0b7916 33%,
//                 #106a08 67%,
//                 #0c1901 100%
//             );
//     }
//     @media screen and (min-device-pixel-ratio: 2) and (min-width: 1920px),
//         screen and (min-resolution: 192dpi) and (min-width: 1920px),
//         screen and (min-resolution: 2dppx) and (min-width: 1920px) {
//         background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1920@2x.png),
//             linear-gradient(
//                 to top left,
//                 #032e15 0%,
//                 #0b7916 33%,
//                 #106a08 67%,
//                 #0c1901 100%
//             );
//     }
// }

.background-image-second-slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    // padding-top: 15px;
    background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_430.png),
        linear-gradient(
            to top left,
            #032e15 0%,
            #0b7916 33%,
            #106a08 67%,
            #0c1901 100%
        );
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
        screen and (min-resolution: 192dpi) and (max-width: 767px),
        screen and (min-resolution: 2dppx) and (max-width: 767px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_430@2x.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
    }
    @media screen and (min-width: 768px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_768.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
        background-size: contain;
        background-position: center;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: linear-gradient(
            to top left,
            #032e15 0%,
            #0b7916 33%,
            #106a08 67%,
            #0c1901 100%
        );
    }
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(
            to top left,
            #032e15 0%,
            #0b7916 33%,
            #106a08 67%,
            #0c1901 100%
        );
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        background-image: linear-gradient(
            to top left,
            #032e15 0%,
            #0b7916 33%,
            #106a08 67%,
            #0c1901 100%
        );
    }
    @media screen and (min-width: 1440px) {
        background-image: linear-gradient(
            to top left,
            #032e15 0%,
            #0b7916 33%,
            #106a08 67%,
            #0c1901 100%
        );
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
        screen and (min-resolution: 192dpi) and (min-width: 1440px),
        screen and (min-resolution: 2dppx) and (min-width: 1440px) {
        background-image: linear-gradient(
            to top left,
            #032e15 0%,
            #0b7916 33%,
            #106a08 67%,
            #0c1901 100%
        );
    }
    @media screen and (min-width: 1920px) {
        background-image: linear-gradient(
            to top left,
            #032e15 0%,
            #0b7916 33%,
            #106a08 67%,
            #0c1901 100%
        );
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1920px),
        screen and (min-resolution: 192dpi) and (min-width: 1920px),
        screen and (min-resolution: 2dppx) and (min-width: 1920px) {
        background-image: linear-gradient(
            to top left,
            #032e15 0%,
            #0b7916 33%,
            #106a08 67%,
            #0c1901 100%
        );
    }
}

.background_overlay_second_slide {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_430.png);

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
        screen and (min-resolution: 192dpi) and (max-width: 767px),
        screen and (min-resolution: 2dppx) and (max-width: 767px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_430@2x.png);
    }
    @media screen and (min-width: 768px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_768.png);

        background-size: contain;
        background-position: center;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_768@2x.png);
    }
    @media screen and (min-width: 1200px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1200.png);
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1200@2x.png);
    }
    @media screen and (min-width: 1440px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1440.png);
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
        screen and (min-resolution: 192dpi) and (min-width: 1440px),
        screen and (min-resolution: 2dppx) and (min-width: 1440px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1440@2x.png);
    }
    @media screen and (min-width: 1920px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1920.png);
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1920px),
        screen and (min-resolution: 192dpi) and (min-width: 1920px),
        screen and (min-resolution: 2dppx) and (min-width: 1920px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1920@2x.png);
    }
}

.position_second_slide_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    // align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
        align-items: center;
    }
}

.slide-text-mobile {
    margin-top: 30%;
    color: var(--primary-white-color-text);
    font-family: var(--font-Cormorant);
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.8;
    letter-spacing: -0.05;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // row-gap: 10px;
    @media screen and (min-width: 430px) {
        font-size: 80px;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.position_mobile_first_words {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.position_mobile_first_words p:nth-child(1) {
    font-weight: 300;
    font-size: 60px;
    letter-spacing: -0.07;

    @media screen and (min-width: 430px) {
        font-size: 80px;
    }
}

.position_mobile_first_words p:nth-child(2) {
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0;
    margin-left: 8px;

    @media screen and (min-width: 430px) {
        font-size: 28px;
    }
}

.position_mobile_center_words p:nth-child(1) {
    width: 100%;
    text-align: right;
    font-size: 54px;
    margin-left: auto;
    font-weight: 400;
    @media screen and (min-width: 430px) {
        font-size: 60px;
    }
}

.position_mobile_center_words p:nth-child(2) {
    font-size: 42px;
    font-weight: 400;
    @media screen and (min-width: 430px) {
        font-size: 54px;
    }
}

.position_mobile_center_words p:nth-child(3) {
    font-size: 50px;
    font-weight: 500;
    mix-blend-mode: overlay;
    @media screen and (min-width: 430px) {
        font-size: 66px;
    }
}

.position_last_words {
    display: inline-flex;
    justify-content: center;
    height: 52px;
}

.position_last_words p:nth-child(1) {
    display: inline-block;
    // height: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;

    margin-bottom: auto;
}

.position_last_words p:nth-child(2) {
    margin-top: auto;
    font-size: 44px;

    font-weight: 400;
    @media screen and (min-width: 430px) {
        font-size: 48px;
    }
}

.slide-text_descktop {
    display: none;
    @media screen and (min-width: 768px) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;

        justify-content: center;
        // align-items: center;
        row-gap: 4px;

        color: var(--primary-white-color-text);
        font-family: var(--font-Cormorant);
        font-size: 60px;
        // font-weight: 100;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.01;
    }
}
.wrapper_top_part_words {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.first-block-words {
    display: inline-block;
    // max-width: 260px;
    // height: 80px;
    z-index: -1;

    text-align: right;
    font-weight: 300;
    line-height: 0.8;

    @media screen and (min-width: 1200px) {
        // max-width: 402px;
    }
    @media screen and (min-width: 1440px) {
        // max-width: 483px;
    }
    @media screen and (min-width: 1920px) {
        // max-width: 635px;
    }
}

.first-block-words p:nth-child(1) {
    font-size: 76px;
    letter-spacing: -0.07;

    @media screen and (min-width: 1200px) {
        font-size: 118px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 142px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 161px;
    }
}

.first-block-words p:nth-child(2) {
    font-size: 60px;
    letter-spacing: 0;
    margin-right: 20%;
    @media screen and (min-width: 1200px) {
        font-size: 90px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 112px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 140px;
    }
}

.second-block-words {
    // text-align: center;
    font-weight: 400;
    letter-spacing: -0.05;
    line-height: 0.84;
    @media screen and (min-width: 1200px) {
        margin-right: 2%;
    }
}

.second-block-words p:nth-child(1) {
    font-size: 60px;
    @media screen and (min-width: 1200px) {
        font-size: 90px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 108px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 135px;
    }
}

.second-block-words p:nth-child(2) {
    font-size: 15px;

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        display: block;
    }
    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 24px;
    }
}

.second-block-words p:nth-child(3) {
    font-size: 48px;

    @media screen and (min-width: 1200px) {
        font-size: 74px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 88px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 110px;
    }
}

.second-block-words p:nth-child(4) {
    font-size: 13px;

    display: block;
    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 24px;
    }
}

.third-block-words {
    width: 100%;
    line-height: 0.7;
    letter-spacing: -0.07;
    font-weight: 500;
    // height: 77px;
}
.third-block-words p {
    font-size: 120px;

    mix-blend-mode: overlay;

    @media screen and (min-width: 1200px) {
        font-size: 186px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 224px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 284px;
    }
}

.wrapper_button {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transform: translateY(-40%);
    @media screen and (min-width: 768px) {
        transform: translateY(-12%);
    }
}

.btn_to_call {
    border: none;
    position: relative;
    z-index: 1;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #dadc00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #04a427;
    font-family: var(--font-Monrope);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    @include animation;
    transition-property: color;
    // transform: rotate(-50deg);
    &:hover,
    &:focus {
        color: var(--primary-white-color);
        // transform: rotate(-20deg);
    }

    @media screen and (min-width: 768px) {
        width: 120px;
        height: 120px;
    }

    @media screen and (min-width: 1200px) {
        width: 145px;
        height: 145px;
        font-size: 18px;
    }
    @media screen and (min-width: 1440px) {
        width: 160px;
        height: 160px;
        font-size: 20px;
    }
    @media screen and (min-width: 1920px) {
        width: 192px;
        height: 192px;
        font-size: 24px;
    }
}

.icon-paw {
    width: 18px;
    height: 18px;

    @media screen and (min-width: 1440px) {
        width: 20px;
        height: 20px;
    }
    @media screen and (min-width: 1920px) {
        width: 28px;
        height: 28px;
    }
}

.icon_arrow_right_turned_45deg {
    width: 16px;
    height: 24px;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.btn_to_call svg {
    fill: currentColor;
}

.btn_to_call p {
    margin: 14px 0 6px 0;
    @media screen and (min-width: 1200px) {
        margin: 28px 0 14px 0;
    }
    @media screen and (min-width: 1920px) {
        margin: 38px 0 24px 0;
    }
}

.icon-arrow-to-right {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        width: 16px;
        height: 24px;
    }
    @media screen and (min-width: 1200px) {
        width: 20px;
        height: 30px;
    }
    @media screen and (min-width: 1920px) {
        width: 24px;
        height: 44px;
    }
}

.btn_to_call .icon-paw,
.btn_to_call .descr {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}
