.background-image-third-slide {
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_320.jpg);
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_320@2x.jpg);
    }
    @media screen and (min-width: 768px) {
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_1920.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_1920@2x.jpg);
    }
}

.gradient_third_slide {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        to top right,
        rgba(6, 99, 27, 0.7) 0%,
        rgba(6, 99, 27, 0) 100%
    );
    @media screen and (min-width: 1200px) {
        padding-bottom: 40px;
    }
}

.postion_third_slide_text {
    display: flex;
    height: 100%;
}

.third-slide-text {
    width: 100%;
    color: var(--primary-white-color-text);
    font-family: var(--font-Cormorant-Unicase);
    font-size: 42px;
    font-weight: 100;
    letter-spacing: -0.07;
    text-transform: uppercase;
    line-height: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: auto;
}

.third-slide_first-block-words {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.third-slide_first-block-words p:nth-child(1) {
    font-size: 56px;
    font-weight: 100;
    letter-spacing: -0.04;
    @media screen and (min-width: 768px) {
        font-size: 64px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 100px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 120px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 146px;
    }
}

.third-slide_first-block-words p:nth-child(2) {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0;
    font-weight: 100;
    display: block;
    text-align: center;
    @media screen and (min-width: 768px) {
        font-size: 46px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 70px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 86px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 98px;
    }
}

.third-slide_second-block-words p {
    font-size: 54px;
    font-weight: 400;
    letter-spacing: -0.05;
    mix-blend-mode: overlay;
    text-align: center;
    line-height: 0.8;
    @media screen and (min-width: 768px) {
        font-size: 140px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 220px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 256px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 328px;
    }
}

.third-slide_third-block-words {
    display: flex;
    max-width: 226px;
    @media screen and (min-width: 1200px) {
        max-width: 350px;
    }
    @media screen and (min-width: 1440px) {
        max-width: 420px;
    }
    @media screen and (min-width: 1920px) {
        max-width: 520px;
    }
}

.third-slide_third-block-words p {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.01;
    line-height: 0.96;
    @media screen and (min-width: 1200px) {
        font-size: 33px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 40px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 50px;
    }
}

.wrapper_btn_inside_text {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.wrapper_btn_inside_text .round_button {
    margin-top: 30px;
    @media screen and (min-width: 768px) {
        margin-top: 0px;
    }
}
