.hero {
  background-color: #224405;
  overflow: hidden;
}
.cube-wrapper {
  position: relative;
}
.cube-slider {
  position: relative;
  height: calc(100svh - 67px);
  @media screen and (min-width: 1200px) {
    height: calc(100svh - 74px);
  }
  @media screen and (min-width: 1400px) {
    height: calc(100svh - 80px);
  }
}
.cube-slider .swiper-slide {
  position: relative;
  user-select: none;
  aspect-ratio: 1 / 1;
}
.swiper-cube .swiper-cube-shadow {
  display: none;
}

.swiper-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  @media screen and (min-width: 1440px) {
    row-gap: 20px;
  }
}

.swiper-pagination.modified_pagination {
  position: static;
  transform: translate3d(0, 0, 0);
}

.swiper-pagination span {
  width: 12px;
  height: 12px;
  border: 1px solid #f3fff6;
  background-color: rgba(4, 164, 39, 0.8);
  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}

.swiper-pagination.swiper-pagination-bullets span.swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #f3fff6;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(27%, 24%);
    display: block;
    border-radius: 50%;
    background-color: white;
    content: '';
    width: 12px;
    height: 12px;
  }
  @media screen and (min-width: 1440px) {
    width: 24px;
    height: 24px;
    &::before {
      transform: translate(29%, 29%);
      display: block;
      width: 14px;
      height: 14px;
    }
  }
}

.swiper-pagination-total {
  position: static;
  font-size: 16px;
  font-family: var(--font-Manrope);
  font-weight: 300;
  opacity: 80%;
  color: #f3fff6;
}

.wrapp-bullet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  position: fixed;
  z-index: 40;
  bottom: 180px;
  right: 10px;
  width: auto;
  height: auto;
  @media screen and (min-width: 768px) {
    bottom: 190px;
  }
  @media screen and (min-width: 1440px) {
    bottom: 320px;
  }
}
