.wrapper_menu {
    background-color: rgba(243, 255, 246, 0.9);
    border-radius: 0 20px 20px 0;
    width: 300px;
    height: 100%;
    padding: 20px 20px 30px 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    @include animation;
    transition-property: transform;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    @media screen and (min-width: 768px) {
        width: 384px;
    }
}

.wrapper_menu::-webkit-scrollbar {
    width: 4px;
}

.wrapper_menu::-webkit-scrollbar-track {
    background: #e2ffe9;
    border: 1px solid rgba(4, 164, 39, 0.4);
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrapper_menu::-webkit-scrollbar-thumb {
    background-color: #04a427;
    border-radius: 80px;
    width: 8px;
    height: 5px;
}

.is-open {
    transform: translate(0, 0);
    @include animation;
    transition-property: transform;
}

.thumb_logo_mobile_menu {
    width: 144px;
    height: 44px;
    @media screen and (min-width: 768px) {
        width: 166px;
        height: 54px;
    }
}

.thumb_logo_mobile_menu img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.wrapper_logo_mobile_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_close_menu {
    // position: absolute;
    // top: 0;
    // right: 0;
    // transform: translate(-24px, 20px);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 9 0 rgba(37, 39, 34, 0.08);
    background-color: #fff;
    color: #04a427;
    display: flex;
    align-items: center;
    justify-content: center;
    // @media screen and (min-width: 768px) {
    //     width: 44px;
    //     height: 44px;
    // }
}

.btn_close_menu svg {
    width: 15px;
    height: 15px;
    fill: currentColor;
    // @media screen and (min-width: 768px) {
    //     width: 18px;
    //     height: 18px;
    // }
}

.wrapper_content_mobile_menu {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-top: 1px solid #04a427;
    border-bottom: 1px solid #04a427;
    @media screen and (min-width: 768px) {
        padding-top: 30px;
    }
}

.wrapper_links_menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.wrapper_links_menu a {
    color: #095119;
    font-size: 16px;
    letter-spacing: 0.01;
    line-height: 1;
    font-weight: 500;
}

.wrapper_links_menu a:first-child {
    color: #095119;
}

.wrapper_links_menu div {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.phone_menu {
    color: #04a427;
    font-size: 22px;
    letter-spacing: 0.01;
    line-height: 1;
    font-weight: 500;
    margin-left: 8px;
}

.wrapper_phone_menu {
    margin-top: 24px;
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px) {
        margin-top: 30px;
    }
}

.wrapper_phone_menu svg {
    width: 18px;
    height: 18px;
    fill: #04a427;
}

.btn_select_phone {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #04a427;
    margin-left: 8px;
}

.btn_select_phone svg {
    width: 14px;
    height: 14px;
    fill: currentColor;
}

.text_menu {
    margin-top: 24px;
    color: #095119;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.2;
    max-width: 250px;
    @media screen and (min-width: 768px) {
        max-width: 350px;
    }
}

.btn_reception {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #04a427;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 18px;
    border-radius: 90px;
    font-size: 16px;
    @media screen and (min-width: 768px) {
        margin-top: 20px;
        font-size: 18px;
    }
}

.btn_reception svg {
    width: 12px;
    height: 12px;
    fill: currentColor;
    margin-left: 8px;
}

.text_frendship {
    margin-top: 35px;
    color: #095119;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.2;
    @media screen and (min-width: 768px) {
        font-size: 15px;
    }
}

.list_social_link_mobile_menu {
    display: flex;
    column-gap: 14px;
    margin-top: 15px;
}

.link_social_mobile_menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #fff;
    color: #04a427;
    box-shadow: 0 0 4.14 0 rgba(180, 174, 167, 0.25);
    @media screen and (min-width: 768px) {
        width: 42px;
        height: 42px;
    }
}

.link_social_mobile_menu svg {
    width: 22px;
    height: 22px;
    fill: currentColor;
    @media screen and (min-width: 768px) {
        width: 24px;
        height: 24px;
    }
}

.text_develop {
    margin-top: 25px;
    color: #095119;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.2;
}

.text_develop a {
    color: #095119;
    font-weight: 500;
    text-decoration: underline;
}

.btn_toggle_lang.modified_btn_toggle_lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: auto;
    // margin-right: 10px;
    color: #095119;
    margin-left: auto;
}

.btn_toggle_lang.modified_btn_toggle_lang span {
    display: block;
    font-size: 13px;
    color: #095119;
    // margin-left: 4px;

}

.switch_lang.modified_btn_toggle_lang {
    display: block;
    width: 40px;
    height: 20px;
    border: 1px solid #095119;
    border-radius: 25px;
    position: relative;
}

.switch_lang.modified_btn_toggle_lang::after {
    display: block;
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #095119;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(4px, 2px);
    @include animation;
    transition-property: transform;
}

.toggle.switch_lang.modified_btn_toggle_lang::after {
    transform: translate(20px, 2px);
}
