.header_section {
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: 0 4 7 0 rgba(6, 99, 27, 0.2);
    backdrop-filter: blur(20);
    height: 67px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--header-background-color);

    @media screen and (min-width: 1200px) {
        height: 74px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    @media screen and (min-width: 1400px) {
        height: 80px;
        // height: 100px;
    }
}

.navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
        align-items: center;
    }
}

.wrapper_nav_links {
    display: flex;
}

.link_nav {
    display: none;
    @include animation;
    &:hover,
    &:focus {
        color: #dadc00;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-white-color);
        font-family: var(--font-Manrope);
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.01;
        line-height: 0.81;
    }
    @media screen and (min-width: 1920px) {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.01;
        line-height: 1.07;
    }
}

.link_nav:first-child {
    color: #dadc00;
}

.link_nav:not(:first-child) {
    margin-left: 24px;
}

.icon_locaction {
    margin-right: 4px;
    fill: none;
    stroke: currentColor;
}

.logo {
    display: flex;
    // flex-direction: column;
    align-items: center;
    color: var(--primary-white-color);
    @include animation;
    &:hover,
    &:focus {
        color: #dadc00;
    }
    @media screen and (min-width: 1200px) {
        // margin-left: 10%;
        // margin: 0 auto;
    }
    @media screen and (min-width: 1440px) {
        // flex-direction: column;
        // margin: 0 140px;
    }
}

.logo_icon {
    display: inline-block;
    width: 50px;
    height: 46px;
    fill: currentColor;
    margin-right: 8px;
    @media screen and (min-width: 1200px) {
        width: 56px;
        height: 46px;
    }
    @media screen and (min-width: 1440px) {
        width: 50px;
        height: 50px;
    }
}

.logo_icon_title {
    display: inline-block;
    fill: currentColor;
    width: 84px;
    height: 20px;
    @media screen and (min-width: 1200px) {
        width: 113px;
        height: 27px;
    }
    @media screen and (min-width: 1440px) {
        width: 120px;
        height: 33px;
    }
}

.logo_img {
    // width: 140px;
    // height: 100%;
}

.phone {
    display: none;
    @media screen and (min-width: 768px) {
        height: 22px;
        display: flex;
        align-items: center;
        color: var(--primary-white-color);
        font-family: var(--font-Manrope);
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.01;
        @include animation;
        &:hover,
        &:focus {
            color: #dadc00;
        }
    }
    @media screen and (min-width: 1440px) {
        font-size: 18px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 20px;
    }
}

.phone_icon {
    margin-right: 4px;
    width: 14px;
    height: 14px;
    fill: currentColor;
    @media screen and (min-width: 1920px) {
        width: 16px;
        height: 16px;
    }
}

.btn_wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: 4px;
    @media screen and (min-width: 768px) {
        padding-top: 0;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 0;
    }
}

.btn_wrapper .position:not(:first-child) {
    margin-left: 8px;

    @media screen and (min-width: 768px) {
        margin-left: 24px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 24px;
    }
}

.btn {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: var(--primary-white-color);
}

.btn_select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    margin-left: 6px;
    color: var(--primary-white-color);
    @include animation;
    transition-property: color;
    &:hover,
    &:focus {
        color: #dadc00;
    }
}

.chekbox_icon {
    fill: currentColor;
}

// .icon_select {
//     margin-left: 4px;
//     fill: currentColor;
// }

.btn_toggle_lang {
    display: none;
    @media screen and (min-width: 1200px) {
        // margin-right: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // width: auto;
        // height: auto;
        font-family: var(--font-Manrope);
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 1.27;
        letter-spacing: 0;
        width: 90px;
        // margin-right: 26px;
        // margin-right: 10px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 12px;
    }
    @media screen and (min-width: 1920px) {
        // margin-right: 22px;
    }
}

.btn_toggle_lang span:first-child {
    display: none;

    @media screen and (min-width: 1200px) {
        // opacity: 50%;
        display: block;
        // margin-right: 4px;
    }
}

.inactive {
    opacity: 50%;
    @include animation;
    transition-property: opacity;
}

.switch_lang {
    display: block;
    width: 50px;
    height: 24px;
    border: 1px solid white;
    border-radius: 25px;
    position: relative;
}

.switch_lang::after {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(4px, 3px);
    @include animation;
    transition-property: transform;
}

.toggle.switch_lang::after {
    transform: translate(28px, 3px);
}

.btn.btn_call {
    position: relative;
    color: white;
    width: 32px;
    height: 32px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include animation;
    transition-property: color, border;
    &:hover,
    &:focus {
        color: #dadc00;
        border-color: #dadc00;
    }
    @media screen and (min-width: 768px) {
        border: 1px solid var(--primary-white-color);
        padding-left: 27px;
        height: 25px;
        border-radius: 30px;
        width: 118px;
        justify-content: flex-start;
    }
    @media screen and (min-width: 1200px) {
        padding-left: 29px;
        // margin: 0 0 0 12px;
    }
    @media screen and (min-width: 1400px) {
        padding-left: 40px;
        width: 150px;
        height: 35px;
    }
    @media screen and (min-width: 1920px) {
        padding-left: 48px;
        width: 160px;
        height: 44px;
    }
}

.btn_call_text {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        font-family: var(--font-Manrope);
        font-weight: 600;
        font-size: 15px;
        line-height: 0.98;
        letter-spacing: 0.01;
        @include animation;
        transition-property: transform;
    }
    @media screen and (min-width: 1440px) {
        font-size: 18px;
        // line-height: 17.8;
    }
}

.btn_call:hover .btn_call_text,
.btn-call:focus .btn_call_text {
    @media screen and (min-width: 768px) {
        transform: translateX(-22px);
    }
    @media screen and (min-width: 1440px) {
        transform: translateX(-30px);
    }
    @media screen and (min-width: 1920px) {
        transform: translateX(-36px);
    }
}

.btn_call:hover .wrapper_icon_call,
.btn-call:focus .wrapper_icon_call {
    border-color: #dadc00;
}

.btn_call:hover .icon_call,
.btn-call:focus .icon_call {
    border-color: #dadc00;
    background-color: #dadc00;
}

.wrapper_icon_call {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid var(--primary-white-color);
    border-radius: 50%;
    @include animation;
    transition-property: transform;
    @media screen and (min-width: 768px) {
        position: absolute;
        top: -1px;
        left: -1px;
        z-index: 2;

        width: 25px;
        height: 25px;

        // transform: translate(2px, 2px);
        // margin-right: 6px;
    }
    // @media screen and (min-width: 1200px) {
    //     width: 36px;
    //     height: 36px;
    // }
    @media screen and (min-width: 1440px) {
        width: 35px;
        height: 35px;
    }
    @media screen and (min-width: 1920px) {
        height: 44px;
        width: 44px;
    }
}

.icon_call {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--primary-white-color);
    background-color: var(--primary-white-color);
    // background-color: #dadc00;
    background-image: url(../images/background-images/header/icon_call.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @include animation;
    transition-property: border-color, background-color;
    @media screen and (min-width: 768px) {
        width: 18px;
        height: 18px;
    }
    @media screen and (min-width: 1440px) {
        width: 27px;
        height: 27px;
    }
    @media screen and (min-width: 1920px) {
        width: 35px;
        height: 35px;
    }
}

.btn_call:hover .wrapper_icon_call,
.btn-call:focus .wrapper_icon_call {
    @media screen and (min-width: 768px) {
        transform: translateX(93px) rotate(360deg);
    }
    // @media screen and (min-width: 1200px) {
    //     transform: translate(111px, 2px) rotate(360deg);
    // }
    @media screen and (min-width: 1440px) {
        transform: translateX(116px) rotate(360deg);
    }
    @media screen and (min-width: 1920px) {
        transform: translateX(116px) rotate(360deg);
    }
}

.btn_burger {
    background-color: var(--primary-white-color);
    color: #04a427;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1200px) {
        display: none;
    }
    @include animation;
    &:hover,
    &:focus {
        color: #dadc00;
    }
}

.burger_icon {
    fill: currentColor;
}
