:root {
  --header-background-color: rgb(6, 99, 27, 75%);
  --font-Cormorant: 'Cormorant', serif;
  --font-Manrope: 'Manrope', serif;
  --font-Cormorant-Unicase: 'Cormorant Unicase', serif;
  --primary-white-color: #ffffff;
  --primary-white-color-text: #f6fff8;
}
