<section class="section_about" id="about_company">
    <div class="container">
        <p class="title_about">Kомпанiя у цифрах</p>
        <p class="about_descr">лікуємо, стрижемо, надаємо допомогу та <span>піклуємося про вашого улюбленця</span> з
            щирою любов'ю
            та
            професіоналізмом! Ваш
            пухнастик завжди у надійних руках</p>

        <ul class="list_services_rendered" id="numbers">
            <li class="list_services_rendered_item">
                <div class="positon_content_service_render_item">
                    <div class="postion_icon_increase">
                        <span class="total_number number">30000</span>
                        <span class="wrapper_icon_increase">
                            <svg class="icon_increase">
                                <use href="./images/sprite/sprite.svg#icon-plus"></use>
                            </svg>
                        </span>

                    </div>

                    <p class="descr-service">Проведенно успiшних операцiй у тварин</p>
                </div>
            </li>
            <li class="list_services_rendered_item">
                <div class="positon_content_service_render_item">
                    <div class="postion_icon_increase">
                        <span class="total_number number">142500</span>
                        <span class="wrapper_icon_increase">
                            <svg class="icon_increase">
                                <use href="./images/sprite/sprite.svg#icon-plus"></use>
                            </svg>
                        </span>
                    </div>
                    <p class="descr-service">Здiйснено прийомів, консультацій, діагностик та інших спеціалізованих дій з
                        тваринами</p>
                </div>
            </li>
            <li class="list_services_rendered_item">
                <div class="positon_content_service_render_item">
                    <div class="postion_icon_increase">

                        <span class="total_number number">15500</span>
                        <span class="wrapper_icon_increase">
                            <svg class="icon_increase">
                                <use href="./images/sprite/sprite.svg#icon-plus"></use>
                            </svg>
                        </span>
                    </div>
                    <p class="descr-service">Врятованних котiв</p>
                </div>
            </li>
            <li class="list_services_rendered_item">
                <div class="positon_content_service_render_item">
                    <div class="postion_icon_increase">
                        <span class="total_number number">8350</span>
                        <span class="wrapper_icon_increase">

                            <svg class="icon_increase">
                                <use href="./images/sprite/sprite.svg#icon-plus"></use>
                            </svg>
                        </span>
                    </div>
                    <p class="descr-service">Прооперованних собак</p>
                </div>
            </li>
        </ul>
    </div>
</section>