<section class="section_about" id="section_about">
    <div class="container">
        <div class="position_title_description hidden-text">
            <p class="section_title title_about ">Kомпанiя у цифрах</p>
            <h2 class="about_descr ">лікуємо,консультуємо, стрижемо, надаємо допомогу
                та
                <span>піклуємося
                    про вашого
                    улюбленця</span>
                з
                щирою любов'ю
                та
                професіоналізмом! Ваш
                пухнастик завжди у надійних руках!
            </h2>
        </div>
        <ul class="list_services_rendered" id="numbers">
            <li class="list_services_rendered_item hidden-blockLeft">
                <div class="postion_icon_increase">
                    <p class="total_number number">30000</p>
                    <div class="wrapper_icon_increase">
                        <svg class="icon_increase">
                            <use href="./images/sprite/sprite.svg#icon-plus"></use>
                        </svg>
                    </div>
                </div>
                <p class="descr-service">Проведенно успiшних операцiй у тварин</p>
            </li>
            <li class="list_services_rendered_item hidden-blockRight">
                <div class="postion_icon_increase">
                    <p class="total_number number">242500</p>
                    <div class="wrapper_icon_increase">
                        <svg class="icon_increase">
                            <use href="./images/sprite/sprite.svg#icon-plus"></use>
                        </svg>
                    </div>
                </div>
                <p class="descr-service">Здiйснено прийомів, консультацій, діагностик та інших спеціалізованих дій з
                    тваринами</p>
            </li>
            <li class="list_services_rendered_item hidden-blockLeft">
                <div class="postion_icon_increase">
                    <p class="total_number number">15500</p>
                    <div class="wrapper_icon_increase">
                        <svg class="icon_increase">
                            <use href="./images/sprite/sprite.svg#icon-plus"></use>
                        </svg>
                    </div>
                </div>
                <p class="descr-service">Врятованних котiв</p>
            </li>
            <li class="list_services_rendered_item hidden-blockRight">
                <div class="postion_icon_increase">
                    <p class="total_number number">8350</p>
                    <div class="wrapper_icon_increase">
                        <svg class="icon_increase">
                            <use href="./images/sprite/sprite.svg#icon-plus"></use>
                        </svg>
                    </div>
                </div>
                <p class="descr-service">Прооперованних собак</p>
            </li>
        </ul>
    </div>
</section>