<section class="background_section_after_treat">
    <div class="section_after_treat section_after_treat_modified_border">


        <div class="container">
            <p class="first_descr_after_treat hidden-text">Коти стають дуже смiливими</p>
            <div class="gallery_after_treat">
                <div class="item_gallery_after_treat hidden-blockLeft">
                    <div class="after_treat_thumb_foto cat_with_glasses">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/after_treat/cat_with_glasses_1920.jpg 1x, ./images/content-images/after_treat/cat_with_glasses_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/after_treat/cat_with_glasses_768.jpg 1x, ./images/content-images/after_treat/cat_with_glasses_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/after_treat/cat_with_glasses@2x.jpg 2x">
                            <img src="./images/content-images/after_treat/cat_with_glasses.jpg" />
                        </picture>
                    </div>
                </div>

                <div class="item_gallery_after_treat hidden-blockRight">

                    <div class="after_treat_thumb_foto cat_pilot">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/after_treat/cat_pilot_1920.jpg 1x, ./images/content-images/after_treat/cat_pilot_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/after_treat/cat_pilot_768.jpg 1x, ./images/content-images/after_treat/cat_pilot_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/after_treat/cat_pilot@2x.jpg 2x">
                            <img src="./images/content-images/after_treat/cat_pilot.jpg" />
                        </picture>
                    </div>
                </div>

                <div class="item_gallery_after_treat hidden-blockLeft">

                    <div class="after_treat_thumb_foto cat_with_ball">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/after_treat/cat_with_ball_1920.jpg 1x, ./images/content-images/after_treat/cat_with_ball_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/after_treat/cat_with_ball_768.jpg 1x, ./images/content-images/after_treat/cat_with_ball_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/after_treat/cat_with_ball@2x.jpg 2x">
                            <img src="./images/content-images/after_treat/cat_with_ball.jpg" />
                        </picture>
                    </div>
                </div>
                <div class="item_gallery_after_treat hidden-blockLeft">
                    <p class="second_descr_after_treat hidden-text">Чи сильно iгривими</p>
                    <div class="after_treat_thumb_foto cat_basketball_player">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/after_treat/cat_basketball_player_1920.jpg 1x, ./images/content-images/after_treat/cat_basketball_player_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/after_treat/cat_basketball_player_768.jpg 1x, ./images/content-images/after_treat/cat_basketball_player_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/after_treat/cat_basketball_player@2x.jpg 2x">
                            <img src="./images/content-images/after_treat/cat_basketball_player.jpg" />
                        </picture>
                    </div>
                    <div class="wrapper_block_btn_after_treat desktop">
                        <p class="text_btn_after_treat"><span>Zoowild</span> — лікування без стресу та болю</p>
                        <button type="button" class="round_button" data-open-modal-form><svg class="icon_paw">
                                <use href="./images/sprite/sprite.svg#icon-paw"></use>
                            </svg>
                            <span class="text_btn_sign_up_for">Записатися на прийом</span>
                            <svg class="icon_arrow_right">
                                <use href="./images/sprite/sprite.svg#icon-arrow_right_v2"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="item_gallery_after_treat hidden-blockRight">
                    <p class="fird_descr_after_treat hidden-text">Так, коти теж можуть лiтати пicля прийому до нас</p>
                    <div class="after_treat_thumb_foto flying_cat">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/after_treat/flying_cat_1920.jpg 1x, ./images/content-images/after_treat/flying_cat_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/after_treat/flying_cat_768.jpg 1x, ./images/content-images/after_treat/flying_cat_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/after_treat/flying_cat@2x.jpg 2x">
                            <img src="./images/content-images/after_treat/flying_cat.jpg" />
                        </picture>
                    </div>
                </div>

            </div>

            <div class="wrapper_block_btn_after_treat mobile hidden-blockRight"">
                <p class=" text_btn_after_treat"><span>Zoowild</span> — лікування без стресу та болю</p>
                <button type="button" class="round_button" data-open-modal-form><svg class="icon_paw">
                        <use href="./images/sprite/sprite.svg#icon-paw"></use>
                    </svg>
                    <span class="text_btn_sign_up_for">Записатися на прийом</span>
                    <svg class="icon_arrow_right">
                        <use href="./images/sprite/sprite.svg#icon-arrow_right_v2"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>