<div class="wrapper_postion_callsms">
    <div class="wrapper_btns_callsms">
        <div class="wrapper_blok_location">
            <button type="button" class="btn_callsms location_btn" data-open-location-block>
                <svg class="" width="" height="">
                    <use href="./images/sprite/sprite.svg#icon-location-clinic"></use>
                </svg>
            </button>
            <div class="location_block" data-location-block>
                <div class="thumb_poster_block_location">
                    <picture>
                        <source media="(min-width:320px)"
                            srcset="./images/content-images/location_block/location_poster@2x.jpg 2x">
                        <img src="./images/content-images/location_block/location_poster.jpg" />
                    </picture>

                </div>
                <ul class="list_clinic_contacst_location">
                    <li class="item_list_clinic_card">
                        <div class="wrapper_reception_information_clinic_contacts">
                            <p class="number_item_clinic_contacts">01</p>
                            <p class="reception_information_clinic">
                                <svg class="">
                                    <use href="./images/sprite/sprite.svg#icon-time">
                                    </use>
                                </svg>
                                Пн-Пт: <span> 09:00-18:00</span>
                            </p>
                        </div>
                        <a class="phone_number_clinic_block_location" href="tel:+38 (066) 986 12 98">+38 (066) 986 12
                            98</a>
                        <div class="wrapper_clinic_address">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-location-clinic">
                                </use>
                            </svg>
                            <p class="clinic_address">
                                М.Днiпро, Вул. Мазепи 39
                            </p>
                        </div>
                        <button class="btn_show_map" type="button" data-open-map id="01">Показати на мапі</button>
                    </li>
                    <li class="item_list_clinic_card">
                        <div class="wrapper_reception_information_clinic_contacts">
                            <p class="number_item_clinic_contacts">02</p>
                            <p class="reception_information_clinic">
                                <svg class="">
                                    <use href="./images/sprite/sprite.svg#icon-time">
                                    </use>
                                </svg>
                                Пн-Пт: <span> 09:00-18:00</span>
                            </p>
                        </div>
                        <a class="phone_number_clinic_block_location" href="tel:+38 (066) 861 12 90">+38 (066) 861 12
                            90</a>
                        <div class="wrapper_clinic_address">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-location-clinic">
                                </use>
                            </svg>
                            <p class="clinic_address">
                                М.Днiпро, Вул. Новоорловська 4
                            </p>
                        </div>
                        <button class="btn_show_map" type="button" data-open-map id="02">Показати на мапі</button>
                    </li>
                    <li class="item_list_clinic_card">
                        <div class="wrapper_reception_information_clinic_contacts">
                            <p class="number_item_clinic_contacts">03</p>
                            <p class="reception_information_clinic">
                                <svg class="">
                                    <use href="./images/sprite/sprite.svg#icon-time">
                                    </use>
                                </svg>
                                Пн-Пт: <span> 09:00-18:00</span>
                            </p>
                        </div>
                        <a class="phone_number_clinic_block_location" href="tel:+38 (066) 986 12 98">+38 (066) 986 12 98
                        </a>
                        <div class="wrapper_clinic_address">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-location-clinic">
                                </use>
                            </svg>
                            <p class="clinic_address">
                                М.Днiпро, Вул. Данила Галицького 25
                            </p>
                        </div>
                        <button class="btn_show_map" type="button" data-open-map id="03">Показати на мапі</button>
                    </li>
                </ul>
                <div class="wrapper_btn_close_block_laction">

                    <button type="button" class="btn_close_social_list_clinic" data-close-location-block>
                        <svg class="" width="" height="">
                            <use href="./images/sprite/sprite.svg#icon_close"></use>
                        </svg>
                    </button>
                </div>

            </div>
        </div>

        <div class="wrapper_btn_contacts_modal">
            <button type="button" class="btn_callsms" data-open-modal-contacts>
                <svg class="" width="" height="">
                    <use href="./images/sprite/sprite.svg#icon-phone"></use>
                </svg>
            </button>

            <div class="wrapper_modal_contacts" data-modal-contacts>


                <div class="modal_contacts">
                    <div class="thumb_img_cat">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/contacts/cat_block_contact_communication_1920.jpg 1x, ./images/content-images/contacts/cat_block_contact_communication_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/contacts/cat_block_contact_communication_768.jpg 1x,./images/content-images/contacts/cat_block_contact_communication_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/contacts/cat_block_contact_communication.jpg 2x">
                            <img src="./images/content-images/contacts/cat_block_contact_communication.jpg" />
                        </picture>
                    </div>

                    <div class="wrapper_reception_information">
                        <p class="reception_information">Запис на прийом</p>
                        <p class="reception_information">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-time">
                                </use>
                            </svg>00:00-24:00
                        </p>
                    </div>
                    <div class="wrapper_phone_contacts_communication">
                        <a class="link phone_contacts_communication" href="tel:+38 (063) 230 60 07">+38 (063) 230 60
                            07</a>
                        <a class="link phone_contacts_communication" href="tel:+38 (067) 986 12 78">+38 (067) 986 12
                            78</a>
                    </div>
                    <div class="wrapper_list_text_social_link">
                        <a class="link text_social_link" href="">Viber</a>
                        <a class="link text_social_link" href="">WathsApp</a>
                        <a class="link text_social_link" href="">Telegram</a>
                    </div>

                </div>

                <div class="wrapper_btn_close_block_laction">

                    <button type="button" class="btn_close_social_list_clinic" data-close-modal-contacts>
                        <svg class="" width="" height="">
                            <use href="./images/sprite/sprite.svg#icon_close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="wrapper_btn_chat_social_list">
            <button type="button" class="btn_callsms message" data-social-list-clinic-open>
                <svg class="" width="" height="">
                    <use href="./images/sprite/sprite.svg#icon-message"></use>
                </svg>
            </button>
            <ul class="list_social_link_clinic" data-social-list-clinic>
                <li><a href="" class="item_list_social_link_clinic instagram">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-instagram_v2">
                            </use>
                        </svg></a>
                    </a>
                </li>
                <li><a href="" class="item_list_social_link_clinic email">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-mail_v2">
                            </use>
                        </svg></a>
                </li>
                <li><a href="" class="item_list_social_link_clinic messenger">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-messenger_v2">
                            </use>
                        </svg></a>
                </li>
                <li><a href="" class="item_list_social_link_clinic whatsapp">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-whatsapp_v2">
                            </use>
                        </svg></a>
                </li>
                <li><a href="" class="item_list_social_link_clinic viber">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-viber_v2">
                            </use>
                        </svg></a>
                </li>
                <li><a href="" class="item_list_social_link_clinic telegram">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-telegram_v2">
                            </use>
                        </svg></a>
                </li>
                <li>
                    <button type="button" class="btn_close_social_list_clinic" data-social-list-clinic-close>
                        <svg class="" width="" height="">
                            <use href="./images/sprite/sprite.svg#icon_close"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>

        <button type="button" class="btn_callsms btn-to-top">
            <svg class="" width="" height="">
                <use href="./images/sprite/sprite.svg#icon-arrow-up"></use>
            </svg>
        </button>




    </div>

</div>