<div class="wrapper_postion_callsms">
    <div class="wrapper_btns_callsms">
        <button type="button" class="btn_callsms">
            <svg class="" width="" height="">
                <use href="./images/sprite/sprite.svg#icon-location-clinic"></use>
            </svg>
        </button>
        <button type="button" class="btn_callsms">
            <svg class="" width="" height="">
                <use href="./images/sprite/sprite.svg#icon-phone"></use>
            </svg>
        </button>

        <button type="button" class="btn_callsms message">
            <svg class="" width="" height="">
                <use href="./images/sprite/sprite.svg#icon-message"></use>
            </svg>
        </button>

    </div>

</div>