<section class="section_contacts" id="section_contacts">
    <div class="borders_section_contacts">
        <div class="container">
            <div class="postion_title_descr_section_contacts">
                <p class="section_title title_section_contacts">Контакти</p>
                <p class="descr_section_contacts">Ми завждi <span>вам радi</span> Та готовi з турботою допомогти
                    покращити
                    <span>стан здоров’я вашого
                        улюбленця</span>
                </p>
            </div>

            <ul class="list_clinic_contacts desktop">
                <li class="item_list_clinic_contacts">
                    <div class="wrapper_reception_information_clinic_contacts">
                        <p class="number_item_clinic_contacts">01</p>
                    </div>
                    <a href="tel:+38 (066) 986 12 98" class="link phone_number_clinic" target="_blank"
                        rel="noopener noreferrer">+38 (066) 986 12 98</a>
                    <div class="wrapper_clinic_address">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-location-clinic">
                            </use>
                        </svg>
                        <p class="clinic_address">
                            М.Днiпро, Вул. Мазепи 39
                        </p>
                    </div>
                    <div class="wrapper_btn_reseption_information">
                        <button class="btn_show_map" type="button" data-open-map id="01">Показати на мапі</button>
                        <p class="reception_information_clinic">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-time">
                                </use>
                            </svg>
                            Пн-Пт: <span> 09:00-18:00</span>
                        </p>
                    </div>
                </li>
                <li class="item_list_clinic_contacts">
                    <div class="wrapper_reception_information_clinic_contacts">
                        <p class="number_item_clinic_contacts">02</p>

                    </div>
                    <a href="tel:+38 (066) 861 12 90" class="link phone_number_clinic" target="_blank"
                        rel="noopener noreferrer">+38 (066) 861 12 90</a>
                    <div class="wrapper_clinic_address">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-location-clinic">
                            </use>
                        </svg>
                        <p class="clinic_address">
                            М.Днiпро, Вул. Новоорловська 4
                        </p>
                    </div>
                    <div class="wrapper_btn_reseption_information">

                        <button class="btn_show_map" type="button" data-open-map id="02">Показати на мапі</button>
                        <p class="reception_information_clinic">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-time">
                                </use>
                            </svg>
                            Пн-Пт: <span> 09:00-18:00</span>
                        </p>
                    </div>
                </li>
                <li class="item_list_clinic_contacts">
                    <div class="wrapper_reception_information_clinic_contacts">
                        <p class="number_item_clinic_contacts">03</p>

                    </div>
                    <a href="tel:+38 (066) 986 12 98" class="link phone_number_clinic" target="_blank"
                        rel="noopener noreferrer">+38 (066) 986 12 98</a>
                    <div class="wrapper_clinic_address">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-location-clinic">
                            </use>
                        </svg>
                        <p class="clinic_address">
                            М.Днiпро, Вул. Данила Галицького 25
                        </p>
                    </div>
                    <div class="wrapper_btn_reseption_information">
                        <button class="btn_show_map" type="button" data-open-map id="03">Показати на мапі</button>
                        <p class="reception_information_clinic">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-time">
                                </use>
                            </svg>
                            Пн-Пт: <span> 09:00-18:00</span>
                        </p>
                    </div>
                </li>
            </ul>

            <div class="wrapper_block_contacts_communication_list_clinic">

                <div class="block_contacts_communication">
                    <div class="thumb_img_cat">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/contacts/cat_block_contact_communication_1920.jpg 1x, ./images/content-images/contacts/cat_block_contact_communication_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/contacts/cat_block_contact_communication_768.jpg 1x,./images/content-images/contacts/cat_block_contact_communication_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/contacts/cat_block_contact_communication.jpg 2x">
                            <img src="./images/content-images/contacts/cat_block_contact_communication.jpg" />
                        </picture>
                    </div>

                    <div class="wrapper_reception_information">
                        <p class="reception_information">Запис на прийом</p>
                        <p class="reception_information">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-time">
                                </use>
                            </svg>00:00-24:00
                        </p>
                    </div>
                    <div class="wrapper_phone_contacts_communication">

                        <a class="link phone_contacts_communication" href="tel:+380632306007" target="_blank"
                            rel="noopener noreferrer">+38 (063) 230 60
                            07</a>
                        <a class="link phone_contacts_communication" href="tel:+380679861278" target="_blank"
                            rel="noopener noreferrer">+38 (067) 986 12
                            78</a>
                    </div>
                    <div class="wrapper_list_text_social_link">
                        <a class="link text_social_link" href="viber://chat?number=%2B380632306007" target="_blank"
                            rel="noopener noreferrer">Viber</a>
                        <a class="link text_social_link" href="https://wa.me/380632306007" target="_blank"
                            rel="noopener noreferrer">WathsApp</a>
                        <a class="link text_social_link" href="https://t.me/SvZoowild" target="_blank"
                            rel="noopener noreferrer">Telegram</a>
                    </div>

                </div>


                <ul class="list_clinic_contacts mobile">
                    <li class="item_list_clinic_contacts">
                        <div class="wrapper_reception_information_clinic_contacts">
                            <p class="number_item_clinic_contacts">01</p>
                            <p class="reception_information_clinic">
                                <svg class="">
                                    <use href="./images/sprite/sprite.svg#icon-time">
                                    </use>
                                </svg>
                                Пн-Пт: <span> 09:00-18:00</span>
                            </p>
                        </div>
                        <a class="link phone_number_clinic" href="tel:+38 (066) 986 12 98">+38 (066) 986 12 98</a>
                        <div class="wrapper_clinic_address">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-location-clinic">
                                </use>
                            </svg>
                            <p class="clinic_address">
                                М.Днiпро, Вул. Мазепи 39
                            </p>
                        </div>
                        <button class="btn_show_map" type="button" data-open-map id="01">Показати на мапі</button>
                    </li>
                    <li class="item_list_clinic_contacts">
                        <div class="wrapper_reception_information_clinic_contacts">
                            <p class="number_item_clinic_contacts">02</p>
                            <p class="reception_information_clinic">
                                <svg class="">
                                    <use href="./images/sprite/sprite.svg#icon-time">
                                    </use>
                                </svg>
                                Пн-Пт: <span> 09:00-18:00</span>
                            </p>
                        </div>
                        <a class="link phone_number_clinic" href="tel:+38 (066) 861 12 90">+38 (066) 861 12 90</a>
                        <div class="wrapper_clinic_address">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-location-clinic">
                                </use>
                            </svg>
                            <p class="clinic_address">
                                М.Днiпро, Вул. Новоорловська 4
                            </p>
                        </div>
                        <button class="btn_show_map" type="button" data-open-map id="02">Показати на мапі</button>
                    </li>
                    <li class="item_list_clinic_contacts">
                        <div class="wrapper_reception_information_clinic_contacts">
                            <p class="number_item_clinic_contacts">03</p>
                            <p class="reception_information_clinic">
                                <svg class="">
                                    <use href="./images/sprite/sprite.svg#icon-time">
                                    </use>
                                </svg>
                                Пн-Пт: <span> 09:00-18:00</span>
                            </p>
                        </div>
                        <a class="link phone_number_clinic" href="tel:+38 (066) 986 12 98">+38 (066) 986 12 98</a>
                        <div class="wrapper_clinic_address">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-location-clinic">
                                </use>
                            </svg>
                            <p class="clinic_address">
                                М.Днiпро, Вул. Данила Галицького 25
                            </p>
                        </div>
                        <button class="btn_show_map" type="button" data-open-map id="03">Показати на мапі</button>
                    </li>
                </ul>
                <div class="wrapper_map desktop">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5714.949283980424!2d34.97095190420665!3d48.462984099262115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe3bbd93132d7%3A0x86d2be4d506c0512!2z0L_RgNC-0YHQv9C10LrRgiDQhtCy0LDQvdCwINCc0LDQt9C10L_QuCwgMzksINCU0L3RltC_0YDQviwg0JTQvdGW0L_RgNC-0L_QtdGC0YDQvtCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDQ5MDAw!5e0!3m2!1suk!2sua!4v1738062157571!5m2!1suk!2sua"
                        width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="wrapper_map mobile">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5714.949283980424!2d34.97095190420665!3d48.462984099262115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe3bbd93132d7%3A0x86d2be4d506c0512!2z0L_RgNC-0YHQv9C10LrRgiDQhtCy0LDQvdCwINCc0LDQt9C10L_QuCwgMzksINCU0L3RltC_0YDQviwg0JTQvdGW0L_RgNC-0L_QtdGC0YDQvtCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDQ5MDAw!5e0!3m2!1suk!2sua!4v1738062157571!5m2!1suk!2sua"
                    width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</section>