<section class="section_cooperation">
    <div class="container changed_container">
        <div class="postion_content_section_cooperation">
            <div class="background_bage"></div>
            <div class="wrapper_title_descr_cooperation">
                <p class="section_title title_cooperation ">Спiвпраця</p>
                <p class="descr_cooperation mobile_tablet"><span>Запрошуємо до співпраці</span> <span>у нашій
                        ветеринарній
                        сім'ї</span></p>
            </div>






            <div class="position_descr_list_vacancy">
                <p class="descr_cooperation decktop"><span>Запрошуємо до співпраці</span> <span>у нашій ветеринарній
                        сім'ї</span></p>
                <p class="title_job_vacancy">Відкриті вакансії:</p>
                <div class="bakground_list_job_vacancy_bottom_leave_details">
                    <ul class="list_job_vacancy">
                        <li class="item_list_job_vacancy" data-item-list-job-vacancy>
                            <div class="wrapper_job_title">
                                <svg class="icon_paw_item_vacancy">
                                    <use href="./images/sprite/sprite.svg#icon_paw_item_vacancy"></use>
                                </svg>
                                <div class="wrapper_number_name_job_vacancy">
                                    <span class="number_job_vacancy">01</span>
                                    <p class="name_job_vacancy">Продавець-консультант</p>
                                </div>
                                <button type="button" class="btn_view_job_vacancy" data-show-descr>
                                    <svg class="icon_plus_btn_view_job " width="14" height="14">
                                        <use href="./images/sprite/sprite.svg#icon-plus"></use>
                                    </svg>
                                    <svg class="icon_minus_btn_view_job" width="14" height="14">
                                        <use href="./images/sprite/sprite.svg#icon-minus"></use>
                                    </svg>
                                </button>
                            </div>

                            <div class="vacancy_descr_wrapper" data-vacancy-descr>
                                <div class="wrapper_descr_job_vacancy">
                                    <p class="title_descr_job_vacancy">Опис вакансії:</p>
                                    <p class="ivite_text">Запрошуємо на роботу до родини VETеринарногоMIXplace ZOOWILD
                                    </p>
                                    <ul class="list_descr_job_vacancy">
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Досвід роботи в зоосфері</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Знання асортименту товарів, реалізації</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Кваліфіковані консультації</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Контроль придатності, прийом товару, переобліки
                                            </p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Навики роботи на касовому апараті, компʼюторі,
                                                документація
                                            </p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Чистота! Повага та командна атмосфера серед
                                                працівників
                                                закладу!
                                            </p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Цілеспрямованість в продажах та досягнення
                                                високих
                                                кас -
                                                у
                                                процесі реалізації усіх товарів
                                            </p>
                                        </li>
                                    </ul>

                                    <p class="title_offer">Ми пропонуємо</p>

                                    <ul class="list_descr_job_vacancy">
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Високі продажі, жодного клієнта без покупки!</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Офіційне працевлаштування</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Графік обговорюється, можливо 3/4дн</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">З/п ставка+відсоток від 2000-25000 тис залежно
                                                від
                                                досвіду та
                                                майстерності високих продажів</p>
                                        </li>

                                    </ul>

                                    <div class="wrapper_wide_buttons_section_cooperation">
                                        <div class="wrapper_wide_buttons">
                                            <button type="button" class="wide_button btn_applying_job">
                                                Зв’язатися
                                                <svg class="icon-arrow_btn_call_deg45">
                                                    <use href="./images/sprite/sprite.svg#icon-arrow_btn_call_deg45">
                                                    </use>
                                                </svg>
                                            </button>
                                            <a href="tel:+38 063 230 60 07"
                                                class="link wide_button btn_applying_job">+38
                                                063 230 60 07</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>

                        <li class="item_list_job_vacancy" data-item-list-job-vacancy>
                            <div class="wrapper_job_title">
                                <svg class="icon_paw_item_vacancy">
                                    <use href="./images/sprite/sprite.svg#icon_paw_item_vacancy"></use>
                                </svg>
                                <div class="wrapper_number_name_job_vacancy">
                                    <span class="number_job_vacancy">02</span>
                                    <p class="name_job_vacancy">Адміністратор-консультант</p>
                                </div>
                                <button type="button" class="btn_view_job_vacancy" data-show-descr>
                                    <svg class="icon_plus_btn_view_job " width="14" height="14">
                                        <use href="./images/sprite/sprite.svg#icon-plus"></use>
                                    </svg>
                                    <svg class="icon_minus_btn_view_job" width="14" height="14">
                                        <use href="./images/sprite/sprite.svg#icon-minus"></use>
                                    </svg>
                                </button>
                            </div>


                            <div class="vacancy_descr_wrapper" data-vacancy-descr>
                                <div class="wrapper_descr_job_vacancy">
                                    <p class="title_descr_job_vacancy">Опис вакансії:</p>
                                    <p class="ivite_text">Запрошуємо на роботу до родини VETеринарногоMIXplace ZOOWILD
                                    </p>
                                    <ul class="list_descr_job_vacancy">
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Цілеспрямована, активна, комунікабельна,
                                                товариська,
                                                привітлива
                                                дівчина, любить спілкуватися з власниками тварин</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Готова пояснювати і розʼяснювати все, і всім</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Шукаємо талант залучення клієнтів!
                                            </p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Бажано з досвідом роботи у вет діяльності,
                                                можливо в
                                                медичних
                                                послугах</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Запис на прийом, операціі ,маніпуляції інші
                                                спеціалізовані
                                                дії
                                            </p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Прийом замовлень на препарати, зоотовари,
                                                телефонні
                                                консультації
                                                по послугам і товарам
                                            </p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Ведення документації
                                            </p>
                                        </li>
                                    </ul>

                                    <p class="title_offer">Ми пропонуємо</p>

                                    <ul class="list_descr_job_vacancy">
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Графік за домовленістю</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">З/п від 1500/зміна</p>
                                        </li>


                                    </ul>
                                    <div class="wrapper_wide_buttons_section_cooperation">
                                        <div class="wrapper_wide_buttons">
                                            <button type="button" class="wide_button btn_applying_job">
                                                Зв’язатися
                                                <svg class="icon-arrow_btn_call_deg45">
                                                    <use href="./images/sprite/sprite.svg#icon-arrow_btn_call_deg45">
                                                    </use>
                                                </svg>
                                            </button>
                                            <a href="tel:+38 063 230 60 07"
                                                class="link wide_button btn_applying_job">+38
                                                063 230 60 07</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item_list_job_vacancy" data-item-list-job-vacancy>
                            <div class="wrapper_job_title">
                                <svg class="icon_paw_item_vacancy">
                                    <use href="./images/sprite/sprite.svg#icon_paw_item_vacancy"></use>
                                </svg>
                                <div class="wrapper_number_name_job_vacancy">
                                    <span class="number_job_vacancy">03</span>
                                    <p class="name_job_vacancy">Лікар ветеринарної медицини</p>
                                </div>
                                <button type="button" class="btn_view_job_vacancy" data-show-descr>
                                    <svg class="icon_plus_btn_view_job " width="14" height="14">
                                        <use href="./images/sprite/sprite.svg#icon-plus"></use>
                                    </svg>
                                    <svg class="icon_minus_btn_view_job" width="14" height="14">
                                        <use href="./images/sprite/sprite.svg#icon-minus"></use>
                                    </svg>
                                </button>
                            </div>


                            <div class="vacancy_descr_wrapper" data-vacancy-descr>
                                <div class="wrapper_descr_job_vacancy">
                                    <p class="title_descr_job_vacancy">Опис вакансії:</p>
                                    <p class="ivite_text">Запрошуємо на роботу до родини VETеринарногоMIXplace ZOOWILD
                                    </p>
                                    <ul class="list_descr_job_vacancy">
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Запрошуємо до ветеринарної клініки Zoowild
                                                практикуючого
                                                ветлікаря, сімейного ветлікаря з досвідом роботи від 3х років</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">На постійну роботу з основної зайнятості, з
                                                офіційним
                                                працевлаштуванням</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Загальні прийоми, консультації, діагностика, УЗД,
                                                хірургія,
                                                лікувальні дії, маніпуляції, виклик додому, звітність,
                                                взаєморозрахунки, навички роботи на компʼютері
                                            </p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Чекаємо на найблагороднішого гуманного,
                                                важливого,
                                                абсолютно
                                                люблячого ветеринарного лікаря!</p>
                                        </li>

                                    </ul>

                                    <p class="title_offer">Ми пропонуємо</p>

                                    <ul class="list_descr_job_vacancy">
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Графік за індивідуальним планом</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Достойна оплата праці, від 30% на послуги, або
                                                ставка
                                                + %
                                            </p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Можлива допомога в організації власної справа під
                                                назвою
                                                та
                                                лого
                                                діючого бренда - ваш заробіток - повністю ваш!</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Працюємо разом та розвивайтесь!</p>
                                        </li>


                                    </ul>
                                    <div class="wrapper_wide_buttons_section_cooperation">
                                        <div class="wrapper_wide_buttons">
                                            <button type="button" class="wide_button btn_applying_job">
                                                Зв’язатися
                                                <svg class="icon-arrow_btn_call_deg45">
                                                    <use href="./images/sprite/sprite.svg#icon-arrow_btn_call_deg45">
                                                    </use>
                                                </svg>
                                            </button>
                                            <a href="tel:+38 063 230 60 07"
                                                class="link wide_button btn_applying_job">+38
                                                063 230 60 07</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item_list_job_vacancy" data-item-list-job-vacancy>
                            <div class="wrapper_job_title">
                                <svg class="icon_paw_item_vacancy">
                                    <use href="./images/sprite/sprite.svg#icon_paw_item_vacancy"></use>
                                </svg>
                                <div class="wrapper_number_name_job_vacancy">
                                    <span class="number_job_vacancy">04</span>
                                    <p class="name_job_vacancy">Ветеринарний стоматолог</p>
                                </div>
                                <button type="button" class="btn_view_job_vacancy" data-show-descr>
                                    <svg class="icon_plus_btn_view_job " width="14" height="14">
                                        <use href="./images/sprite/sprite.svg#icon-plus"></use>
                                    </svg>
                                    <svg class="icon_minus_btn_view_job" width="14" height="14">
                                        <use href="./images/sprite/sprite.svg#icon-minus"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="vacancy_descr_wrapper" data-vacancy-descr>
                                <div class="wrapper_descr_job_vacancy">
                                    <p class="title_descr_job_vacancy">Опис вакансії:</p>
                                    <p class="ivite_text">Запрошуємо на роботу до родини VETеринарногоMIXplace ZOOWILD
                                    </p>
                                    <ul class="list_descr_job_vacancy">
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Запрошуємо до Zoowild професіонала ветеринарної
                                                стоматології
                                                з
                                                досвідом роботи більше 2х років</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Ветосвіта, любов до тварин</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Вузькопрофільна сертифікація, професіоналізм,
                                                досвідченість,
                                                відповідальність
                                            </p>
                                        </li>
                                    </ul>

                                    <p class="title_offer">Ми пропонуємо</p>

                                    <ul class="list_descr_job_vacancy">
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Постійна робота</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Достойна оплата праці, ( 40% від послуг або
                                                ставка
                                                +%,
                                                власна
                                                справа під відомим брендом)</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Iндивідуальні умови</p>
                                        </li>



                                    </ul>
                                    <div class="wrapper_wide_buttons_section_cooperation">
                                        <div class="wrapper_wide_buttons">
                                            <button type="button" class="wide_button btn_applying_job">
                                                Зв’язатися
                                                <svg class="icon-arrow_btn_call_deg45">
                                                    <use href="./images/sprite/sprite.svg#icon-arrow_btn_call_deg45">
                                                    </use>
                                                </svg>
                                            </button>
                                            <a href="tel:+38 063 230 60 07"
                                                class="link wide_button btn_applying_job">+38
                                                063 230 60 07</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>


                        <li class="item_list_job_vacancy" data-item-list-job-vacancy>
                            <div class="wrapper_job_title">
                                <svg class="icon_paw_item_vacancy">
                                    <use href="./images/sprite/sprite.svg#icon_paw_item_vacancy"></use>
                                </svg>
                                <div class="wrapper_number_name_job_vacancy">
                                    <span class="number_job_vacancy">05</span>
                                    <p class="name_job_vacancy">Грумер</p>
                                </div>
                                <button type="button" class="btn_view_job_vacancy" data-show-descr>
                                    <svg class="icon_plus_btn_view_job " width="14" height="14">
                                        <use href="./images/sprite/sprite.svg#icon-plus"></use>
                                    </svg>
                                    <svg class="icon_minus_btn_view_job" width="14" height="14">
                                        <use href="./images/sprite/sprite.svg#icon-minus"></use>
                                    </svg>
                                </button>
                            </div>

                            <div class="vacancy_descr_wrapper" data-vacancy-descr>
                                <div class="wrapper_descr_job_vacancy">
                                    <p class="title_descr_job_vacancy">Опис вакансії:</p>
                                    <p class="ivite_text">Запрошуємо на роботу до родини VETеринарногоMIXplace ZOOWILD
                                    </p>
                                    <ul class="list_descr_job_vacancy">
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Цілеспрямована, активна, комунікабельна,
                                                товариська,
                                                привітлива
                                                дівчина, любить спілкуватися з власниками тварин</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Готова пояснювати і розʼяснювати все, і всім</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Шукаємо талант залучення клієнтів!
                                            </p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Бажано з досвідом роботи у вет діяльності,
                                                можливо в
                                                медичних
                                                послугах
                                            </p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Запис на прийом, операціі ,маніпуляції інші
                                                спеціалізовані
                                                дії
                                            </p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Прийом замовлень на препарати, зоотовари,
                                                телефонні
                                                консультації
                                                по послугам і товарам
                                            </p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Ведення документації
                                            </p>
                                        </li>
                                    </ul>

                                    <p class="title_offer">Ми пропонуємо</p>

                                    <ul class="list_descr_job_vacancy">

                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Графік за домовленістю</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">З/п від 1500/зміна</p>
                                        </li>



                                    </ul>
                                    <div class="wrapper_wide_buttons_section_cooperation">
                                        <div class="wrapper_wide_buttons">
                                            <button type="button" class="wide_button btn_applying_job">
                                                Зв’язатися
                                                <svg class="icon-arrow_btn_call_deg45">
                                                    <use href="./images/sprite/sprite.svg#icon-arrow_btn_call_deg45">
                                                    </use>
                                                </svg>
                                            </button>
                                            <a href="tel:+38 063 230 60 07"
                                                class="link wide_button btn_applying_job">+38
                                                063 230 60 07</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="item_list_job_vacancy" data-item-list-job-vacancy>
                            <div class="wrapper_job_title">
                                <svg class="icon_paw_item_vacancy">
                                    <use href="./images/sprite/sprite.svg#icon_paw_item_vacancy"></use>
                                </svg>
                                <div class="wrapper_number_name_job_vacancy">
                                    <span class="number_job_vacancy">06</span>
                                    <p class="name_job_vacancy">Пара ветеринар</p>
                                </div>
                                <button type="button" class="btn_view_job_vacancy" data-show-descr>
                                    <svg class="icon_plus_btn_view_job " width="14" height="14">
                                        <use href="./images/sprite/sprite.svg#icon-plus"></use>
                                    </svg>
                                    <svg class="icon_minus_btn_view_job" width="14" height="14">
                                        <use href="./images/sprite/sprite.svg#icon-minus"></use>
                                    </svg>
                                </button>
                            </div>


                            <div class="vacancy_descr_wrapper" data-vacancy-descr>
                                <div class="wrapper_descr_job_vacancy">
                                    <p class="title_descr_job_vacancy">Опис вакансії:</p>
                                    <p class="ivite_text">Запрошуємо на роботу до родини VETеринарногоMIXplace ZOOWILD
                                    </p>
                                    <ul class="list_descr_job_vacancy">
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Запрошуємо ПАРАВЕТЕРИНАРІВ - любителі тварин,
                                                зооспеціалісти
                                                за
                                                покликанням душі без фахової освіти</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">З досвідом роботи та б/ досвіду у ветсфері,
                                                готових
                                                до
                                                роботи
                                                і
                                                навчання під наглядом вет спеціаліста</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Пунктуальність, порядність, відповідальність,
                                                уважність,
                                                любити
                                                тварин обов’язково
                                            </p>
                                        </li>

                                    </ul>

                                    <p class="title_offer">Ми пропонуємо</p>

                                    <ul class="list_descr_job_vacancy">

                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Графік роботи: індивідуально обговорюється,
                                                постійна
                                                довгострокова робота</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">Офіційне працевлаштування</p>
                                        </li>
                                        <li class="item_list_descr_job_vacancy">
                                            <p class="experience_work">З/п від 20000грн.</p>
                                        </li>
                                    </ul>
                                    <div class="wrapper_wide_buttons_section_cooperation">
                                        <div class="wrapper_wide_buttons">
                                            <button type="button" class="wide_button btn_applying_job">
                                                Зв’язатися
                                                <svg class="icon-arrow_btn_call_deg45">
                                                    <use href="./images/sprite/sprite.svg#icon-arrow_btn_call_deg45">
                                                    </use>
                                                </svg>
                                            </button>
                                            <a href="tel:+38 063 230 60 07"
                                                class="link wide_button btn_applying_job">+38
                                                063 230 60 07</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="wrapper_btn_leave_details">
                        <button type="button" class="round_button secondary_round_button"><svg class="icon_paw">
                                <use href="./images/sprite/sprite.svg#icon-paw"></use>
                            </svg>
                            <span class="text_btn_leave_data">Залишити даннi</span>
                            <svg class="icon_arrow_right">
                                <use href="./images/sprite/sprite.svg#icon-arrow_right_v2"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>