<section class="footer_section">
    <div class="container">
        <div class="wrapper_position_img_form">
            <div class="wrapper_list_social_thumb_img">
                <div>


                    <div class="thumb_img_ceo_footer_section">
                        <picture>
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/footer/ceo_1920.jpg 1x, ./images/content-images/footer/ceo_1920@2x.jpg 2x">
                            <source media="(min-width:320px)" srcset="./images/content-images/footer/ceo@2x.jpg 2x">
                            <img src="./images/content-images/footer/ceo.jpg"
                                alt="Фото засновниці ветеренарної клініки" />
                        </picture>
                    </div>
                    <div class="wrapper_postion_list_social_link_ceo">
                        <ul class="list_social_link_ceo_footer">
                            <li><a href="https://www.instagram.com/zoowild_vet" target="_blank"
                                    rel="noopener noreferrer" class="footer_social_link_ceo instagram">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-instagram">
                                        </use>
                                    </svg></a>
                            </li>
                            <li><a href="mailto:zoowild22@icloud.com" target="_blank" rel="noopener noreferrer"
                                    class="footer_social_link_ceo email">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-mail_v2">
                                        </use>
                                    </svg></a>
                            </li>
                            <li><a href="https://www.facebook.com/profile.php?id=100015752195470" target="_blank"
                                    rel="noopener noreferrer" class="footer_social_link_ceo messenger">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-messenger_v2">
                                        </use>
                                    </svg></a>
                            </li>
                            <li><a href="https://wa.me/380632306007" target="_blank" rel="noopener noreferrer"
                                    class="footer_social_link_ceo whatsapp">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-whatsapp_v2">
                                        </use>
                                    </svg></a>
                            </li>
                            <li><a href="viber://chat?number=%2B380632306007" target="_blank" rel="noopener noreferrer"
                                    class="footer_social_link_ceo viber">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-viber_v2">
                                        </use>
                                    </svg></a>
                            </li>
                            <li><a href="https://t.me/SvZoowild" target="_blank" rel="noopener noreferrer"
                                    class="footer_social_link_ceo telegram">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-telegram">
                                        </use>
                                    </svg></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="background_bobcat"></div>

            </div>



            <div class="form">
                <div class="block_leave_data item_form">
                    <div class="position_background_leave_data mobile">
                        <div class="background_leave_data"></div>
                    </div>
                    <div class="wrapper_leave_data">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-badge">
                            </use>
                        </svg>
                        <p class="text_leave_data">Або Залиште ваші дані і найближчим часом ми з вами зв'яжемося</p>
                    </div>
                </div>

                <form data-form-footer>


                    <div class="item_form">
                        <input class="field_text" type="text" minlength="2" name="name" required placeholder="Ім'я*">
                    </div>
                    <div class="item_form">
                        <input class="field_text" type="text" minlength="2" name="phoneNumber" required
                            placeholder="Телефон*">
                    </div>
                    <div class="item_form">
                        <input class="field_text" type="text" minlength="2" name="email" required placeholder="Пошта">
                    </div>
                    <div class="item_form">
                        <input class="confirm_checkbox visually-hidden" type="checkbox" id="confirm_policy_footer">
                        <label for="confirm_policy_footer" class="fake_chekbox"><span>Підтверджуючи, ви погоджуєтесь
                                з </span><a href="" class="link">політикою
                                конфіденційності</a></label>
                    </div>





                    <div class="wrapper_footer_btn_sign_up_for item_form">
                        <button type="submit" class="round_button"><svg class="icon_paw">
                                <use href="./images/sprite/sprite.svg#icon-paw"></use>
                            </svg>
                            <span class="text_btn_sign_up_for">Записатися на прийом</span>
                            <svg class="icon_arrow_right">
                                <use href="./images/sprite/sprite.svg#icon-arrow_right_v2"></use>
                            </svg>
                        </button>


                    </div>
                </form>
            </div>
        </div>
        <div class="footer_information">
            <p class="slogan_footer_information">лікування без стресу та болю</p>
            <div class="list_footer_information">
                <div class="item_footer_information">
                    <span>Політика конфіденційності</span>
                    <span class="copyright">© 2024, «ZooWild», Усі права захищено</span>
                </div>
                <div class="item_footer_information">
                    <span class="text_like">Ставимо лайк 👍та обов'язково підписуємося:</span>
                    <div>
                        <span>Дизайн та розробка:</span>
                        <a href="https://www.instagram.com/boris__kruglov" target="_blank"
                            rel="noopener noreferrer">Борис Круглов</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>