<section class="section_founder_clinic">
    <div class="container">
        <h2 class="section_title title_founder_clinic">Про засновницю клiнiки</h2>
        <div class="postion_block_founder_clinc">
            <div class="radial_gradient_founder_clinic">

                <div class="sticker sticker_paw">
                    <svg>
                        <use href="./images/sprite/sprite.svg#icon-transparent_paw">
                        </use>
                    </svg>
                </div>

                <div class="sticker sticker_like">
                    <svg>
                        <use href="./images/sprite/sprite.svg#icon-like">
                        </use>
                    </svg>
                </div>

                <div class="card_text_info_founder_clinic first_card position_text_card_top ">
                    <p>Входить до ТОП <span>5</span></p>
                    <p>ветеринарів країни</p>
                    <div class="sticker_hart">
                        <svg>
                            <use href="./images/sprite/sprite.svg#icon-hart">
                            </use>
                        </svg>
                    </div>
                </div>


                <div class="wrapper_info_founder_clinic position_text_card_info">
                    <p class="name_founder_clinic">Ракитянська Світлана Вікторівна</p>
                    <p class="position_work_founder_clinic">Засновниця та CEO <span>Zoowild</span>
                        |
                        Лікар
                        ветеринарної
                        медицини</p>
                    <div class="founder_clinic_sign"></div>
                    <div class="list_social">
                        <a class="link item_social_list" href="https://www.instagram.com/zoowild_vet/" target="_blank"
                            rel="noopener noreferrer">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-instagram">
                                </use>
                            </svg>
                        </a>
                        <a class="link item_social_list" href="https://www.facebook.com/profile.php?id=100091989705586"
                            target="_blank" rel="noopener noreferrer">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-fb">
                                </use>
                            </svg>
                        </a>
                        <a class="link item_social_list" href="https://t.me/SvZoowild" target="_blank"
                            rel="noopener noreferrer">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-tg">
                                </use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="sticker sticker_monkey">
                    <svg>
                        <use href="./images/sprite/sprite.svg#icon-monkey">
                        </use>
                    </svg>
                </div>

                <div class="card_text_info_founder_clinic second_card position_text_card_experience">
                    <p>16</p>
                    <p>Років досвіду</p>
                </div>

                <div class="card_text_info_founder_clinic fird_card position_text_card_number_one">
                    <p>#1</p>
                    <p>Перша та єдина в країні хто почав робити рецептологію</p>
                </div>

                <div class="wrapper_photo_founder">
                    <div class="thumb_photo_founder">
                        <div class="border_photo_founder">
                            <button type="button" class="btn btn-play-video-founder_clinic" data-open-video
                                id="clinick_video">
                                <svg class="icon-play-video">
                                    <use href="./images/sprite/sprite.svg#icon-play-video">
                                    </use>
                                </svg>
                            </button>
                        </div>

                        <picture>
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/founder_clinic/founder_clinic@2x.jpg 2x">
                            <img src="./images/content-images/founder_clinic/founder_clinic.jpg"
                                alt="Засновниця клініки зі змією" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>