<header class="header_section">
    <div class="container ">
        <nav class="navigation">
            <a href="#about_company" class="link link_nav">Про компанію</a>
            <a href="" class="link link_nav">Послуги</a>
            <a href="" class="link link_nav">
                <svg class="icon_locaction" width="10" height="13">
                    <use href="./images/sprite/sprite.svg#icon-location"></use>
                </svg>
                Філії
                <button type="button" class="btn btn_select">
                    <svg class="chekbox_icon" width="12" height="7">
                        <use href="./images/sprite/sprite.svg#icon-chekbox"></use>
                    </svg>
                </button>
            </a>
            <a href="" class="link link_nav">Контакти</a>

            <a href="/src/index.html" class="link logo">
                <svg class="logo_icon">
                    <use href="./images/sprite/sprite.svg#icon-logo"></use>
                </svg>
                <svg class="logo_icon_title">
                    <use href="./images/sprite/sprite.svg#icon-logoTitle"></use>
                </svg>
            </a>

            <div class="btn_wrapper">

                <button type="button" class="btn btn_toggle_lang">
                    <span>UA</span>
                    <div class="switch_lang">
                        <span></span>
                    </div>
                    <span>RU</span>
                </button>


                <a href="tel:+38 063 230 60 07" class="link phone">
                    <svg class="phone_icon">
                        <use href="./images/sprite/sprite.svg#icon-phone"></use>
                    </svg>
                    +38 063 230 60 07
                    <button type="button" class="btn btn_select">
                        <svg class="chekbox-icon" width="12" height="11">
                            <use href="./images/sprite/sprite.svg#icon-chekbox"></use>
                        </svg>
                    </button>
                </a>

                <button type="button" class="btn btn_call">
                    <svg class="call_icon">
                        <use href="./images/sprite/sprite.svg#icon-call"></use>
                    </svg>
                    <span class="btn_call_text">Зв’язатися</span>
                </button>

                <button type="button" class="btn btn_burger">
                    <svg class="burger_icon" width="23" height="10">
                        <use href="./images/sprite/sprite.svg#icon-burger"></use>
                    </svg>
                </button>

            </div>
        </nav>
    </div>
</header>