<header class="header_section services_page_header" id="header">
    <div class="container ">
        <nav class="navigation">
            <div class="wrapper_nav_links">

                <a href="" class="link link_nav">Iнтернет-магазин</a>
                <a href="./about.html" class="link link_nav">Про компанію</a>
                <a href="./services.html" class="link link_nav">Послуги</a>
                <a href="" class="link link_nav" data-scroll-contacts>Контакти</a>

            </div>
            <a href="/src/index.html" class="link logo">
                <svg class="logo_icon">
                    <use href="./images/sprite/sprite.svg#icon-logo"></use>
                </svg>
                <svg class="logo_icon_title">
                    <use href="./images/sprite/sprite.svg#icon-logoTitle"></use>
                </svg>
                <!-- <img src="./images/logo.svg" alt="logo" class="logo_img"> -->
            </a>

            <div class="btn_wrapper">
                <button type="button" class=" position btn btn_toggle_lang" data-toggle-lang>
                    <span class="lang_ua">UA</span>
                    <span class="switch_lang">
                    </span>
                    <span class="lang_ru inactive">RU</span>
                </button>



                <button type="button" class=" position btn btn_call" data-open-modal-form>
                    <span class="wrapper_icon_call">
                        <span class="icon_call">
                        </span>
                    </span>
                    <span class="btn_call_text">Зв’язатися</span>
                </button>
                <a href="tel:+380632306007" class="position link phone" target="_blank" rel="noopener noreferrer">
                    <svg class="phone_icon">
                        <use href="./images/sprite/sprite.svg#icon-phone"></use>
                    </svg>
                    +38 063 230 60 07
                </a>
                <button type="button" class="position btn btn_burger" data-menu-open>
                    <svg class="burger_icon" width="23" height="10">
                        <use href="./images/sprite/sprite.svg#icon-burger"></use>
                    </svg>
                </button>

            </div>
        </nav>
    </div>
</header>