<header>
    <div class="container header_container">
        <nav class="navigation">
            <a href="/src/index.html" class="link logo">
                <svg class="logo_icon" width="50" height="46">
                    <use href="./images/sprite/sprite.svg#icon-logo"></use>
                </svg>
                <svg class="logo_icon_title" width="84" height="20">
                    <use href="./images/sprite/sprite.svg#icon-logoTitle"></use>
                </svg>
            </a>
            <div class="btn_wrapper">
                <button class="btn btn_toggle_lang">RU</button>
                <button class="btn btn_call">
                    <svg class="call_icon" width="25" height="25">
                        <use href="./images/sprite/sprite.svg#icon-call"></use>
                    </svg>
                </button>
                <button class="btn btn_burger">
                    <svg class="burger_icon" width="23" height="10">
                        <use href="./images/sprite/sprite.svg#icon-burger"></use>
                    </svg>
                </button>
            </div>
        </nav>

    </div>
</header>