<section class="section_health_problems">
    <div class="container">
        <div class="block_health_problems">


            <div class="wrapper_title_descr_health_problems hidden-text">
                <h2 class="title_health_problems ">Для кого пiдiйде</h2>
                <p class="descr_health_problems "><span>Спочатку</span> до нас звертаються</p>
            </div>


            <div class="list_cards_health_problems">


                <div class="list_card_item wrapper_dental">
                    <p class="descr_foto_health_problems hidden-text">Проблеми з зубами</p>
                    <div class="thumb_foto_health_problems dental_problems">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/health_problems/dental_problems_1920.jpg 1x, ./images/content-images/health_problems/dental_problems_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/health_problems/dental_problems_768.jpg 1x, ./images/content-images/health_problems/dental_problems_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/health_problems/dental_problems@2x.jpg 2x">
                            <img src="./images/content-images/health_problems/dental_problems.jpg"
                                alt="Пес з відкритою пащею" />
                        </picture>

                    </div>
                </div>
                <div class="list_card_item wrapper_sad_eyes">
                    <p class="descr_foto_health_problems hidden-text">Сумними очима</p>
                    <div class="thumb_foto_health_problems sad_eyes">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/health_problems/sad_eyes_1920.jpg 1x, ./images/content-images/health_problems/sad_eyes_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/health_problems/sad_eyes_768.jpg 1x, ./images/content-images/health_problems/sad_eyes_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/health_problems/sad_eyes@2x.jpg 2x">
                            <img src="./images/content-images/health_problems/sad_eyes.jpg"
                                alt="Пес сидить за столом" />
                        </picture>

                    </div>
                </div>
                <div class="list_card_item wrapper_pain">
                    <p class="descr_foto_health_problems hidden-text">Болю</p>
                    <div class="thumb_foto_health_problems pain">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/health_problems/pain_1920.jpg 1x, ./images/content-images/health_problems/pain_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/health_problems/pain_768.jpg 1x, ./images/content-images/health_problems/pain_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/health_problems/pain@2x.jpg 2x">
                            <img src="./images/content-images/health_problems/pain.jpg" alt="Пухнастий пес" />
                        </picture>

                    </div>
                </div>
                <div class="list_card_item wrapper_not_beautiful_enough">
                    <p class="descr_foto_health_problems hidden-text">Чи просто недостатньо красивi</p>
                    <div class="thumb_foto_health_problems not_beautiful_enough">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/health_problems/not_beautiful_enough_1920.jpg 1x, ./images/content-images/health_problems/not_beautiful_enough_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/health_problems/not_beautiful_enough_768.jpg 1x, ./images/content-images/health_problems/not_beautiful_enough_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/health_problems/not_beautiful_enough@2x.jpg 2x">
                            <img src="./images/content-images/health_problems/not_beautiful_enough.jpg" alt="Кіт" />
                        </picture>

                    </div>
                </div>
                <div class="list_card_item wrapper_everyone_welcome">
                    <div class="thumb_foto_health_problems everyone_welcome">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/health_problems/everyone_welcome_1920.jpg 1x, ./images/content-images/health_problems/everyone_welcome_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/health_problems/everyone_welcome_768.jpg 1x, ./images/content-images/health_problems/everyone_welcome_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/health_problems/everyone_welcome@2x.jpg 2x">
                            <img src="./images/content-images/health_problems/everyone_welcome.jpg"
                                alt="Співробітник клініки з собакою" />
                        </picture>
                    </div>
                    <p class="descr_foto_health_problems hidden-text">Але ми вciм радi, та дуже щасливi</p>
                </div>
            </div>
        </div>


        <div class="wrapper_block_descr_after_treat">
            <div class="block_descr_after_treat hidden-text">
                <p class="descr_after_treat ">Але <span>пiсля прийому</span> трапляються дива</p>
            </div>
        </div>
    </div>
</section>