<section class="section_health_problems">
    <div class="container">
        <div class="block_health_problems">


            <div class="wrapper_title_descr_health_problems">
                <p class="title_health_problems">Для кого пiдiйде</p>
                <p class="descr_health_problems"><span>Спочатку</span> до нас звертаються</p>
            </div>


            <div class="list_cards_health_problems">


                <div class="list_card_item wrapper_dental">
                    <p class="descr_foto_health_problems">Проблеми з зубами</p>
                    <div class="thumb_foto_health_problems dental_problems">
                        <picture>
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/health_problems/dental_problems@2x.jpg 2x">
                            <img src="./images/content-images/health_problems/dental_problems.jpg" />
                        </picture>

                    </div>
                </div>
                <div class="list_card_item wrapper_sad_eyes">
                    <p class="descr_foto_health_problems">Сумними очима</p>
                    <div class="thumb_foto_health_problems sad_eyes">
                        <picture>
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/health_problems/sad_eyes@2x.jpg 2x">
                            <img src="./images/content-images/health_problems/sad_eyes.jpg" />
                        </picture>

                    </div>
                </div>
                <div class="list_card_item wrapper_pain">
                    <p class="descr_foto_health_problems ">Болю</p>
                    <div class="thumb_foto_health_problems pain">
                        <picture>
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/health_problems/pain@2x.jpg 2x">
                            <img src="./images/content-images/health_problems/pain.jpg" />
                        </picture>

                    </div>
                </div>
                <div class="list_card_item wrapper_not_beautiful_enough">
                    <p class="descr_foto_health_problems">Чи просто недостатньо красивi</p>
                    <div class="thumb_foto_health_problems not_beautiful_enough">
                        <picture>
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/health_problems/not_beautiful_enough@2x.jpg 2x">
                            <img src="./images/content-images/health_problems/not_beautiful_enough.jpg" />
                        </picture>

                    </div>
                </div>
                <div class="list_card_item wrapper_everyone_welcome">
                    <div class="thumb_foto_health_problems everyone_welcome">
                        <picture>
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/health_problems/everyone_welcome@2x.jpg 2x">
                            <img src="./images/content-images/health_problems/everyone_welcome.jpg" />
                        </picture>
                    </div>
                    <p class="descr_foto_health_problems">Але ми вciм радi, та дуже щасливi</p>
                </div>
            </div>
        </div>
    </div>
</section>