<section class="hero">
    <div class="cube-wrapper">
        <div class="cube-slider swiper">
            <div class="swiper-wrapper ">
                <div class="swiper-slide ">
                    <div class="background-image-first-slide">
                        <div class="container ">
                            <nav class="navigation">
                                <a href="" class="link link_nav">Про компанію</a>
                                <a href="" class="link link_nav">Послуги</a>
                                <a href="" class="link link_nav">
                                    <svg class="icon_locaction" width="10" height="13">
                                        <use href="./images/sprite/sprite.svg#icon-location"></use>
                                    </svg>
                                    Філії
                                    <button type="button" class="btn btn_select">
                                        <svg class="" width="12" height="7">
                                            <use href="./images/sprite/sprite.svg#icon-chekbox"></use>
                                        </svg>
                                    </button>
                                </a>
                                <a href="" class="link link_nav">Контакти</a>

                                <a href="/src/index.html" class="link logo">
                                    <svg class="logo_icon">
                                        <use href="./images/sprite/sprite.svg#icon-logo"></use>
                                    </svg>
                                    <svg class="logo_icon_title">
                                        <use href="./images/sprite/sprite.svg#icon-logoTitle"></use>
                                    </svg>
                                </a>

                                <div class="btn_wrapper">

                                    <button type="button" class="btn btn_toggle_lang">
                                        <span>UA</span>
                                        <span>RU</span>
                                    </button>


                                    <a href="tel:+38 063 230 60 07" class="link phone">
                                        <svg class="phone_icon">
                                            <use href="./images/sprite/sprite.svg#icon-phone"></use>
                                        </svg>
                                        +38 063 230 60 07
                                        <button type="button" class="btn btn_select">
                                            <svg class="" width="12" height="11">
                                                <use href="./images/sprite/sprite.svg#icon-chekbox"></use>
                                            </svg>
                                        </button>
                                    </a>

                                    <button type="button" class="btn btn_call">
                                        <svg class="call_icon">
                                            <use href="./images/sprite/sprite.svg#icon-call"></use>
                                        </svg>
                                        <span class="btn_call_text">Зв’язатися</span>
                                    </button>

                                    <button type="button" class="btn btn_burger">
                                        <svg class="burger_icon" width="23" height="10">
                                            <use href="./images/sprite/sprite.svg#icon-burger"></use>
                                        </svg>
                                    </button>

                                </div>
                            </nav>
                        </div>
                        <div class="">
                            <svg class="main-title-mobile">
                                <use href="./images/sprite/sprite.svg#icon-main-title-mobile"></use>
                            </svg>
                            <p class="title">Мережа Ветеринарних клiнiк</p>
                            <div class="wrapper-button container">
                                <div class="wrapper-btn-play-video">
                                    <button type="button" class="btn btn-play-video">
                                        <svg class="icon-play-video">
                                            <use href="./images/sprite/sprite.svg#icon-play-video"></use>
                                        </svg>
                                    </button>
                                    <span class="btn-play-video-descr">Дивитись вiдео про нашу
                                        Анаконду</span>
                                </div>

                                <button type="button" class="btn btn-learn-more">
                                    <span class="btn-learn-more-descr">Дiзнатись бiльше</span>
                                    <svg class="icon-learn-more" width="14" height="17">
                                        <use href="./images/sprite/sprite.svg#icon-learn-more-arrow"></use>
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="background-image-second-slide">
                        <div class="container ">
                            <nav class="navigation">
                                <a href="" class="link link_nav">Про компанію</a>
                                <a href="" class="link link_nav">Послуги</a>
                                <a href="" class="link link_nav">
                                    <svg class="icon_locaction" width="10" height="13">
                                        <use href="./images/sprite/sprite.svg#icon-location"></use>
                                    </svg>
                                    Філії
                                    <button type="button" class="btn btn_select">
                                        <svg class="" width="12" height="7">
                                            <use href="./images/sprite/sprite.svg#icon-chekbox"></use>
                                        </svg>
                                    </button>
                                </a>
                                <a href="" class="link link_nav">Контакти</a>

                                <a href="/src/index.html" class="link logo">
                                    <svg class="logo_icon">
                                        <use href="./images/sprite/sprite.svg#icon-logo"></use>
                                    </svg>
                                    <svg class="logo_icon_title">
                                        <use href="./images/sprite/sprite.svg#icon-logoTitle"></use>
                                    </svg>
                                </a>

                                <div class="btn_wrapper">

                                    <button type="button" class="btn btn_toggle_lang">
                                        <span>UA</span>
                                        <span>RU</span>
                                    </button>


                                    <a href="tel:+38 063 230 60 07" class="link phone">
                                        <svg class="phone_icon">
                                            <use href="./images/sprite/sprite.svg#icon-phone"></use>
                                        </svg>
                                        +38 063 230 60 07
                                        <button type="button" class="btn btn_select">
                                            <svg class="" width="12" height="11">
                                                <use href="./images/sprite/sprite.svg#icon-chekbox"></use>
                                            </svg>
                                        </button>
                                    </a>

                                    <button type="button" class="btn btn_call">
                                        <svg class="call_icon">
                                            <use href="./images/sprite/sprite.svg#icon-call"></use>
                                        </svg>
                                        <span class="btn_call_text">Зв’язатися</span>
                                    </button>

                                    <button type="button" class="btn btn_burger">
                                        <svg class="burger_icon" width="23" height="10">
                                            <use href="./images/sprite/sprite.svg#icon-burger"></use>
                                        </svg>
                                    </button>

                                </div>
                            </nav>
                        </div>

                        <div class="container">
                            <p class="slide-text-mobile">

                                <span>Турбота</span>
                                <span>про</span>

                                <span>вашого</span>
                                <span>домашнього</span>
                                <span>улюбленця</span>
                                <span>та</span>
                                <span>друга</span>
                            </p>
                        </div>
                        <div class="container">
                            <div class="slide-text">
                                <div class="first-block-words">
                                    <span>Турбота</span>
                                    <span>про</span>
                                </div>

                                <div class="second-block-words">
                                    <span>вашого</span>
                                    <span>домашнього</span>
                                    <span>друга</span>
                                    <span>та</span>
                                </div>
                                <div class="third-block-words">
                                    <span>улюбленця</span>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper_button">
                            <button type="button" class="btn_make_an_appointment">
                                <svg class="icon-paw" width="20" height="20">
                                    <use href="./images/sprite/sprite.svg#icon-paw"></use>
                                </svg>
                                <span class="descr">Записатися на прийом</span>
                                <svg class="icon-arrow_make_an_appointment">
                                    <use href="./images/sprite/sprite.svg#icon-arrow_make_an_appointment"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide ">
                    <div class="background-image-third-slide">
                        <div class="container ">
                            <nav class="navigation">
                                <a href="" class="link link_nav">Про компанію</a>
                                <a href="" class="link link_nav">Послуги</a>
                                <a href="" class="link link_nav">
                                    <svg class="icon_locaction" width="10" height="13">
                                        <use href="./images/sprite/sprite.svg#icon-location"></use>
                                    </svg>
                                    Філії
                                    <button type="button" class="btn btn_select">
                                        <svg class="" width="12" height="7">
                                            <use href="./images/sprite/sprite.svg#icon-chekbox"></use>
                                        </svg>
                                    </button>
                                </a>
                                <a href="" class="link link_nav">Контакти</a>

                                <a href="/src/index.html" class="link logo">
                                    <svg class="logo_icon">
                                        <use href="./images/sprite/sprite.svg#icon-logo"></use>
                                    </svg>
                                    <svg class="logo_icon_title">
                                        <use href="./images/sprite/sprite.svg#icon-logoTitle"></use>
                                    </svg>
                                </a>

                                <div class="btn_wrapper">

                                    <button type="button" class="btn btn_toggle_lang">
                                        <span>UA</span>
                                        <span>RU</span>
                                    </button>


                                    <a href="tel:+38 063 230 60 07" class="link phone">
                                        <svg class="phone_icon">
                                            <use href="./images/sprite/sprite.svg#icon-phone"></use>
                                        </svg>
                                        +38 063 230 60 07
                                        <button type="button" class="btn btn_select">
                                            <svg class="" width="12" height="11">
                                                <use href="./images/sprite/sprite.svg#icon-chekbox"></use>
                                            </svg>
                                        </button>
                                    </a>

                                    <button type="button" class="btn btn_call">
                                        <svg class="call_icon">
                                            <use href="./images/sprite/sprite.svg#icon-call"></use>
                                        </svg>
                                        <span class="btn_call_text">Зв’язатися</span>
                                    </button>

                                    <button type="button" class="btn btn_burger">
                                        <svg class="burger_icon" width="23" height="10">
                                            <use href="./images/sprite/sprite.svg#icon-burger"></use>
                                        </svg>
                                    </button>

                                </div>
                            </nav>
                        </div>
                        <div class="container">
                            <div class="third-slide-text">
                                <div class="third-slide_first-block-words">
                                    <span>Кожна</span>
                                    <span>домашня</span>
                                </div>

                                <div class="third-slide_second-block-words">
                                    <span>Тваринка</span>
                                </div>
                                <div class="third-slide_third-block-words">
                                    <span>стає частиною нашої родини</span>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper_button_third_slide">
                            <button type="button" class="btn_make_an_appointment">
                                <svg class="icon-paw" width="20" height="20">
                                    <use href="./images/sprite/sprite.svg#icon-paw"></use>
                                </svg>
                                <span class="descr">Записатися на прийом</span>
                                <svg class="icon-arrow_make_an_appointment">
                                    <use href="./images/sprite/sprite.svg#icon-arrow_make_an_appointment"></use>
                                </svg>
                            </button>
                        </div>
                    </div>

                </div>


                <div class="swiper-slide">
                    <div class="background-image-fourth-slide">
                        <div class="container">
                            <div class="position_about_company">
                                <a class="link about_company">Про компанію</a>
                                <span class="secondary_logo">
                                    <svg class="" width="65" height="16">
                                        <use href="./images/sprite/sprite.svg#icon-secondary-logo"></use>
                                    </svg>
                                </span>
                            </div>

                            <div class="fourth_slide_text">
                                <div class="first-block">
                                    <span>Медицина</span>
                                </div>
                                <div class="second-block">
                                    <span>лікує</span>
                                    <span>людину</span>
                                </div>
                                <div class="third-block">
                                    <span>а Ветеринарія</span>
                                </div>

                                <div class="fourth-block">
                                    <span>Людств</span>
                                    <button type="button" class="btn_make_an_appointment">
                                        <svg class="icon-paw" width="20" height="20">
                                            <use href="./images/sprite/sprite.svg#icon-paw"></use>
                                        </svg>
                                        <span class="descr">Записатися на прийом</span>
                                        <svg class="icon-arrow_make_an_appointment">
                                            <use href="./images/sprite/sprite.svg#icon-arrow_make_an_appointment">
                                            </use>
                                        </svg>
                                    </button>
                                    <span>!</span>
                                </div>

                                <div class="wrapper-thumb">
                                    <div class="thumb">
                                        <div class="">
                                            <button type="button" class="btn btn-open-block-info_ceo">
                                                <svg class="" width="12px" heigth="12px">
                                                    <use href="./images/sprite/sprite.svg#icon-plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="wrapp_btn-play-video-our-clinic_mobile">
                                            <button type="button" class="btn btn-play-video-our-clinic">
                                                <svg class="icon-play-video">
                                                    <use href="./images/sprite/sprite.svg#icon-play-video"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="ceo_info">
                                            <p class="ceo_name">Ракитянська Світлана Вікторівна</p>
                                            <p class="position_at_work">Засновниця та CEO <a>Zoowild</a> | Лікар
                                                ветеринарної
                                                медицини</p>
                                            <div class="position_subscribe">
                                                <svg class="icon-subscribe_ceo">
                                                    <use href="./images/sprite/sprite.svg#icon-subscribe_ceo"></use>
                                                </svg>
                                            </div>
                                            <div class="social_list">
                                                <a class="link" href="https://www.instagram.com/zoowild_vet/"
                                                    target="_blank" rel="noopener noreferrer">
                                                    <svg class="icon-instagram">
                                                        <use href="./images/sprite/sprite.svg#icon-instagram"></use>
                                                    </svg>
                                                </a>
                                                <a class="link"
                                                    href="https://www.facebook.com/profile.php?id=100091989705586"
                                                    target="_blank" rel="noopener noreferrer">
                                                    <svg class="icon-facebook">
                                                        <use href="./images/sprite/sprite.svg#icon-facebook"></use>
                                                    </svg>
                                                </a>
                                                <a class="link" href="https://t.me/SvZoowild" target="_blank"
                                                    rel="noopener noreferrer">
                                                    <svg class="icon-telegram">
                                                        <use href="./images/sprite/sprite.svg#icon-telegram"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container wrapper-button-a">
                            <div class="wrapper-btn-play-video">
                                <button type="button" class="btn btn-play-video-a">
                                    <svg class="icon-play-video">
                                        <use href="./images/sprite/sprite.svg#icon-play-video"></use>
                                    </svg>
                                </button>
                                <span class="btn-play-video-descr-our-company">Дивитись вiдео про нашу
                                    клініку</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <span class="swiper-pagination-total"></span>
            <div class="swiper-pagination"></div>

        </div>
</section>