<div class="hero">
    <div class="cube-wrapper">
        <div class="cube-slider swiper">
            <div class="swiper-wrapper ">
                <div class="swiper-slide ">
                    <div class="first-slide">
                        <div class="thumb_img_hero_snake">
                            <picture>
                                <source media="(min-width:768px)"
                                    srcset="./images/background-images/hero/slider-cube/first-slide/snake_desktop.jpg 1x">
                                <source media="(min-width:320px)"
                                    srcset="./images/background-images/hero/slider-cube/first-slide/snake@2x.jpg 2x">
                                <img src="./images/background-images/hero/slider-cube/first-slide/snake.jpg"
                                    alt="Змія" />
                            </picture>
                        </div>




                        <div class="container container_flex">

                            <p class="title_first_slide">Мережа Ветеринарних клiнiк</p>

                            <div class="wrapper-buttons">
                                <div class="container container_buttons">
                                    <div class="wrapper-btn-play-video">
                                        <button type="button" class="btn btn-play-video" data-open-video
                                            id="snake_video">
                                            <svg class="icon-play-video">
                                                <use href="./images/sprite/sprite.svg#icon-play-video"></use>
                                            </svg>
                                        </button>
                                        <span class="btn-play-video-descr">Дивитись вiдео </br>про нашу
                                            анаконду</span>
                                    </div>
                                    <div class="wrapper_btn_snake_tongue">
                                        <div class="wrapper_inside_btn_snake_tongue">
                                            <a href="#section_about" class="btn_snake_tongue" data-sroll-to-about>
                                                <svg class="icon-play-video">
                                                    <use href="./images/sprite/sprite.svg#icon-snake_tongue"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <a class="btn btn-learn-more link" href="#section_about" data-sroll-to-about>
                                        <span class="btn-learn-more-descr">Дiзнатись бiльше</span>
                                        <svg class="icon_arrow">
                                            <use href="./images/sprite/sprite.svg#icon_arrow_right_turned_45deg_v2">
                                            </use>
                                        </svg>
                                        <svg class="icon-learn-more">
                                            <use href="./images/sprite/sprite.svg#icon-learn-more-arrow"></use>
                                        </svg>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="background-image-second-slide">
                        <div class="background_overlay_second_slide">
                            <div class="container position_second_slide_text">
                                <div class="slide-text-mobile">
                                    <div class="position_mobile_first_words">
                                        <p>Турбота</p>
                                        <p>про</p>
                                    </div>
                                    <div class="position_mobile_center_words">
                                        <p>вашого</p>
                                        <p>домашнього</p>
                                        <p>улюбленця</p>
                                    </div>
                                    <div class="position_last_words">
                                        <p>та</p>
                                        <p>друга</p>
                                    </div>
                                </div>
                                <div class="slide-text_descktop">
                                    <div class="wrapper_top_part_words">
                                        <div class="first-block-words">
                                            <p>Турбота</p>
                                            <p>про</p>
                                        </div>
                                        <div class="second-block-words">
                                            <p>вашого</p>
                                            <p>домашнього</p>
                                            <p>друга</p>
                                            <p>та</p>
                                        </div>
                                    </div>
                                    <div class="third-block-words">
                                        <p>улюбленця</p>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper_button">
                                <button type="button" class="round_button main_btn_on_slide" data-open-modal-form><svg
                                        class="icon_paw">
                                        <use href="./images/sprite/sprite.svg#icon-paw"></use>
                                    </svg>
                                    <span>Зв'язатися</span>
                                    <svg class="icon_arrow_right">
                                        <use href="./images/sprite/sprite.svg#icon-arrow_right_v2"></use>
                                    </svg>
                                    <svg class="icon_arrow_right_turned_45deg">
                                        <use href="./images/sprite/sprite.svg#icon_arrow_right_turned_45deg"></use>
                                    </svg>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="background-image-third-slide">
                        <div class="gradient_third_slide">
                            <div class="container postion_third_slide_text">


                                <div class="third-slide-text">
                                    <div class="third-slide_first-block-words">
                                        <p>Кожна</p>
                                        <p>домашня</p>
                                    </div>

                                    <div class="third-slide_second-block-words">
                                        <p>Тваринка</p>
                                    </div>
                                    <div class="wrapper_btn_inside_text">
                                        <div class="third-slide_third-block-words">
                                            <p>стає частиною нашої родини</p>
                                        </div>
                                        <button type="button" class="round_button" data-open-modal-form><svg
                                                class="icon_paw">
                                                <use href="./images/sprite/sprite.svg#icon-paw"></use>
                                            </svg>
                                            <span class="text_btn_sign_up_for ">Записатися на прийом</span>
                                            <svg class="icon_arrow_right">
                                                <use href="./images/sprite/sprite.svg#icon-arrow_right_v2"></use>
                                            </svg>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="background-image-fourth-slide">
                        <div class="container">
                            <div class="position_about_company">
                                <a class="link about_company">Про компанію</a>
                                <span class="secondary_logo">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-secondary-logo"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="wrapp_postion_text_blok_ceo">
                                <div class="fourth_slide_text">
                                    <div class="first-block">
                                        <p>Медицина</p>
                                    </div>
                                    <div class="second-block">
                                        <p>лікує</p>
                                        <p>людину</p>
                                    </div>
                                    <div class="third-block">
                                        <p>а ветеринарія</p>
                                    </div>

                                    <div class="fourth-block">
                                        <p>Людств</p>
                                        <button type="button" class="round_button main_btn_on_slide resized"
                                            data-open-modal-form><svg class="icon_paw">
                                                <use href="./images/sprite/sprite.svg#icon-paw"></use>
                                            </svg>
                                            <span>Зв'язатися</span>
                                            <svg class="icon_arrow_right">
                                                <use href="./images/sprite/sprite.svg#icon-arrow_right_v2"></use>
                                            </svg>
                                            <svg class="icon_arrow_right_turned_45deg">
                                                <use href="./images/sprite/sprite.svg#icon_arrow_right_turned_45deg">
                                                </use>
                                            </svg>
                                        </button>
                                        <p>!</p>
                                    </div>
                                </div>
                                <div class="position_block_ceo">
                                    <div class="radial_gradient_first">
                                        <div class="radial_gradient_second">
                                            <div class="wrapper_background_ceo_foto">
                                                <div class="thumb">
                                                    <button type="button" class="btn btn-open-block-info_ceo"
                                                        data-open-block-info-ceo>

                                                        <svg class="icon-plus">
                                                            <use href="./images/sprite/sprite.svg#icon-plus"></use>
                                                        </svg>


                                                        <svg class="icon-minus is-hidden">
                                                            <use href="./images/sprite/sprite.svg#icon-minus"></use>
                                                        </svg>
                                                    </button>

                                                    <button type="button" class="btn btn-play-video-our-clinic"
                                                        data-open-video id="clinick_video">
                                                        <svg class="icon-play-video">
                                                            <use href="./images/sprite/sprite.svg#icon-play-video">
                                                            </use>
                                                        </svg>
                                                    </button>

                                                    <picture class="foto_ceo_with_snake">
                                                        <source media="(min-width:320px)"
                                                            srcset="./images/background-images/hero/slider-cube/fourth-slide/ceo_foto_1920.png 1x, ./images/background-images/hero/slider-cube/fourth-slide/ceo_foto_1920@2x.png 2x">
                                                        <img src="./images/background-images/hero/slider-cube/fourth-slide/ceo_foto_1920.png"
                                                            alt="Фото СЕО зі змією" />
                                                    </picture>

                                                    <div class="ceo_info_mobile_screen is-hidden" data-block-info-ceo>
                                                        <div class="wrapper_text_about_ceo_mobile_screen">
                                                            <p class="ceo_name_mobile_screen">Ракитянська Світлана
                                                                Вікторівна</p>
                                                            <p class="position_at_work_mobile_screen">Засновниця та
                                                                CEO
                                                                <a>Zoowild</a>
                                                                |
                                                                Лікар
                                                                ветеринарної
                                                                медицини
                                                            </p>
                                                            <div class="position_subscribe_mobile_screen">
                                                                <svg class="icon-subscribe_ceo_mobile_screen">
                                                                    <use
                                                                        href="./images/sprite/sprite.svg#icon-subscribe_ceo">
                                                                    </use>
                                                                </svg>
                                                            </div>
                                                            <div class="social_list_mobile_screen">
                                                                <a class="link social_link_mobile_screen"
                                                                    href="https://www.instagram.com/zoowild_vet"
                                                                    target="_blank" rel="noopener noreferrer">
                                                                    <svg class="">
                                                                        <use
                                                                            href="./images/sprite/sprite.svg#icon-instagram">
                                                                        </use>
                                                                    </svg>
                                                                </a>
                                                                <a class="link social_link_mobile_screen"
                                                                    href="https://www.facebook.com/profile.php?id=100015752195470"
                                                                    target="_blank" rel="noopener noreferrer">
                                                                    <svg class="">
                                                                        <use
                                                                            href="./images/sprite/sprite.svg#icon-facebook">
                                                                        </use>
                                                                    </svg>
                                                                </a>
                                                                <a class="link social_link_mobile_screen"
                                                                    href="https://t.me/SvZoowild" target="_blank"
                                                                    rel="noopener noreferrer">
                                                                    <svg class="">
                                                                        <use
                                                                            href="./images/sprite/sprite.svg#icon-telegram">
                                                                        </use>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="ceo_info">
                                                        <div class="wrapper_text_about_ceo">
                                                            <p class="ceo_name">Ракитянська Світлана Вікторівна</p>
                                                            <p class="position_at_work">Засновниця та CEO
                                                                <a href="./index.html" class="link">Zoowild</a>
                                                                |
                                                                Лікар
                                                                ветеринарної
                                                                медицини
                                                            </p>
                                                            <div class="position_subscribe">
                                                                <svg class="icon-subscribe_ceo">
                                                                    <use
                                                                        href="./images/sprite/sprite.svg#icon-subscribe_ceo">
                                                                    </use>
                                                                </svg>
                                                            </div>
                                                            <div class="social_list">
                                                                <a class="link social_link"
                                                                    href="https://www.instagram.com/zoowild_vet"
                                                                    target="_blank" rel="noopener noreferrer">
                                                                    <svg class="">
                                                                        <use
                                                                            href="./images/sprite/sprite.svg#icon-instagram">
                                                                        </use>
                                                                    </svg>


                                                                </a>
                                                                <a class="link social_link"
                                                                    href="https://www.facebook.com/profile.php?id=100015752195470"
                                                                    target="_blank" rel="noopener noreferrer">
                                                                    <svg class="">
                                                                        <use
                                                                            href="./images/sprite/sprite.svg#icon-facebook">
                                                                        </use>
                                                                    </svg>
                                                                </a>
                                                                <a class="link social_link"
                                                                    href="https://t.me/SvZoowild" target="_blank"
                                                                    rel="noopener noreferrer">
                                                                    <svg class="">
                                                                        <use
                                                                            href="./images/sprite/sprite.svg#icon-telegram">
                                                                        </use>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="wrapp-bullet">
                <span class="swiper-pagination-total"></span>
                <div class="swiper-pagination modified_pagination"></div>
            </div>
        </div>
    </div>