<section class="hero">
    <div class="cube-wrapper">
        <div class="cube-slider swiper">
            <div class="swiper-wrapper ">
                <div class="swiper-slide ">
                    <div class="background-image">
                        <div class="container ">
                            <nav class="navigation">
                                <a href="" class="link link_nav">Про компанію</a>
                                <a href="" class="link link_nav">Послуги</a>
                                <a href="" class="link link_nav">
                                    <svg class="icon_locaction" width="10" height="13">
                                        <use href="./images/sprite/sprite.svg#icon-location"></use>
                                    </svg>
                                    Філії
                                    <button type="button" class="btn btn_select">
                                        <svg class="" width="12" height="7">
                                            <use href="./images/sprite/sprite.svg#icon-chekbox"></use>
                                        </svg>
                                    </button>
                                </a>
                                <a href="" class="link link_nav">Контакти</a>

                                <a href="/src/index.html" class="link logo">
                                    <svg class="logo_icon">
                                        <use href="./images/sprite/sprite.svg#icon-logo"></use>
                                    </svg>
                                    <svg class="logo_icon_title">
                                        <use href="./images/sprite/sprite.svg#icon-logoTitle"></use>
                                    </svg>
                                </a>

                                <div class="btn_wrapper">

                                    <button type="button" class="btn btn_toggle_lang">
                                        <span>UA</span>
                                        <span>RU</span>
                                    </button>


                                    <a href="tel:+38 063 230 60 07" class="link phone">
                                        <svg class="phone_icon">
                                            <use href="./images/sprite/sprite.svg#icon-phone"></use>
                                        </svg>
                                        +38 063 230 60 07
                                        <button type="button" class="btn btn_select">
                                            <svg class="" width="12" height="11">
                                                <use href="./images/sprite/sprite.svg#icon-chekbox"></use>
                                            </svg>
                                        </button>
                                    </a>

                                    <button type="button" class="btn btn_call">
                                        <svg class="call_icon">
                                            <use href="./images/sprite/sprite.svg#icon-call"></use>
                                        </svg>
                                        <span class="btn_call_text">Зв’язатися</span>
                                    </button>

                                    <button type="button" class="btn btn_burger">
                                        <svg class="burger_icon" width="23" height="10">
                                            <use href="./images/sprite/sprite.svg#icon-burger"></use>
                                        </svg>
                                    </button>

                                </div>
                            </nav>
                        </div>
                        <div class="">
                            <svg class="main-title-mobile">
                                <use href="./images/sprite/sprite.svg#icon-main-title-mobile"></use>
                            </svg>
                            <p class="title">Мережа Ветеринарних клiнiк</p>
                            <div class="wrapper-button container">
                                <div class="wrapper-btn-play-video">
                                    <button type="button" class="btn btn-play-video">
                                        <svg class="icon-play-video">
                                            <use href="./images/sprite/sprite.svg#icon-play-video"></use>
                                        </svg>
                                    </button>
                                    <span class="btn-play-video-descr">Дивитись вiдео про нашу
                                        Анаконду</span>
                                </div>

                                <button type="button" class="btn btn-learn-more">
                                    <span class="btn-learn-more-descr">Дiзнатись бiльше</span>
                                    <svg class="icon-learn-more" width="14" height="17">
                                        <use href="./images/sprite/sprite.svg#icon-learn-more-arrow"></use>
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>




                <!-- <div class="swiper-slide">
                    <div class="wrapper_content_slide">
                        2
                        <p class="slogan_slide">Турбота про вашого домашнього улюбленця та друга</p>
                        <button>button</button>
                        <div class="background-image"></div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="wrapper_content_slide">
                        3
                        <p class="slogan_slide">Кожна домашня Тваринка стає частиною нашої родини</p>
                        <button>button</button>
                        <button>+</button>
                        <img>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="wrapper_content_slide">
                        4
                        <a>Про компанію</a>
                        <a>ZOOWILD</a>
                        <p class="slogan_slide">Медицина лікує людину а ветеринарія Людство</p>
                        <button>button</button>
                        <button>+</button>
                        <video></video>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>