<section class="section_licenses">
    <div class="boreders_section">
        <div class="container background_section_licenses">
            <div class="postion_content_section_licenses">
                <h2 class="section_title title_licenses hidden-text">Ліцензії </br>та сертифiкати</h2>
                <div>
                    <p class="descr_licenses hidden-text">Ми завжди розвиваємося, набуваємо нових знань і покращуємо
                        <span>якість
                            наших
                            послуг та сервісу</span>
                    </p>
                    <div class="swiper position_swiper">
                        <div class="swiper-licenses">
                            <div class="swiper-wrapper swiper-wrapper-licenses">
                                <div class="swiper-slide ">
                                    <div class="thumb_img_licenses">
                                        <img src="./images/content-images/licenses/diploma.jpg" data-open-foto-licenses
                                            alt="Диплом" />
                                    </div>
                                </div>
                                <div class="swiper-slide ">
                                    <div class="thumb_img_licenses">
                                        <img src="./images/content-images/licenses/certificate.jpg"
                                            data-open-foto-licenses alt="Сертифікат" />
                                    </div>
                                </div>
                                <div class="swiper-slide ">
                                    <div class="thumb_img_licenses">
                                        <img src="./images/content-images/licenses/second_diploma.jpg"
                                            data-open-foto-licenses alt="Диплом" />
                                    </div>
                                </div>
                                <div class="swiper-slide ">
                                    <div class="thumb_img_licenses">
                                        <img src="./images/content-images/licenses/diploma.jpg"
                                            data-data-open-foto-licenses alt="Диплом" />
                                    </div>
                                </div>
                                <div class="swiper-slide ">
                                    <div class="thumb_img_licenses">
                                        <img src="./images/content-images/licenses/certificate.jpg"
                                            data-open-foto-licenses alt="Сертифікат" />
                                    </div>
                                </div>
                                <div class="swiper-slide ">
                                    <div class="thumb_img_licenses">
                                        <img src="./images/content-images/licenses/second_diploma.jpg"
                                            data-open-foto-licenses alt="Диплом" />
                                    </div>
                                </div>








                            </div>
                            <div class="swiper-pagination pagination"></div>


                            <div class="postion_btn_nav_slide">
                                <div class="swiper-button-prev btn_nav_slide btn_nav_slide_prev">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-btn_arrow_left"></use>
                                    </svg>
                                </div>
                                <div class="swiper-button-next btn_nav_slide btn_nav_slide_next">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-btn_arrow_right"></use>
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>