<div class="backdrop is-hidden" data-modal>
    <div class="wrapper_menu" data-menu>
        <div class=" wrapper_logo_mobile_btn">
            <a href="/src/index.html">
                <div class="thumb_logo_mobile_menu">
                    <img src="./images/content-images/logo/logo_mobile_menu.svg" />
                </div>
            </a>






            <button type="button" class="btn_close_menu" data-menu-close>
                <svg class="" width="" height="">
                    <use href="./images/sprite/sprite.svg#icon_close"></use>
                </svg>
            </button>


        </div>

        <div class="wrapper_content_mobile_menu">
            <div class="wrapper_links_menu">
                <div class="">
                    <a href="#section_shop" class="link link_mobile_menu ">Інтернет магазин</a>
                    <a href="#section_about" class="link link_mobile_menu ">Про компанiю</a>
                    <a href="#section_services" class="link link_mobile_menu ">Послуги</a>
                    <a href="#section_contacts" class="link link_mobile_menu ">Контакти</a>
                </div>
                <button type="button" class="btn btn_toggle_lang modified_btn_toggle_lang" data-toggle-lang>
                    <span class="lang_ua">UA</span>
                    <div class="switch_lang modified_btn_toggle_lang">
                    </div>
                    <span class="lang_ru inactive">RU</span>
                </button>





            </div>
            <div class="wrapper_phone_menu">
                <svg class="" width="" height="">
                    <use href="./images/sprite/sprite.svg#icon-phone"></use>
                </svg>
                <a class="link phone_menu" href="tel:+38 063 230 60 07">+38 063 230 60 07</a>
                <button type="button" class="btn_select_phone"><svg class="" width="" height="">
                        <use href="./images/sprite/sprite.svg#icon-chekbox"></use>
                    </svg></button>
            </div>

            <p class="text_menu">Лікуємо, стрижемо, надаємо допомогу та піклуємося про вашого улюблинця з щирою любов'ю
                та
                професіоналізмом! Ваш
                пухнастик завжди у надійних руках</p>

            <button type="button" class="btn_reception">Записатися на прийом <svg class="">
                    <use href="./images/sprite/sprite.svg#icon-arrow_btn_call_deg45"></use>
                </svg></button>

            <p class="text_frendship">Давайте дружити:</p>
            <ul class="list_social_link_mobile_menu">
                <li><a class="link_social_mobile_menu">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-facebook-symbol"></use>
                        </svg>
                    </a></li>
                <li><a class="link_social_mobile_menu">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a></li>
                <li><a class="link_social_mobile_menu">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-youtube"></use>
                        </svg>
                    </a></li>
                <li><a class="link_social_mobile_menu">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-telegram_v3"></use>
                        </svg>
                    </a></li>
            </ul>
        </div>
        <p class="text_develop">Розробка сайту: <a class="link" href="">kruglov.design</a></p>


    </div>
</div>