<div class="backdrop is-hidden">
    <div class="wrapper_modal_map is-hidden" data-modal-map>
        <div class="modal_window_map">
            <button type="button" class="btn_close_modal map" data-close-map>
                <svg class="" width="" height="">
                    <use href="./images/sprite/sprite.svg#icon_close"></use>
                </svg>
            </button>
            <div class="block_map">
                <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.5671450602563!2d34.97123338818449!3d48.46483415428398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe3bbd93132d7%3A0x86d2be4d506c0512!2z0L_RgNC-0YHQvy4g0JjQstCw0L3QsCDQnNCw0LfQtdC_0YssIDM5LCDQlNC90LXQv9GALCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!5e0!3m2!1sru!2sua!4v1738508691989!5m2!1sru!2sua"
                    width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" data-map></iframe>
            </div>
        </div>
    </div>

    <div class="wrapper_modal_licenses is-hidden" data-modal-foto-licenses>
        <button type="button" class="btn_close_modal" data-close-licenses>
            <svg class="" width="" height="">
                <use href="./images/sprite/sprite.svg#icon_close"></use>
            </svg>
        </button>
        <div class="thumb_img_modal_licenses" data-thumb-foto>
            <img src="./images/content-images/licenses/diploma.jpg" data-img-modal-lisenses />
        </div>
    </div>



    <div class="wrapper_modal_video is-hidden" data-modal-video>
        <div class="modal_window_video">
            <button type="button" class="btn_close_modal" data-close-video>
                <svg class="" width="" height="">
                    <use href="./images/sprite/sprite.svg#icon_close"></use>
                </svg>
            </button>
            <div class="block_video">
                <iframe data-video class="video" src="https://www.youtube.com/embed/hXBHxsQ_5rw"
                    title="Furry Wombats Rolling Over - FUNNIEST Compilation" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </div>
        </div>
    </div>

    <div class="wrapper_positon_resume_submission_form is-hidden" data-modal-form-vacancy>
        <div class="wrapper_resume_submission_form">
            <div class="resume_submission_form">
                <button type="button" class="btn_close_modal btn_close_modal_form-vacancy"
                    data-close-modal-form-vacancy>
                    <svg class="" width="" height="">
                        <use href="./images/sprite/sprite.svg#icon_close"></use>
                    </svg>
                </button>

                <div class="postion_thumb_text">
                    <div class="thumb_img_ceo_resume_form">
                        <picture>
                            <source media="(min-width:320px)" srcset="./images/content-images/footer/ceo@2x.jpg 2x">
                            <img src="./images/content-images/footer/ceo.jpg" />
                        </picture>
                    </div>
                    <div class="block_text_leave_data">
                        <svg class="">
                            <use href="./images/sprite/sprite.svg#icon-badge-form">
                            </use>
                        </svg>
                        <p class="leave_data_text">Залиште ваші дані і найближчим часом ми з вами
                            зв'яжемося</p>
                    </div>
                </div>

                <form data-form-vacancy>
                    <div class="wrapper_first_part_form">
                        <div class="">
                            <p class="title_choose_position">Оберіть посаду</p>
                            <div>
                                <input name="vacancy" class="radio_button visually-hidden" type="radio"
                                    id="sales-consultant" value="sales-consultant">
                                <label for="sales-consultant" class="fake_radio_button">Продавець-консультант</label>

                                <input name="vacancy" class="radio_button visually-hidden" type="radio"
                                    id="administrator-consultant" value="administrator-consultant">
                                <label for="administrator-consultant"
                                    class="fake_radio_button">Адміністратор-консультант</label>


                                <input name="vacancy" class="radio_button visually-hidden" type="radio"
                                    id="veterinary-doctor" value="veterinary-doctor">
                                <label for="veterinary-doctor" class="fake_radio_button">Лікар ветеринарної
                                    медицини</label>

                                <input name="vacancy" class="radio_button visually-hidden" type="radio"
                                    id="veterinary-dentist" value="veterinary-dentist">
                                <label for="veterinary-dentist" class="fake_radio_button">Ветеринарний
                                    стоматолог</label>

                                <input name="vacancy" class="radio_button visually-hidden" type="radio" id="groomer"
                                    value="groomer">
                                <label for="groomer" class="fake_radio_button">Грумер</label>

                                <input name="vacancy" class="radio_button visually-hidden" type="radio"
                                    id="para-veterinary" value="para-veterinary">
                                <label for="para-veterinary" class="fake_radio_button">Пара ветеринар</label>
                            </div>
                            <div class="wrapper_add_resume">
                                <div class="position_svg_label">
                                    <svg class="icon-paper-clip">
                                        <use href="./images/sprite/sprite.svg#icon-paper-clip">
                                        </use>
                                    </svg>
                                    <input type="file" name="file" id="resume" accept=".pdf" class="visually-hidden"
                                        data-file />
                                    <label for="resume" class="add_resume">
                                        Додади резюме (за бажанням)</label>
                                </div>
                                <div class="wrapper_file visually-hidden" data-block-file>
                                    <span class="title_file" data-text-file></span>
                                    <button class="btn_delete_file" type="button" data-delete-file>
                                        <svg class="" width="12" height="12">
                                            <use href="./images/sprite/sprite.svg#icon_close">

                                            </use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="wrapper_second_part_form">
                            <div class="item_form">
                                <input class="field_text_modal_form" type="text" minlength="2" name="name" required
                                    placeholder="Ім'я*">
                            </div>
                            <div class="item_form">
                                <input class="field_text_modal_form" type="tel" minlength="2" name="phoneNumber"
                                    required placeholder="Телефон*">
                            </div>
                            <div class="item_form">
                                <input class="field_text_modal_form" type="email" minlength="2" name="email" required
                                    placeholder="Пошта">
                            </div>
                            <div class="item_form">
                                <input class="confirm_checkbox_vacancy_form visually-hidden" type="checkbox"
                                    id="confirm_policy_form_vacancy" required>
                                <label for="confirm_policy_form_vacancy"
                                    class="fake_chekbox_vacancy_form"><span>Підтверджуючи, ви
                                        погоджуєтесь
                                        з </span><a href="" class="link">політикою
                                        конфіденційності</a></label>
                            </div>
                            <button type="submit" class="wide_button_form">
                                Відгукнутися
                                <svg class="icon-arrow_btn_call_deg45">
                                    <use href="./images/sprite/sprite.svg#icon-arrow_btn_call_deg45"></use>
                                </svg>
                            </button>
                        </div>
                    </div>



                </form>

            </div>
        </div>
    </div>

    <div class="wrapper_positon_resume_submission_form is-hidden" data-modal-post-form-vacancy>
        <div class="wrapper_resume_submission_form">
            <div class="resume_submission_form post_form_vacancy">
                <div class="thumb_img_ceo_resume_form">
                    <button type="button" class="btn_close_modal btn_close_modal_form-vacancy"
                        data-close-modal-post-form-vacancy>
                        <svg class="" width="" height="">
                            <use href="./images/sprite/sprite.svg#icon_close"></use>
                        </svg>
                    </button>
                    <picture>
                        <source media="(min-width:320px)" srcset="./images/content-images/footer/ceo@2x.jpg 2x">
                        <img src="./images/content-images/footer/ceo.jpg" />
                    </picture>
                </div>
                <div class="wrapper_leave_data post_form">
                    <p class="text_leave_data_modal_form">Дякуємо за звернення, найближчим часом ми з вами зв'яжемося
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="backdrop_secondary is-hidden">
    <div class="wrapper_modal_form is-hidden" data-modal-form>
        <div class="modal_window_form">
            <button type="button" class="btn_close_modal btn_close_modal_form" data-close-modal-form>
                <svg class="" width="" height="">
                    <use href="./images/sprite/sprite.svg#icon_close"></use>
                </svg>
            </button>
            <div class="wrapper_thumb_img_ceo_form_social_list">


                <div class="postion_list_social_form">
                    <div class="thumb_img_ceo_form">
                        <picture>
                            <!-- <source media="(min-width:1200px)"
                                srcset="./images/content-images/contacts/cat_block_contact_communication_1920.jpg 1x, ./images/content-images/contacts/cat_block_contact_communication_1920@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/contacts/cat_block_contact_communication_768.jpg 1x,./images/content-images/contacts/cat_block_contact_communication_768@2x.jpg 2x"> -->
                            <source media="(min-width:320px)" srcset="./images/content-images/footer/ceo@2x.jpg 2x">
                            <img src="./images/content-images/footer/ceo.jpg" />
                        </picture>
                    </div>
                    <div class="wrapper_postion_list_social_link_ceo">
                        <ul class="list_social_link_ceo_form">
                            <li><a href="https://www.instagram.com/zoowild_vet" target="_blank"
                                    rel="noopener noreferrer" class="form_social_link_ceo instagram">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-instagram_v2">
                                        </use>
                                    </svg></a>
                            </li>
                            <li><a href="mailto:zoowild22@icloud.com" target="_blank" rel="noopener noreferrer"
                                    class="form_social_link_ceo email">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-mail_v2">
                                        </use>
                                    </svg></a>
                            </li>
                            <li><a href="https://www.facebook.com/profile.php?id=100015752195470" target="_blank"
                                    rel="noopener noreferrer" class="form_social_link_ceo messenger">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-messenger_v2">
                                        </use>
                                    </svg></a>
                            </li>
                            <li><a href="https://wa.me/380632306007" target="_blank" rel="noopener noreferrer"
                                    class="form_social_link_ceo whatsapp">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-whatsapp_v2">
                                        </use>
                                    </svg></a>
                            </li>
                            <li><a href="viber://chat?number=%2B380632306007" target="_blank" rel="noopener noreferrer"
                                    class="form_social_link_ceo viber">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-viber_v2">
                                        </use>
                                    </svg></a>
                            </li>
                            <li><a href="https://t.me/SvZoowild" target="_blank" rel="noopener noreferrer"
                                    class="form_social_link_ceo telegram">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-telegram">
                                        </use>
                                    </svg></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form_modal" data-form>
                    <div class="block_leave_data_modal_form item_form">
                        <div class="position_background_leave_data mobile">
                            <div class="background_leave_data"></div>
                        </div>
                        <div class="wrapper_leave_data">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-badge-form">
                                </use>
                            </svg>
                            <p class="text_leave_data_modal_form">Залиште ваші дані і найближчим часом ми з вами
                                зв'яжемося</p>
                        </div>
                    </div>

                    <form>
                        <div class="item_form">
                            <input class="field_text_modal_form" type="text" minlength="2" name="name" required
                                placeholder="Ім'я*">
                        </div>
                        <div class="item_form">
                            <input class="field_text_modal_form" type="tel" minlength="2" name="phoneNumber" required
                                placeholder="Телефон*">
                        </div>
                        <div class="item_form">
                            <input class="field_text_modal_form" type="email" minlength="2" name="email" required
                                placeholder="Пошта">
                        </div>
                        <div class="item_form">
                            <input class="confirm_checkbox_form visually-hidden" type="checkbox"
                                id="confirm_policy_form" required>
                            <label for="confirm_policy_form" class="fake_chekbox_modal_form"><span>Підтверджуючи, ви
                                    погоджуєтесь
                                    з </span><a href="" class="link">політикою
                                    конфіденційності</a></label>
                        </div>




                        <div class="wrapper_footer_btn_sign_up_for item_form">
                            <button type="submit" class="round_button secondary_round_button    "><svg class="icon_paw">
                                    <use href="./images/sprite/sprite.svg#icon-paw"></use>
                                </svg>
                                <span class="text_btn_sign_up_for">Записатися на прийом</span>
                                <svg class="icon_arrow_right">
                                    <use href="./images/sprite/sprite.svg#icon-arrow_right_v2"></use>
                                </svg>
                            </button>


                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="wrapper_modal_post_form is-hidden" data-modal-post-form>
        <div class="modal_window_form_secondary">
            <button type="button" class="link link_back">
                <span class="icon_arrow_back">

                </span>
                Назад до головної</button>
            <button type="button" class="btn_close_modal btn_close_modal_form" data-close-post-modal-form>
                <svg class="" width="" height="">
                    <use href="./images/sprite/sprite.svg#icon_close"></use>
                </svg>
            </button>

            <div class="wrpper_text_thum_post_form">

                <div class="wrapper_leave_data post_form">
                    <p class="text_leave_data_modal_form">Дякуємо за звернення, найближчим часом ми з вами зв'яжемося
                    </p>
                </div>

                <div class="thumb_img_ceo_form second">
                    <picture>
                        <!-- <source media="(min-width:1200px)"
                                                srcset="./images/content-images/contacts/cat_block_contact_communication_1920.jpg 1x, ./images/content-images/contacts/cat_block_contact_communication_1920@2x.jpg 2x">
                                            <source media="(min-width:768px)"
                                                srcset="./images/content-images/contacts/cat_block_contact_communication_768.jpg 1x,./images/content-images/contacts/cat_block_contact_communication_768@2x.jpg 2x"> -->
                        <source media="(min-width:320px)" srcset="./images/content-images/footer/ceo@2x.jpg 2x">
                        <img src="./images/content-images/footer/ceo.jpg" />
                    </picture>
                </div>

            </div>
        </div>
    </div>
</div>