<div class="backdrop is-hidden">
    <div class="wrapper_modal_map is-hidden" data-modal-map>
        <div class="modal_window_map">
            <button type="button" class="btn_close_map" data-close-map>
                <svg class="" width="" height="">
                    <use href="./images/sprite/sprite.svg#icon_close"></use>
                </svg>
            </button>
            <div class="block_map">
                <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.5671450602563!2d34.97123338818449!3d48.46483415428398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe3bbd93132d7%3A0x86d2be4d506c0512!2z0L_RgNC-0YHQvy4g0JjQstCw0L3QsCDQnNCw0LfQtdC_0YssIDM5LCDQlNC90LXQv9GALCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!5e0!3m2!1sru!2sua!4v1738508691989!5m2!1sru!2sua"
                    width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" data-map></iframe>
            </div>
        </div>
    </div>

    <div class="wrapper_modal_licenses" data-modal-foto-licenses>
        <button type="button" class="btn_close_map" data-close-licenses>
            <svg class="" width="" height="">
                <use href="./images/sprite/sprite.svg#icon_close"></use>
            </svg>
        </button>
        <div class="thumb_img_modal_licenses" data-thumb-foto>
            <img src="./images/content-images/licenses/diploma.jpg" data-img-modal-lisenses />
        </div>

    </div>
</div>