<section class="section_pharmacy">
    <div class="container">
        <p class="title_pharmacy">Також у нас є аптека</p>
        <p class="descr_pharmacy">Ветаптека <span>Zoowild</span> — єдиний магазин У країні, де ви знайдете
            <span>відділ
                рецептурних
                препаратів</span> для ветеринарної аптеки як для роздрiбної, так i для оптової торгiвлI
        </p>

        <div class="postion_text_img_gradient_pharmacy">
            <div class="wrapper_text_img_pharmacy">
                <div class="pharmacy_thumb_img_cats">
                    <picture>
                        <!-- <source media="(min-width:1920px)"
                    srcset="./images/content-images/veterinary_drugs/poster_1920.jpg 1x, ./images/content-images/veterinary_drugs/poster_1920@2x.jpg 2x">
                <source media="(min-width:1440px)"
                    srcset="./images/content-images/veterinary_drugs/poster_1440.jpg 1x, ./images/content-images/veterinary_drugs/poster_1440@2x.jpg 2x">
                <source media="(min-width:1200px)"
                    srcset="./images/content-images/veterinary_drugs/poster_1200.jpg 1x, ./images/content-images/veterinary_drugs/poster_1200@2x.jpg 2x">
                <source media="(min-width:768px)"
                    srcset="./images/content-images/veterinary_drugs/poster_768.jpg 1x, ./images/content-images/veterinary_drugs/poster_768@2x.jpg 2x"> -->
                        <source media="(min-width:320px)"
                            srcset="./images/background-images/pharmacy/cats_320@2x.jpg 2x">
                        <img src="./images/background-images/pharmacy/cats_320.jpg" alt="" />
                    </picture>
                </div>
                <div>
                    <p class="text_pharmacy_license"><span>ветеринарна</span>
                        <span>аптека</span>
                        <span>з Ліцензією</span>
                    </p>
                </div>
                <div class="pharmacy_thumb_img_dog">
                    <picture>

                        <source media="(min-width:320px)"
                            srcset="./images/background-images/pharmacy/dog_320@2x.jpg 2x">
                        <img src="./images/background-images/pharmacy/dog_320.jpg" alt="" />
                    </picture>
                </div>
            </div>
            <div class="pharmacy_thumb_img_seo">
                <picture>
                    <source media="(min-width:320px)"
                        srcset="./images/background-images/pharmacy/seo_with_flasks_320@2x.jpg 2x">
                    <img src="./images/background-images/pharmacy/seo_with_flasks_320.jpg" alt="" />
                </picture>
            </div>
            <div class="radial_gradient_pharmacy"></div>
        </div>
    </div>
</section>