<section class="section_pharmacy">
    <div class="container">
        <div class="background_paws">
            <div class="positon_title_thumb_descr">

                <p class="title_pharmacy">Також у нас є аптека</p>
                <div class="position_thumb_cats_descr">

                    <div class="pharmacy_thumb_img_cats_desktop">
                        <picture>
                            <source media="(min-width:1920px)"
                                srcset="./images/background-images/pharmacy/cats_1920.jpg, ./images/background-images/pharmacy/cats_1920@2x.jpg 2x">
                            <source media="(min-width:1440px)"
                                srcset="./images/background-images/pharmacy/cats_1440.jpg, ./images/background-images/pharmacy/cats_1440@2x.jpg 2x">
                            <source media="(min-width:1200px)"
                                srcset="./images/background-images/pharmacy/cats_1200.jpg, ./images/background-images/pharmacy/cats_1200@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/background-images/pharmacy/cats_768@2x.jpg 2x">
                            <img src="./images/background-images/pharmacy/cats_768.jpg" alt="" />
                        </picture>
                    </div>


                    <p class="descr_pharmacy">Ветаптека <span>Zoowild</span> — єдиний магазин У країні, де ви знайдете
                        <span>відділ
                            рецептурних
                            препаратів</span> для ветеринарної аптеки як для роздрiбної, так i для оптової торгiвлI
                    </p>
                </div>
            </div>

            <div class="postion_text_img_pharmacy">
                <div class="wrapper_text_img_gradient_pharmacy">
                    <div class="pharmacy_thumb_img_cats_tablet">
                        <picture>
                            <source media="(min-width:768px)"
                                srcset="./images/background-images/pharmacy/cats_768.jpg, ./images/background-images/pharmacy/cats_768@2x.jpg 2x">

                            <source media="(min-width:320px)"
                                srcset="./images/background-images/pharmacy/cats_320@2x.jpg 2x">
                            <img src="./images/background-images/pharmacy/cats_320.jpg" alt="" />
                        </picture>
                    </div>

                    <p class="text_pharmacy_license"><span>ветеринарна</span>
                        <span>аптека</span>
                        <span>з Ліцензією</span>
                    </p>

                    <div class="pharmacy_thumb_img_dog">
                        <picture>
                            <source media="(min-width:1920px)"
                                srcset="./images/background-images/pharmacy/dog_1920.jpg 1x,./images/background-images/pharmacy/dog_1920@2x.jpg 2x">
                            <source media="(min-width:1440px)"
                                srcset="./images/background-images/pharmacy/dog_1440.jpg 1x,./images/background-images/pharmacy/dog_1440@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/background-images/pharmacy/dog_768.jpg 1x,./images/background-images/pharmacy/dog_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/background-images/pharmacy/dog_320@2x.jpg 2x">
                            <img src="./images/background-images/pharmacy/dog_320.jpg" alt="" />
                        </picture>


                    </div>
                    <div class="radial_gradient_pharmacy"></div>
                </div>

                <div class="postion_thum_img_seo_descr">
                    <div class="pharmacy_thumb_img_seo">
                        <picture>
                            <source media="(min-width:1920px)"
                                srcset="./images/background-images/pharmacy/seo_with_flasks_1920.jpg 1x, ./images/background-images/pharmacy/seo_with_flasks_1920@2x.jpg 2x">
                            <source media="(min-width:1440px)"
                                srcset="./images/background-images/pharmacy/seo_with_flasks_1440.jpg 1x, ./images/background-images/pharmacy/seo_with_flasks_1440@2x.jpg 2x">
                            <source media="(min-width:1200px)"
                                srcset="./images/background-images/pharmacy/seo_with_flasks_1200.jpg 1x, ./images/background-images/pharmacy/seo_with_flasks_1200@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/background-images/pharmacy/seo_with_flasks_768.jpg 1x, ./images/background-images/pharmacy/seo_with_flasks_768@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/background-images/pharmacy/seo_with_flasks_320@2x.jpg 2x">
                            <img src="./images/background-images/pharmacy/seo_with_flasks_320.jpg" alt="" />
                        </picture>
                        <div class="wrapper_descr_drugs_pharmacy_tablet">
                            <p class="descr_drugs_pharmacy">найкращі сучасні, оригінальні ветпрепарати із сертифікатами
                                якості
                        </div>
                    </div>

                    <div class="wrapper_descr_drugs_pharmacy_desktop">
                        <p class="descr_drugs_pharmacy">найкращі сучасні, оригінальні ветпрепарати із сертифікатами
                            якості
                    </div>
                </div>

            </div>
        </div>

        <div class="postion_block_pet_shop">


            <div class="block_pet-shop">
                <div class="thumb_img_seo_with_medical_institute">
                    <picture>
                        <source media="(min-width:1920px)"
                            srcset="./images/background-images/pharmacy/seo_with_medical_institute_1920.jpg 1x, ./images/background-images/pharmacy/seo_with_medical_institute_1920@2x.jpg 2x">
                        <source media="(min-width:1440px)"
                            srcset="./images/background-images/pharmacy/seo_with_medical_institute_1440.jpg 1x, ./images/background-images/pharmacy/seo_with_medical_institute_1440@2x.jpg 2x">
                        <source media="(min-width:1200px)"
                            srcset="./images/background-images/pharmacy/seo_with_medical_institute_1200.jpg 1x, ./images/background-images/pharmacy/seo_with_medical_institute_1200@2x.jpg 2x">
                        <source media="(min-width:768px)"
                            srcset="./images/background-images/pharmacy/seo_with_medical_institute_768.jpg 1x, ./images/background-images/pharmacy/seo_with_medical_institute_768@2x.jpg 2x">
                        <source media="(min-width:320px)"
                            srcset="./images/background-images/pharmacy/seo_with_medical_institute@2x.jpg 2x">
                        <img src="./images/background-images/pharmacy/seo_with_medical_institute.jpg" alt="" />
                    </picture>

                </div>

                <div class="positon_descr_pet_shop_img">


                    <p class="descr_pet-shop">зоомагазин має широкий ассортимент зоотоварів, амуніції, та супутніх
                        товарів для любої тварини</p>

                    <div class="postion_img_animals">
                        <div>
                            <p class="descr_foto_animals">I навiть таких</p>

                            <div class="thumb_snake">
                                <picture>
                                    <source media="(min-width:1920px)"
                                        srcset="./images/background-images/pharmacy/snake_1920.jpg 1x, ./images/background-images/pharmacy/snake_1920@2x.jpg 2x">
                                    <source media="(min-width:1440px)"
                                        srcset="./images/background-images/pharmacy/snake_1440.jpg 1x, ./images/background-images/pharmacy/snake_1440@2x.jpg 2x">
                                    <source media="(min-width:1200px)"
                                        srcset="./images/background-images/pharmacy/snake_1200.jpg 1x, ./images/background-images/pharmacy/snake_1200@2x.jpg 2x">
                                    <source media="(min-width:768px)"
                                        srcset="./images/background-images/pharmacy/snake_768.jpg 1x, ./images/background-images/pharmacy/snake_768@2x.jpg 2x">
                                    <source media="(min-width:320px)"
                                        srcset="./images/background-images/pharmacy/snake@2x.jpg 2x">
                                    <img src="./images/background-images/pharmacy/snake.jpg" alt="" />
                                </picture>
                            </div>
                        </div>
                        <div>
                            <p class="descr_foto_animals">Або таких</p>
                            <div class="thumb_fish">
                                <picture>
                                    <source media="(min-width:320px)"
                                        srcset="./images/background-images/pharmacy/fishes@2x.jpg 2x">
                                    <img src="./images/background-images/pharmacy/fishes.jpg" alt="" />
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper_btn_pharmacy">
            <button type="button" class="btn btn_pharmacy_item ">
                Зв’язатися
                <svg class="icon-arrow_btn_pharmacy_deg45">
                    <use href="./images/sprite/sprite.svg#icon-arrow_btn_call_deg45"></use>
                </svg>
            </button>
            <a href="tel:+38 063 230 60 07" class="link btn_pharmacy_item">Перейти до магазину</a>
        </div>





    </div>

</section>