<section class="section_preparing">
    <div class="container">
        <div class="wrapper_title_descr_section_preparing ">
            <p class="section_title title_section_preparig hidden-text">Пiдготовка до прийому</p>
            <div class="wrapper_descr_preparing">
                <p class="title_preparing hidden-text">Як <span>підготувати улюблинця</span> до прийому лікаря без
                    стресу та шоку
                </p>
                <p class="descr_preparing hidden-text">Для того щоб підготувати свою тваринку до прийому, дотримуйтесь
                    правил,
                    вказаних
                    низче</p>
            </div>
        </div>
        <div class="background_section_preparing">
            <div class="background_img_section_preparing"></div>
        </div>
    </div>

    <div class="boreders_section_preparing">
        <div class="container">
            <ul class="list_preparing">
                <li class="item_list_preparing hidden-blockLeft">
                    <p class="rules_number">01</p>
                    <p class="rules_text">Не годувати тварину протягом 8-12 годин перед візитом до ветеринара. Це
                        дозволяє правильно
                        оцінити
                        апетит та вагу
                        тварини, а також провести необхідні діагностичні процедури, такі як аналіз крові
                    </p>
                </li>
                <li class="item_list_preparing hidden-blockLeft">
                    <p class="rules_number">02</p>
                    <p class="rules_text">Подбайте про чистоту тварини. Важливо вмити або ретельно очистити шерсть
                        улюбленця, особливо якщо
                        вона забруднена або
                        випадає
                    </p>
                </li>
                <li class="item_list_preparing hidden-text">
                    <p class="rules_number">03</p>
                    <p class="rules_text">Візьміть з собою усі медичні документи та картки щеплень вашої тварини. Це
                        допоможе ветеринару
                        отримати повну картину
                        про здоров'я та історію хвороби тварини
                    </p>
                </li>
                <li class="item_list_preparing hidden-blockRight">
                    <p class="rules_number">04</p>
                    <p class="rules_text">Запишіть всі симптоми та зміни в стані тварини, які ви помітили перед візитом
                        до ветеринара. Це
                        надасть додаткову
                        інформацію, яка допоможе ветеринару зробити правильний діагноз
                    </p>
                </li>
                <li class="item_list_preparing hidden-blockRight">
                    <p class="rules_number">05</p>
                    <p class="rules_text">Забезпечте комфортні умови для тварини під час поїздки до ветеринара.
                        Використовуйте транспортний
                        бокс або інші зручні
                        засоби, щоб забезпечити безпеку та комфорт вашому улюбленцю під час транспортування
                    </p>
                </li>
            </ul>

        </div>


    </div>
    <div class="container">
        <div class="wrapper_btn_section_preparing">
            <div class="wrapper_wide_buttons">
                <button type="button" class="wide_button hidden-blockLeft" data-open-modal-form>
                    Зв’язатися
                    <svg class="icon-arrow_btn_call_deg45">
                        <use href="./images/sprite/sprite.svg#icon-arrow_btn_call_deg45"></use>
                    </svg>
                </button>
                <a href="tel:+38 063 230 60 07" class="link wide_button wide_button_phone_number hidden-blockRight"
                    target="_blank" rel="noopener noreferrer">+38 063 230 60
                    07</a>
            </div>
        </div>
    </div>

</section>