<section class="section_question">
    <div class="container">
        <div class="postion_title_descr_section_question hidden-text">
            <p class="section_title title_question">Частi запитання</p>
            <p class="descr_question">запитання, які часто задають перед візитом <span>до ветеринарного лікаря</span>
            </p>
        </div>

        <div class="postion_img_ceo_question_list">


            <div class="position_thumb_info hidden-blockLeft">
                <div class="wrapper_img_ceo_text">
                    <div class="thumb_img_ceo">
                        <picture>
                            <source media="(min-width:1920px)"
                                srcset="./images/content-images/questions/ceo_1920.jpg 1x, ./images/content-images/questions/ceo_1920@2x.jpg 2x">
                            <source media="(min-width:1440px)"
                                srcset="./images/content-images/questions/ceo_1440.jpg 1x, ./images/content-images/questions/ceo_1440@2x.jpg 2x">
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/questions/ceo_1200.jpg 1x, ./images/content-images/questions/ceo_1200@2x.jpg 2x">
                            <source media="(min-width:768px)"
                                srcset="./images/content-images/questions/ceo_768.jpg 1x, ./images/content-images/questions/ceo_768@2x.jpg 2x">
                            <source media="(min-width:320px)" srcset="./images/content-images/questions/ceo@2x.jpg 2x">
                            <img src="./images/content-images/questions/ceo.jpg" />
                        </picture>
                    </div>

                    <div class="position_info_text_ceo">
                        <div class="wrapper_text_ceo">
                            <p class="name_ceo">Ракитянська Світлана Вікторівна</p>
                            <p class="position_at_work_ceo">Засновниця та CEO <span>Zoowild</span>
                                |
                                Лікар
                                ветеринарної
                                медицини</p>
                            <div class="ceo_sign"></div>
                            <div class="list_social">
                                <a class="link item_social_list" href="https://www.instagram.com/zoowild_vet"
                                    target="_blank" rel="noopener noreferrer">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-instagram">
                                        </use>
                                    </svg>
                                </a>
                                <a class="link item_social_list"
                                    href="https://www.facebook.com/profile.php?id=100015752195470" target="_blank"
                                    rel="noopener noreferrer">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-facebook">
                                        </use>
                                    </svg>
                                </a>
                                <a class="link item_social_list" href="https://t.me/SvZoowild" target="_blank"
                                    rel="noopener noreferrer">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-telegram">
                                        </use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="questions_list">
                <li class="item_question_list hidden-blockRight">
                    <div class="position_text_button_item_question">
                        <p class="question_text ">Чи потрібно моїй тварині підтримувати піст перед візитом до
                            ветеринара?
                        </p>
                        <button class="btn_expand" data-btn-expand>
                            <svg class="icon_plus_btn_expand" width="" height="">
                                <use href="./images/sprite/sprite.svg#icon-plus"></use>
                            </svg>
                            <svg class="icon_minus_btn_expand" width="" height="">
                                <use href="./images/sprite/sprite.svg#icon-minus"></use>
                            </svg>
                        </button>
                    </div>
                    <p class="text_answer_question">На піст необхідно підтримувати вашу тварину протягом 8-12 годин
                        перед
                        візитом до ветеринарного
                        лікаря. Це допоможе
                        правильно оцінити її апетит та вагу під час обстеження</p>
                </li>
                <li class="item_question_list hidden-blockRight">
                    <div class="position_text_button_item_question">
                        <p class="question_text">Як довго вартує процедура обстеження тварини?</p>
                        <button class="btn_expand" data-btn-expand>
                            <svg class="icon_plus_btn_expand" width="14" height="14">
                                <use href="./images/sprite/sprite.svg#icon-plus"></use>
                            </svg>
                            <svg class="icon_minus_btn_expand" width="14" height="14">
                                <use href="./images/sprite/sprite.svg#icon-minus"></use>
                            </svg>
                        </button>
                    </div>
                    <p class="text_answer_question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                        consequatur quam modi possimus? Consequatur, aspernatur nulla molestias soluta labore, in sunt
                        impedit cupiditate incidunt sapiente quae delectus. Repellendus, fugiat iusto.</p>
                </li>
                <li class="item_question_list hidden-blockRight">
                    <div class="position_text_button_item_question">
                        <p class="question_text">Чи потрібно приносити усі медичні записи та документи тварини?</p>
                        <button class="btn_expand" data-btn-expand>
                            <svg class="icon_plus_btn_expand" width="14" height="14">
                                <use href="./images/sprite/sprite.svg#icon-plus"></use>
                            </svg>
                            <svg class="icon_minus_btn_expand" width="14" height="14">
                                <use href="./images/sprite/sprite.svg#icon-minus"></use>
                            </svg>
                        </button>
                    </div>
                    <p class="text_answer_question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                        consequatur quam modi possimus? Consequatur, aspernatur nulla molestias soluta labore, in sunt
                        impedit cupiditate incidunt sapiente quae delectus. Repellendus, fugiat iusto.</p>
                </li>
                <li class="item_question_list hidden-blockRight">
                    <div class="position_text_button_item_question">
                        <p class="question_text">Якщо у тварини є певні симптоми, які краще зафіксувати для ветеринара?
                        </p>
                        <button class="btn_expand" data-btn-expand>
                            <svg class="icon_plus_btn_expand" width="14" height="14">
                                <use href="./images/sprite/sprite.svg#icon-plus"></use>
                            </svg>
                            <svg class="icon_minus_btn_expand" width="14" height="14">
                                <use href="./images/sprite/sprite.svg#icon-minus"></use>
                            </svg>
                        </button>
                    </div>
                    <p class="text_answer_question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                        consequatur quam modi possimus? Consequatur, aspernatur nulla molestias soluta labore, in sunt
                        impedit cupiditate incidunt sapiente quae delectus. Repellendus, fugiat iusto.</p>
                </li>
                <li class="item_question_list hidden-blockRight">
                    <div class="position_text_button_item_question">
                        <p class="question_text">Чи мають ветеринарні клініки план підготовки до візиту, наприклад, як
                            підготувати тварину перед
                            обстеженням?</p>
                        <button class="btn_expand" data-btn-expand>
                            <svg class="icon_plus_btn_expand" width="14" height="14">
                                <use href="./images/sprite/sprite.svg#icon-plus"></use>
                            </svg>
                            <svg class="icon_minus_btn_expand" width="14" height="14">
                                <use href="./images/sprite/sprite.svg#icon-minus"></use>
                            </svg>
                        </button>
                    </div>
                    <p class="text_answer_question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                        consequatur quam modi possimus? Consequatur, aspernatur nulla molestias soluta labore, in sunt
                        impedit cupiditate incidunt sapiente quae delectus. Repellendus, fugiat iusto.</p>
                </li>
                <li class="item_question_list hidden-blockRight">
                    <div class="position_text_button_item_question">
                        <p class="question_text">Чи можна отримати консультацію про харчування тварини та інші аспекти
                            догляду під час візиту до
                            ветеринара?</p>
                        <button class="btn_expand" data-btn-expand>
                            <svg class="icon_plus_btn_expand" width="14" height="14">
                                <use href="./images/sprite/sprite.svg#icon-plus"></use>
                            </svg>
                            <svg class="icon_minus_btn_expand" width="14" height="14">
                                <use href="./images/sprite/sprite.svg#icon-minus"></use>
                            </svg>
                        </button>
                    </div>
                    <p class="text_answer_question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                        consequatur quam modi possimus? Consequatur, aspernatur nulla molestias soluta labore, in sunt
                        impedit cupiditate incidunt sapiente quae delectus. Repellendus, fugiat iusto.</p>
                </li>
            </ul>
        </div>
    </div>
</section>