<section class="section_reviews">
    <div class="container background_section_reviews">
        <div class="wrapper_title_reviews hidden-text">
            <p class="title_reviews">Вiдгуки</p>
            <p class="descr_reviews"><span>Задоволенi</span> клієнти та їхні улюбленці</p>
        </div>
        <div class="wrapper_img_swiper_reviews">
            <div class="thumb_img_reviews">
                <picture>
                    <source media="(min-width:1200px)"
                        srcset="./images/content-images/reviews/employee_with_dog_1920.jpg 1x, ./images/content-images/reviews/employee_with_dog_1920@2x.jpg 2x">
                    <source media="(min-width:1200px)"
                        srcset="./images/content-images/reviews/employee_with_dog_768.jpg 1x, ./images/content-images/reviews/employee_with_dog_768@2x.jpg 2x">
                    <source media="(min-width:320px)"
                        srcset="./images/content-images/reviews/employee_with_dog@2x.jpg 2x">
                    <img src="./images/content-images/reviews/employee_with_dog.jpg"
                        alt="Співробітник клініки з собакою" />
                </picture>
                <ul class="list_descr_reviews">
                    <li class="item_list_descr_reviews">
                        <p class="number_descr_reviews number">8 350
                            <span class="wrapper_icon_plus">
                                <svg class="icon_increase">
                                    <use href="./images/sprite/sprite.svg#icon-plus"></use>
                                </svg>
                            </span>
                        </p>
                        <p class="text_reviews">Прооперованних собак</p>
                    </li>
                    <li class="item_list_descr_reviews">
                        <p class="number_descr_reviews number">15 500
                            <span class="wrapper_icon_plus">
                                <svg class="icon_increase">
                                    <use href="./images/sprite/sprite.svg#icon-plus"></use>
                                </svg>
                            </span>
                        </p>
                        <p class="text_reviews">Врятованних котiв</p>
                    </li>
                </ul>
            </div>



            <!-- <div class="second_wrapper_img_descr_reviews"></div> -->
            <div class="wrapper_img_second_item_descr_reviews">
                <div class="position_img_reviews">
                    <div class="thumb_img_cat_on_grass">
                        <picture>
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/reviews/cat_on_grass@2x.jpg 2x">
                            <img src="./images/content-images/reviews/cat_on_grass.jpg" alt="Дівчина з котом" />
                        </picture>
                    </div>
                    <div class="swiper position_swiper_reviews desktop">
                        <div class="swiper-reviews">
                            <div class="swiper-wrapper swiper-wrapper-reviews">
                                <div class="swiper-slide ">
                                    <div class="card_reviews">
                                        <div>
                                            <div class="positon_img_name_client">
                                                <div class="thumb_img_client">
                                                    <picture>
                                                        <source media="(min-width:320px)"
                                                            srcset="./images/content-images/reviews/client@2x.png 2x">
                                                        <img src="./images/content-images/reviews/client.png"
                                                            alt="Фото кліента з улюбленцем" />
                                                    </picture>
                                                </div>
                                                <div class="wrapper_name_clients">
                                                    <p class="name_client">Олена
                                                        та Муся</p>
                                                    <p class="age_client">Вік кiшцi 1.8 рокiв</p>
                                                </div>
                                                <span class="position_icons_rating">
                                                    <svg class="icons_rating">
                                                        <use href="./images/sprite/sprite.svg#icons_rating"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="wrapper_date_reviews">
                                                <p class="text_date_reviews">Відгук</p>
                                                <p class="date_reviews">23.04.2024</p>
                                            </div>
                                            <p class="text_review">Я дуже задоволена результатами лікування моєї кошки в
                                                ветеринарній клініці.
                                                Ветеринарний лікар надав професійну
                                                допомогу, правильно поставив діагноз і підібрав ефективне лікування.
                                                Кошка
                                                вже почуває себе набагато краще, і я вдячна
                                                за уважний підхід до мого улюбленця</p>
                                        </div>


                                    </div>
                                </div>
                                <div class="swiper-slide ">
                                    <div class="card_reviews">
                                        <div>
                                            <div class="positon_img_name_client">
                                                <div class="thumb_img_client">
                                                    <picture>
                                                        <source media="(min-width:320px)"
                                                            srcset="./images/content-images/reviews/client@2x.png 2x">
                                                        <img src="./images/content-images/reviews/client.png"
                                                            alt="Фото кліента з улюбленцем" />
                                                    </picture>
                                                </div>
                                                <div class="wrapper_name_clients">
                                                    <p class="name_client">Олена
                                                        та Муся</p>
                                                    <p class="age_client">Вік кiшцi 1.8 рокiв</p>
                                                </div>
                                                <span class="position_icons_rating">
                                                    <svg class="icons_rating">
                                                        <use href="./images/sprite/sprite.svg#icons_rating"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="wrapper_date_reviews">
                                                <p class="text_date_reviews">Відгук</p>
                                                <p class="date_reviews">23.04.2024</p>
                                            </div>
                                            <p class="text_review">Я дуже задоволена результатами лікування моєї кошки в
                                                ветеринарній клініці.
                                                Ветеринарний лікар надав професійну
                                                допомогу, правильно поставив діагноз і підібрав ефективне лікування.
                                                Кошка
                                                вже почуває себе набагато краще, і я вдячна
                                                за уважний підхід до мого улюбленця</p>
                                        </div>


                                    </div>
                                </div>
                                <div class="swiper-slide ">
                                    <div class="card_reviews">
                                        <div>
                                            <div class="positon_img_name_client">
                                                <div class="thumb_img_client">
                                                    <picture>
                                                        <source media="(min-width:320px)"
                                                            srcset="./images/content-images/reviews/client@2x.png 2x">
                                                        <img src="./images/content-images/reviews/client.png"
                                                            alt="Фото кліента з улюбленцем" />
                                                    </picture>
                                                </div>
                                                <div class="wrapper_name_clients">
                                                    <p class="name_client">Олена
                                                        та Муся</p>
                                                    <p class="age_client">Вік кiшцi 1.8 рокiв</p>
                                                </div>
                                                <span class="position_icons_rating">
                                                    <svg class="icons_rating">
                                                        <use href="./images/sprite/sprite.svg#icons_rating"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="wrapper_date_reviews">
                                                <p class="text_date_reviews">Відгук</p>
                                                <p class="date_reviews">23.04.2024</p>
                                            </div>
                                            <p class="text_review">Я дуже задоволена результатами лікування моєї кошки в
                                                ветеринарній клініці.
                                                Ветеринарний лікар надав професійну
                                                допомогу, правильно поставив діагноз і підібрав ефективне лікування.
                                                Кошка
                                                вже почуває себе набагато краще, і я вдячна
                                                за уважний підхід до мого улюбленця</p>
                                        </div>


                                    </div>
                                </div>
                                <div class="swiper-slide ">
                                    <div class="card_reviews">
                                        <div>
                                            <div class="positon_img_name_client">
                                                <div class="thumb_img_client">
                                                    <picture>
                                                        <source media="(min-width:320px)"
                                                            srcset="./images/content-images/reviews/client@2x.png 2x">
                                                        <img src="./images/content-images/reviews/client.png"
                                                            alt="Фото кліента з улюбленцем" />
                                                    </picture>
                                                </div>
                                                <div class="wrapper_name_clients">
                                                    <p class="name_client">Олена
                                                        та Муся</p>
                                                    <p class="age_client">Вік кiшцi 1.8 рокiв</p>
                                                </div>
                                                <span class="position_icons_rating">
                                                    <svg class="icons_rating">
                                                        <use href="./images/sprite/sprite.svg#icons_rating"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="wrapper_date_reviews">
                                                <p class="text_date_reviews">Відгук</p>
                                                <p class="date_reviews">23.04.2024</p>
                                            </div>
                                            <p class="text_review">Я дуже задоволена результатами лікування моєї кошки в
                                                ветеринарній клініці.
                                                Ветеринарний лікар надав професійну
                                                допомогу, правильно поставив діагноз і підібрав ефективне лікування.
                                                Кошка
                                                вже почуває себе набагато краще, і я вдячна
                                                за уважний підхід до мого улюбленця</p>
                                        </div>


                                    </div>
                                </div>
                                <div class="swiper-slide ">
                                    <div class="card_reviews">
                                        <div>
                                            <div class="positon_img_name_client">
                                                <div class="thumb_img_client">
                                                    <picture>
                                                        <source media="(min-width:320px)"
                                                            srcset="./images/content-images/reviews/client@2x.png 2x">
                                                        <img src="./images/content-images/reviews/client.png"
                                                            alt="Фото кліента з улюбленцем" />
                                                    </picture>
                                                </div>
                                                <div class="wrapper_name_clients">
                                                    <p class="name_client">Олена
                                                        та Муся</p>
                                                    <p class="age_client">Вік кiшцi 1.8 рокiв</p>
                                                </div>
                                                <span class="position_icons_rating">
                                                    <svg class="icons_rating">
                                                        <use href="./images/sprite/sprite.svg#icons_rating"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="wrapper_date_reviews">
                                                <p class="text_date_reviews">Відгук</p>
                                                <p class="date_reviews">23.04.2024</p>
                                            </div>
                                            <p class="text_review">Я дуже задоволена результатами лікування моєї кошки в
                                                ветеринарній клініці.
                                                Ветеринарний лікар надав професійну
                                                допомогу, правильно поставив діагноз і підібрав ефективне лікування.
                                                Кошка
                                                вже почуває себе набагато краще, і я вдячна
                                                за уважний підхід до мого улюбленця</p>
                                        </div>


                                    </div>
                                </div>
                                <div class="swiper-slide ">
                                    <div class="card_reviews">
                                        <div>
                                            <div class="positon_img_name_client">
                                                <div class="thumb_img_client">
                                                    <picture>
                                                        <source media="(min-width:320px)"
                                                            srcset="./images/content-images/reviews/client@2x.png 2x">
                                                        <img src="./images/content-images/reviews/client.png"
                                                            alt="Фото кліента з улюбленцем" />
                                                    </picture>
                                                </div>
                                                <div class="wrapper_name_clients">
                                                    <p class="name_client">Олена
                                                        та Муся</p>
                                                    <p class="age_client">Вік кiшцi 1.8 рокiв</p>
                                                </div>
                                                <span class="position_icons_rating">
                                                    <svg class="icons_rating">
                                                        <use href="./images/sprite/sprite.svg#icons_rating"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="wrapper_date_reviews">
                                                <p class="text_date_reviews">Відгук</p>
                                                <p class="date_reviews">23.04.2024</p>
                                            </div>
                                            <p class="text_review">Я дуже задоволена результатами лікування моєї кошки в
                                                ветеринарній клініці.
                                                Ветеринарний лікар надав професійну
                                                допомогу, правильно поставив діагноз і підібрав ефективне лікування.
                                                Кошка
                                                вже почуває себе набагато краще, і я вдячна
                                                за уважний підхід до мого улюбленця</p>
                                        </div>


                                    </div>
                                </div>

                            </div>



                            <div class="swiper-pagination pagination"></div>


                            <div class="postion_btn_nav_slide">
                                <div class="swiper-button-prev btn_nav_slide btn_nav_slide_prev">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-btn_arrow_left"></use>
                                    </svg>
                                </div>
                                <div class="swiper-button-next btn_nav_slide btn_nav_slide_next">
                                    <svg class="">
                                        <use href="./images/sprite/sprite.svg#icon-btn_arrow_right"></use>
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="thumb_img_employee_with_parrot">
                        <picture>
                            <source media="(min-width:1200px)"
                                srcset="./images/content-images/reviews/employee_with_parrot_1200.jpg 1x, ./images/content-images/reviews/employee_with_parrot_1200@2x.jpg 2x">
                            <source media="(min-width:320px)"
                                srcset="./images/content-images/reviews/employee_with_parrot@2x.jpg 2x">
                            <img src="./images/content-images/reviews/employee_with_parrot.jpg"
                                alt="Співробітник клініки з папугою" />
                        </picture>
                    </div>
                </div>
                <div class="second_item_descr_reviews">
                    <p class="number_descr_reviews number">142 500
                        <span class="wrapper_icon_plus">
                            <svg class="icon_increase">
                                <use href="./images/sprite/sprite.svg#icon-plus"></use>
                            </svg>
                        </span>
                    </p>
                    <p class="text_reviews">Здiйснено прийомів, консультацій, діагностик та інших спеціалізованих
                        дій з
                        тваринами</p>
                </div>
            </div>

            <div class="swiper position_swiper_reviews mobile_tablet">
                <div class="swiper-reviews">
                    <div class="swiper-wrapper swiper-wrapper-reviews">
                        <div class="swiper-slide ">
                            <div class="card_reviews">
                                <div>
                                    <div class="positon_img_name_client">
                                        <div class="thumb_img_client">
                                            <picture>
                                                <source media="(min-width:320px)"
                                                    srcset="./images/content-images/reviews/client@2x.png 2x">
                                                <img src="./images/content-images/reviews/client.png"
                                                    alt="Фото кліента з улюбленцем" />
                                            </picture>
                                        </div>
                                        <div class="wrapper_name_clients">
                                            <p class="name_client">Олена
                                                та Муся</p>
                                            <p class="age_client">Вік кiшцi 1.8 рокiв</p>
                                        </div>
                                        <span class="position_icons_rating">
                                            <svg class="icons_rating">
                                                <use href="./images/sprite/sprite.svg#icons_rating"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="wrapper_date_reviews">
                                        <p class="text_date_reviews">Відгук</p>
                                        <p class="date_reviews">23.04.2024</p>
                                    </div>
                                    <p class="text_review">Я дуже задоволена результатами лікування моєї кошки в
                                        ветеринарній клініці.
                                        Ветеринарний лікар надав професійну
                                        допомогу, правильно поставив діагноз і підібрав ефективне лікування. Кошка
                                        вже почуває себе набагато краще, і я вдячна
                                        за уважний підхід до мого улюбленця</p>
                                </div>


                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="card_reviews">
                                <div>
                                    <div class="positon_img_name_client">
                                        <div class="thumb_img_client">
                                            <picture>
                                                <source media="(min-width:320px)"
                                                    srcset="./images/content-images/reviews/client@2x.png 2x">
                                                <img src="./images/content-images/reviews/client.png"
                                                    alt="Фото кліента з улюбленцем" />
                                            </picture>
                                        </div>
                                        <div class="wrapper_name_clients">
                                            <p class="name_client">Олена
                                                та Муся</p>
                                            <p class="age_client">Вік кiшцi 1.8 рокiв</p>
                                        </div>
                                        <span class="position_icons_rating">
                                            <svg class="icons_rating">
                                                <use href="./images/sprite/sprite.svg#icons_rating"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="wrapper_date_reviews">
                                        <p class="text_date_reviews">Відгук</p>
                                        <p class="date_reviews">23.04.2024</p>
                                    </div>
                                    <p class="text_review">Я дуже задоволена результатами лікування моєї кошки в
                                        ветеринарній клініці.
                                        Ветеринарний лікар надав професійну
                                        допомогу, правильно поставив діагноз і підібрав ефективне лікування. Кошка
                                        вже почуває себе набагато краще, і я вдячна
                                        за уважний підхід до мого улюбленця</p>
                                </div>


                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="card_reviews">
                                <div>
                                    <div class="positon_img_name_client">
                                        <div class="thumb_img_client">
                                            <picture>
                                                <source media="(min-width:320px)"
                                                    srcset="./images/content-images/reviews/client@2x.png 2x">
                                                <img src="./images/content-images/reviews/client.png"
                                                    alt="Фото кліента з улюбленцем" />
                                            </picture>
                                        </div>
                                        <div class="wrapper_name_clients">
                                            <p class="name_client">Олена
                                                та Муся</p>
                                            <p class="age_client">Вік кiшцi 1.8 рокiв</p>
                                        </div>
                                        <span class="position_icons_rating">
                                            <svg class="icons_rating">
                                                <use href="./images/sprite/sprite.svg#icons_rating"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="wrapper_date_reviews">
                                        <p class="text_date_reviews">Відгук</p>
                                        <p class="date_reviews">23.04.2024</p>
                                    </div>
                                    <p class="text_review">Я дуже задоволена результатами лікування моєї кошки в
                                        ветеринарній клініці.
                                        Ветеринарний лікар надав професійну
                                        допомогу, правильно поставив діагноз і підібрав ефективне лікування. Кошка
                                        вже почуває себе набагато краще, і я вдячна
                                        за уважний підхід до мого улюбленця</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="card_reviews">
                                <div>
                                    <div class="positon_img_name_client">
                                        <div class="thumb_img_client">
                                            <picture>
                                                <source media="(min-width:320px)"
                                                    srcset="./images/content-images/reviews/client@2x.png 2x">
                                                <img src="./images/content-images/reviews/client.png"
                                                    alt="Фото кліента з улюбленцем" />
                                            </picture>
                                        </div>
                                        <div class="wrapper_name_clients">
                                            <p class="name_client">Олена
                                                та Муся</p>
                                            <p class="age_client">Вік кiшцi 1.8 рокiв</p>
                                        </div>
                                        <span class="position_icons_rating">
                                            <svg class="icons_rating">
                                                <use href="./images/sprite/sprite.svg#icons_rating"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="wrapper_date_reviews">
                                        <p class="text_date_reviews">Відгук</p>
                                        <p class="date_reviews">23.04.2024</p>
                                    </div>
                                    <p class="text_review">Я дуже задоволена результатами лікування моєї кошки в
                                        ветеринарній клініці.
                                        Ветеринарний лікар надав професійну
                                        допомогу, правильно поставив діагноз і підібрав ефективне лікування. Кошка
                                        вже почуває себе набагато краще, і я вдячна
                                        за уважний підхід до мого улюбленця</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="card_reviews">
                                <div>
                                    <div class="positon_img_name_client">
                                        <div class="thumb_img_client">
                                            <picture>
                                                <source media="(min-width:320px)"
                                                    srcset="./images/content-images/reviews/client@2x.png 2x">
                                                <img src="./images/content-images/reviews/client.png"
                                                    alt="Фото кліента з улюбленцем" />
                                            </picture>
                                        </div>
                                        <div class="wrapper_name_clients">
                                            <p class="name_client">Олена
                                                та Муся</p>
                                            <p class="age_client">Вік кiшцi 1.8 рокiв</p>
                                        </div>
                                        <span class="position_icons_rating">
                                            <svg class="icons_rating">
                                                <use href="./images/sprite/sprite.svg#icons_rating"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="wrapper_date_reviews">
                                        <p class="text_date_reviews">Відгук</p>
                                        <p class="date_reviews">23.04.2024</p>
                                    </div>
                                    <p class="text_review">Я дуже задоволена результатами лікування моєї кошки в
                                        ветеринарній клініці.
                                        Ветеринарний лікар надав професійну
                                        допомогу, правильно поставив діагноз і підібрав ефективне лікування. Кошка
                                        вже почуває себе набагато краще, і я вдячна
                                        за уважний підхід до мого улюбленця</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="card_reviews">
                                <div>
                                    <div class="positon_img_name_client">
                                        <div class="thumb_img_client">
                                            <picture>
                                                <source media="(min-width:320px)"
                                                    srcset="./images/content-images/reviews/client@2x.png 2x">
                                                <img src="./images/content-images/reviews/client.png"
                                                    alt="Фото кліента з улюбленцем" />
                                            </picture>
                                        </div>
                                        <div class="wrapper_name_clients">
                                            <p class="name_client">Олена
                                                та Муся</p>
                                            <p class="age_client">Вік кiшцi 1.8 рокiв</p>
                                        </div>
                                        <span class="position_icons_rating">
                                            <svg class="icons_rating">
                                                <use href="./images/sprite/sprite.svg#icons_rating"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="wrapper_date_reviews">
                                        <p class="text_date_reviews">Відгук</p>
                                        <p class="date_reviews">23.04.2024</p>
                                    </div>
                                    <p class="text_review">Я дуже задоволена результатами лікування моєї кошки в
                                        ветеринарній клініці.
                                        Ветеринарний лікар надав професійну
                                        допомогу, правильно поставив діагноз і підібрав ефективне лікування. Кошка
                                        вже почуває себе набагато краще, і я вдячна
                                        за уважний підхід до мого улюбленця</p>
                                </div>


                            </div>
                        </div>

                    </div>



                    <div class="swiper-pagination pagination"></div>


                    <div class="postion_btn_nav_slide">
                        <div class="swiper-button-prev btn_nav_slide btn_nav_slide_prev">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-btn_arrow_left"></use>
                            </svg>
                        </div>
                        <div class="swiper-button-next btn_nav_slide btn_nav_slide_next">
                            <svg class="">
                                <use href="./images/sprite/sprite.svg#icon-btn_arrow_right"></use>
                            </svg>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>