<section class="section_veterinary_drugs">
    <div class="overlay_veterinary_drugs">

        <div class="container postion_items_section_veterinary_drugs">

            <div class="postion_wrapper_btn_calls">
                <div class="wrapper_btn_calls">
                    <button type="button" class="btn btn_calls_item ">
                        Зв’язатися
                        <svg class="icon-arrow_btn_call_deg45">
                            <use href="./images/sprite/sprite.svg#icon-arrow_btn_call_deg45"></use>
                        </svg>
                    </button>
                    <a href="tel:+38 063 230 60 07" class="link btn_calls_item">+38 063 230 60 07</a>
                </div>
            </div>

            <div class="wrapper_title_poster_veterinary_drugs">
                <h3 class="title_veterinary_drugs">Ветеринарні рецептурні препарати на замовлення</h3>
                <button type="button" class="btn btn_play_vidoe_veterinaru_drugs">
                    <svg class="icon-play-video">
                        <use href="./images/sprite/sprite.svg#icon-play-video">
                        </use>
                    </svg>
                </button>
                <div class="thumb_poster_veterinary_drugs">
                    <picture>
                        <source media="(min-width:1920px)"
                            srcset="./images/content-images/veterinary_drugs/poster_1920.jpg 1x, ./images/content-images/veterinary_drugs/poster_1920@2x.jpg 2x">
                        <source media="(min-width:1440px)"
                            srcset="./images/content-images/veterinary_drugs/poster_1440.jpg 1x, ./images/content-images/veterinary_drugs/poster_1440@2x.jpg 2x">
                        <source media="(min-width:1200px)"
                            srcset="./images/content-images/veterinary_drugs/poster_1200.jpg 1x, ./images/content-images/veterinary_drugs/poster_1200@2x.jpg 2x">
                        <source media="(min-width:768px)"
                            srcset="./images/content-images/veterinary_drugs/poster_768.jpg 1x, ./images/content-images/veterinary_drugs/poster_768@2x.jpg 2x">
                        <source media="(min-width:320px)"
                            srcset="./images/content-images/veterinary_drugs/poster_320@2x.jpg 2x">
                        <img src="./images/content-images/veterinary_drugs/poster_320.jpg" alt="" />
                    </picture>

                </div>

            </div>
            <p class="desrcr_veterinary_drug_order">Послуга, яка дозволяє ветеринарній клініці або аптеці отримати
                спеціально складений медикамент, що відповідає
                індивідуальним потребам кожного пацієнта. Ці препарати виготовляються на замовлення лікаря, враховуючи
                конкретний
                діагноз, характеристики тварини та її стан здоров'я
            </p>

            <div class="postion_list_cards_btn_order_veterinary_drugs">


                <ul class="list_cards_veterinary_drugs">
                    <li class="list_item_cards_veterinary_drugs">
                        <div class="thumb_sales_foto">
                            <picture>
                                <source media="(min-width:320px)"
                                    srcset="./images/content-images/veterinary_drugs/retail@2x.jpg 2x">
                                <img src="./images/content-images/veterinary_drugs/retail.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="wrapper_descr_sales">
                            <p class="title_card_sale">Роздрібний продаж</p>
                            <p class="descr_card_sale">Складні ветеринарні препарати на замовлення: індивідуально
                                підбираються
                                для кожного пацієнта</p>
                        </div>
                    </li>
                    <li class="list_item_cards_veterinary_drugs">
                        <div class="thumb_sales_foto">
                            <picture>
                                <source media="(min-width:320px)"
                                    srcset="./images/content-images/veterinary_drugs/wholesale@2x.jpg 2x">
                                <img src="./images/content-images/veterinary_drugs/wholesale.jpg" alt="" />
                            </picture>
                        </div>
                        <div class="wrapper_descr_sales">

                            <p class="title_card_sale">Оптові продажі</p>
                            <p class="descr_card_sale">Оптові клієнти ветеринарних рецептурних препаратів отримують
                                спеціальні
                                умови закупівлі та
                                широкий вибір партнерських
                                програм</p>
                        </div>
                    </li>

                </ul>

                <div class="block_btn_order">

                    <button type="button" class="btn_order"><svg class="" width="20" height="20">
                            <use href="./images/sprite/sprite.svg#icon-paw"></use>
                        </svg>
                        <span>Перейти до магазину</span>
                        <svg class="" width="20" height="20">
                            <use href="./images/sprite/sprite.svg#icon-arrow_all_services"></use>
                        </svg>
                    </button>


                </div>
            </div>

        </div>
    </div>
</section>