.first-slide {
    // background-image: linear-gradient(
    //         rgba(4, 164, 39, 0.4),
    //         rgba(4, 164, 39, 0.4)
    //     ),
    //     url(../images/background-images/hero/slider-cube/first-slide/snake_mobile.jpg);
    background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    background-size: cover;

    width: 100%;
    height: 100%;
    // @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    //     screen and (min-resolution: 192dpi) and (max-width: 767px),
    //     screen and (min-resolution: 2dppx) and (max-width: 767px) {
    //     background-image: linear-gradient(
    //             rgba(4, 164, 39, 0.4),
    //             rgba(4, 164, 39, 0.4)
    //         ),
    //         url(../images/background-images/hero/slider-cube/first-slide/snake_mobile@2x.jpg);
    // }
    // @media screen and (min-width: 768px) {
    //     background-image: url(../images/background-images/hero/slider-cube/first-slide/snake_tablet.jpg);
    // }

    // @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    //     screen and (min-resolution: 192dpi) and (min-width: 768px),
    //     screen and (min-resolution: 2dppx) and (min-width: 768px) {
    //     background-image: url(../images/background-images/hero/slider-cube/first-slide/snake_tablet@2x.jpg);
    // }
    // @media screen and (min-width: 1200px) {
    //     background-image: url(../images/background-images/hero/slider-cube/first-slide/snake_1200.jpg);
    // }

    // @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    //     screen and (min-resolution: 192dpi) and (min-width: 1200px),
    //     screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    //     background-image: url(../images/background-images/hero/slider-cube/first-slide/snake_1200@2x.jpg);
    // }
    // @media screen and (min-width: 1440px) {
    //     background-size: cover;
    //     background-position: bottom center;
    //     background-image: url(../images/background-images/hero/slider-cube/first-slide/snake_1440.jpg);
    // }

    // @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
    //     screen and (min-resolution: 192dpi) and (min-width: 1440px),
    //     screen and (min-resolution: 2dppx) and (min-width: 1440px) {
    //     background-image: url(../images/background-images/hero/slider-cube/first-slide/snake_1440@2x.jpg);
    // }
    // @media screen and (min-width: 1920px) {
    //     background-position: center;
    //     background-image: url(../images/background-images/hero/slider-cube/first-slide/snake_1920.jpg);
    // }

    // @media screen and (min-device-pixel-ratio: 2) and (min-width: 1920px),
    //     screen and (min-resolution: 192dpi) and (min-width: 1920px),
    //     screen and (min-resolution: 2dppx) and (min-width: 1920px) {
    //     background-image: url(../images/background-images/hero/slider-cube/first-slide/snake_1920@2x.jpg);
    // }

    background-position: center;
    background-image: url(../images/background-images/hero/slider-cube/first-slide/hero_2500.jpg);

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/hero/slider-cube/first-slide/hero_2500.jpg);
    }
}

.first-slide_overlay {
    // padding-top: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: contain;
    // @media screen and (min-width: 768px) {
    //     background-image: linear-gradient(
    //             rgba(4, 164, 39, 0.4),
    //             rgba(4, 164, 39, 0.4)
    //         ),
    //         url(../images/background-images/hero/slider-cube/first-slide/overlay_768.png);
    // }

    // @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    //     screen and (min-resolution: 192dpi) and (min-width: 768px),
    //     screen and (min-resolution: 2dppx) and (min-width: 768px) {
    //     background-image: linear-gradient(
    //             rgba(4, 164, 39, 0.4),
    //             rgba(4, 164, 39, 0.4)
    //         ),
    //         url(../images/background-images/hero/slider-cube/first-slide/overlay_768@2x.png);
    // }
    // @media screen and (min-width: 1200px) {
    //     background-image: linear-gradient(
    //             rgba(4, 164, 39, 0.4),
    //             rgba(4, 164, 39, 0.4)
    //         ),
    //         url(../images/background-images/hero/slider-cube/first-slide/overlay_1440.png);
    // }

    // @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    //     screen and (min-resolution: 192dpi) and (min-width: 1200px),
    //     screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    //     background-image: linear-gradient(
    //             rgba(4, 164, 39, 0.4),
    //             rgba(4, 164, 39, 0.4)
    //         ),
    //         url(../images/background-images/hero/slider-cube/first-slide/overlay_1440@2x.png);
    // }
    // @media screen and (min-width: 1440px) {
    //     background-position: bottom center;
    //     background-size: cover;

    //     background-image: linear-gradient(
    //             rgba(4, 164, 39, 0.4),
    //             rgba(4, 164, 39, 0.4)
    //         ),
    //         url(../images/background-images/hero/slider-cube/first-slide/overlay_1440.png);
    // }

    // @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
    //     screen and (min-resolution: 192dpi) and (min-width: 1440px),
    //     screen and (min-resolution: 2dppx) and (min-width: 1440px) {
    //     background-image: linear-gradient(
    //             rgba(4, 164, 39, 0.4),
    //             rgba(4, 164, 39, 0.4)
    //         ),
    //         url(../images/background-images/hero/slider-cube/first-slide/overlay_1440@2x.png);
    // }
    // @media screen and (min-width: 1920px) {
    //     background-position: center;
    //     background-image: linear-gradient(
    //             rgba(4, 164, 39, 0.4),
    //             rgba(4, 164, 39, 0.4)
    //         ),
    //         url(../images/background-images/hero/slider-cube/first-slide/overlay_1920.png);
    // }

    // @media screen and (min-device-pixel-ratio: 2) and (min-width: 1920px),
    //     screen and (min-resolution: 192dpi) and (min-width: 1920px),
    //     screen and (min-resolution: 2dppx) and (min-width: 1920px) {
    //     background-image: linear-gradient(
    //             rgba(4, 164, 39, 0.4),
    //             rgba(4, 164, 39, 0.4)
    //         ),
    //         url(../images/background-images/hero/slider-cube/first-slide/overlay_1920@2x.png);
    // }
}

.gradient {
    // width: 100%;
    // height: 100%;
    // opacity: 30%;
    // background-image: linear-gradient(#042917 0%, #195b0a 100%);
    // position: absolute;
    // top: 0;
    // left: 0;
    // pointer-events: all;
}

// .wrapper_main_title {
//     height: 74%;
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     @media screen and (min-width: 768px) {
//         height: 100%;
//     }
// }

// .mobile_main_title {
//     width: 100%;
//     // display: flex;
//     // flex-direction: column;
//     // // flex-wrap: wrap;
//     // align-items: center;
//     // justify-content: center;
//     @media screen and (min-width: 768px) {
//         display: none;
//     }
// }

// .descktop_main_title {
//     display: none;
//     @media screen and (min-width: 768px) {
//         width: 100%;
//         display: flex;
//         // justify-content: space-between;
//         justify-content: space-between;

//         position: relative;
//     }
// }

// .title_zoo {
//     width: 308px;
//     height: 126px;
//     @media screen and (min-width: 768px) {
//         width: 241px;
//         height: 106px;
//         // margin-left: 15%;
//     }
//     @media screen and (min-width: 1200px) {
//         width: 391px;
//         height: 166px;
//         margin-left: 2%;
//     }
//     @media screen and (min-width: 1440px) {
//         width: 458px;
//         height: 193px;
//         margin-left: 0px;
//     }
//     @media screen and (min-width: 1920px) {
//         width: 626px;
//         height: 266px;
//     }
// }

// .title_wild {
//     width: 319px;
//     height: 94px;
//     @media screen and (min-width: 768px) {
//         width: 315px;
//         height: 100px;
//         // margin-right: 10%;
//     }
//     @media screen and (min-width: 1200px) {
//         width: 510px;
//         height: 156px;
//         // margin-right: 10%;
//     }
//     @media screen and (min-width: 1440px) {
//         width: 598px;
//         height: 182px;
//     }
//     @media screen and (min-width: 1920px) {
//         width: 816px;
//         height: 252px;
//     }
// }

// .title {
//     color: var(--primary-white-color-text);
//     font-family: var(--font-Cormorant);
//     font-size: 16px;
//     letter-spacing: 0.02em;
//     text-transform: uppercase;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     z-index: 2;
//     @media screen and (min-width: 768px) {
//         max-width: 240px;
//         transform: translate(0, 40px);
//     }
//     @media screen and (min-width: 1200px) {
//         font-size: 20px;
//         max-width: 362px;
//         transform: translate(8%, 40px);
//     }
//     @media screen and (min-width: 1440px) {
//         // transform: translate(20%, 40px);
//         transform: translate(0%, 40px);
//     }
// }

// .title.mobile {
//     position: relative;
//     text-align: center;
//     margin-top: 30px;
// }

.wrapper-button {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-20px);
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        transform: translate(0);
    }
    @media screen and (min-width: 1200px) {
        justify-content: space-between;
        align-items: flex-start;
    }
}

.wrapper-btn-play-video {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto 0;
}
.btn-play-video {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 76px;
    padding: 0;
    @include animation;
    transition-property: color;
    &:hover,
    &:focus {
        background-color: #dadc00;
    }
    @media screen and (min-width: 768px) {
        margin: 0 10px 0 50px;
    }
    @media screen and (min-width: 1200px) {
        width: 52px;
        height: 52px;
    }
    @media screen and (min-width: 1440px) {
        width: 64px;
        height: 64px;
    }
    @media screen and (min-width: 1920px) {
        width: 80px;
        height: 80px;
    }
}

.icon-play-video {
    width: 8px;
    height: 12px;
    @media screen and (min-width: 1440px) {
        width: 12px;
        height: 16px;
    }
    @media screen and (min-width: 1920px) {
        width: 18px;
        height: 20px;
    }
}

.btn-play-video-descr {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-white-color-text);
        font-family: var(--font-Manrope);
        font-size: 14px;
        letter-spacing: 0.01em;
        width: 153px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        width: 160px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 18px;
        width: 172px;
    }
}

.btn-learn-more {
    margin-top: auto;
    position: relative;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #04a427;
    display: flex;
    align-items: center;
    justify-content: center;
    @include animation;
    transition-property: color, transform, background-color;
    &:hover,
    &:focus {
        background-color: #dadc00;
        transform: rotate(-100deg);
    }

    @media screen and (min-width: 768px) {
        // margin-left: auto;
        width: 220px;
        height: 63px;
        background-color: rgba(9, 81, 25, 0.4);
        backdrop-filter: blur(13);
        border-radius: 15px 15px 0 0;
        // transform: none;
        &:hover,
        &:focus {
            transform: none;
            background-color: rgba(9, 81, 25, 0.9);
        }
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
        height: 106px;
    }
    @media screen and (min-width: 1440px) {
        width: 445px;
        height: 127px;
    }
    @media screen and (min-width: 1920px) {
        width: 550px;
        height: 158px;

        // filter: blur-background(13);
    }
}

.btn-learn-more-descr {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        margin-right: 6px;

        color: var(--primary-white-color-text);
        font-family: var(--font-Manrope);
        font-size: 16px;
        letter-spacing: 0.01em;
    }
    @media screen and (min-width: 1440px) {
        font-size: 18px;
    }
}

.btn-learn-more::after {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        content: '';
        width: 14px;
        height: 63px;
        border-radius: 0 15px 0 0;
        background-image: linear-gradient(
            rgba(4, 152, 37, 1),
            rgba(6, 10, 25, 1)
        );
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0, 0);
    }
    @media screen and (min-width: 1200px) {
        width: 24px;
        height: 106px;
    }
    @media screen and (min-width: 1440px) {
        width: 28px;
        height: 127px;
    }
    @media screen and (min-width: 1920px) {
        width: 36px;
        height: 158px;
    }
}

.icon-learn-more {
    width: 14px;
    height: 17px;
    @media screen and (min-width: 768px) {
        width: 14px;
        height: 14px;
    }
}
