.wrapper_postion_callsms {
    // background-color: orange;
    position: fixed;
    width: auto;
    bottom: 60px;
    right: 15px;
    z-index: 40;
    height: auto;
    @media screen and( min-width: 1440px) {
        right: 30px;
        bottom: 14px;
    }
}

.wrapper_btns_callsms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_callsms {
    border: 0.5px solid rgba(4, 164, 39, 0.15);
    padding: 0;
    outline: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(246, 255, 248, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #04a427;
    box-shadow: 0 0 24 0 rgba(25, 48, 56, 0.2);
    @media screen and( min-width: 1440px) {
        width: 68px;
        height: 68px;
    }
}

.btn_callsms:not(:last-child) {
    margin-bottom: 10px;
    @media screen and( min-width: 1440px) {
        margin-bottom: 20px;
    }
}
.btn_callsms:nth-child(2) {
    margin-bottom: 20px;
    @media screen and( min-width: 1440px) {
        margin-bottom: 30px;
    }
}

.btn_callsms:nth-child(3) {
    margin-bottom: 20px;
    @media screen and( min-width: 1440px) {
        margin-bottom: 30px;
    }
}

// row-gap: 10px;
//     @media screen and( min-width: 1440px) {
//         row-gap: 20px;
//     }

.btn_callsms svg {
    width: 15px;
    height: 15px;
    fill: currentColor;
    @media screen and( min-width: 1440px) {
        width: 32px;
        height: 32px;
    }
}

.message::after {
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    z-index: -1;
    border-radius: 50%;
    position: absolute;

    animation-name: changeSize;
    animation-duration: 1200ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-image: radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5) 20px,
        rgba(255, 255, 255, 0.3) 20px,
        rgba(255, 255, 255, 0.3) 26px
    );
    @media screen and (min-width: 1440px) {
        width: 108px;
        height: 108px;
        background-image: radial-gradient(
            circle at center,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5) 44px,
            rgba(255, 255, 255, 0.3) 44px,
            rgba(255, 255, 255, 0.3) 54px
        );
    }
}

.btn-to-top {
    visibility: hidden;
    opacity: 0;
    @include animation;
    transition-duration: 40ms;
    transition-property: visibility, opacity;
}

.visible {
    visibility: visible;
    opacity: 1;
    @include animation;
    transition-duration: 40ms;
    transition-property: visibility, opacity;
}
