.section_cooperation {
    background-color: #f3fff6;
    padding-bottom: 35px;
}

.changed_container {
    position: relative;
}

.container.changed_container {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 1400px) {
        width: 1400px;
        padding-left: 25px;
        padding-right: 25px;
    }
    @media screen and (min-width: 1920px) {
        width: 1920px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.postion_content_section_cooperation {
    @media screen and (min-width: 1200px) {
        padding-top: 54px;
        display: flex;
        align-items: flex-start;
    }
    @media screen and (min-width: 1440px) {
        padding-top: 74px;
    }
}

.background_bage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-image: url(../images/background-images/cooperation/badge_320.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/cooperation/badge_320@2x.png);
    }
    @media screen and (min-width: 768px) {
        background-size: contain;
        background-position: center;
        background-image: url(../images/background-images/cooperation/badge_768.png);
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: url(../images/background-images/cooperation/badge_768@2x.png);
    }
    @media screen and (min-width: 1200px) {
        width: 450px;
        // height: 100%;
        background-size: contain;
        background-position: top left;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    }
    @media screen and (min-width: 1440px) {
        background-position: top left;
        background-size: contain;
        width: 514px;
        height: 780px;
        // height: 100%;
        background-image: url(../images/background-images/cooperation/badge_1440.png);
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
        screen and (min-resolution: 192dpi) and (min-width: 1440px),
        screen and (min-resolution: 2dppx) and (min-width: 1440px) {
        background-image: url(../images/background-images/cooperation/badge_1440@2x.png);
    }
    @media screen and (min-width: 1920px) {
        background-position: bottom left;
        background-size: cover;
        width: 641px;
        height: 932px;
        // height: 100%;
        background-image: url(../images/background-images/cooperation/badge_1920.png);
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1920px),
        screen and (min-resolution: 192dpi) and (min-width: 1920px),
        screen and (min-resolution: 2dppx) and (min-width: 1920px) {
        background-image: url(../images/background-images/cooperation/badge_1920@2x.png);
    }
}

.wrapper_title_descr_cooperation {
    padding-top: 35px;
    padding-bottom: 35px;
    height: 700px;
    z-index: 1;
    position: relative;
    @media screen and (min-width: 1200px) {
        height: auto;
        padding-top: 0px;
        flex-grow: 1;
        padding-bottom: 0;
    }
}

.title_cooperation {
    line-height: 110%;
    letter-spacing: -1%;
    font-size: 15px;
    color: #04a427;
    margin-left: 15px;
    @media screen and (min-width: 768px) {
        margin-left: 0;
    }
    @media screen and (min-width: 1200px) {
        font-size: 17px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 20px;
    }
}

.descr_cooperation {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2%;
    line-height: 124%;
    max-width: 230px;
    color: #06631b;
    margin-left: 15px;
    @media screen and (min-width: 768px) {
        margin-left: 0;
    }
    @media screen and (min-width: 768px) {
        margin-top: 30px;
        font-size: 29px;
        max-width: 330px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-left: 60px;
        margin-bottom: 40px;
        font-size: 33px;
        max-width: 500px;
    }
    @media screen and (min-width: 1920px) {
        margin-bottom: 60px;
        max-width: 670px;
        font-size: 40px;
        margin-left: 0;
    }
}

.descr_cooperation span {
    background-color: #f3fff6;
}

.descr_cooperation span:first-child {
    color: #04a427;
    font-size: 20px;
    // line-height: 72%;
    font-weight: 500;
    @media screen and (min-width: 768px) {
        font-size: 31px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 35px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 45px;
    }
}

.descr_cooperation.mobile_tablet {
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.position_descr_list_vacancy {
    @media screen and (min-width: 1200px) {
        width: 788px;
    }
    @media screen and (min-width: 1440px) {
        width: 944px;
    }
    @media screen and (min-width: 1920px) {
        width: 1170px;
    }
}

.descr_cooperation.decktop {
    display: none;
    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.title_job_vacancy {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2%;
    line-height: 120%;
    color: #06631b;
    margin-bottom: 10px;
    margin-left: 15px;
    @media screen and (min-width: 768px) {
        margin-left: 0;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 60px;
        margin-bottom: 14px;
    }
    @media screen and (min-width: 1920px) {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

.bakground_list_job_vacancy_bottom_leave_details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 30px 30px;
    background-image: url(../images/background-images/cooperation/dog.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/cooperation/dog@2x.jpg);
    }
    @media screen and (min-width: 768px) {
        border-radius: 30px;
        flex-direction: row;
        align-items: flex-end;
        background-color: #04a427;
        padding: 8px 8px 8px 8px;
        flex-direction: row;
        justify-content: flex-start;
        background-image: none;
    }
    @media screen and (min-width: 1440px) {
        border-radius: 32px;
    }
    @media screen and (min-width: 1920px) {
        border-radius: 40px;
    }
}

.list_job_vacancy {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 10px;
    border-radius: 26px;
    background-color: #f3fff6;
    border: 6px solid #04a427;
    z-index: 2;
    @media screen and (min-width: 768px) {
        border: none;
        width: 534px;
        padding: 8px 26px;
    }
    @media screen and (min-width: 1440px) {
        width: 640px;
        padding: 8px 32px;
    }
    @media screen and (min-width: 1920px) {
        width: 794px;
        padding: 12px 40px;
        border-radius: 34px;
    }
}

.item_list_job_vacancy {
    width: 100%;
    height: 68px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    border-top: 1px solid rgba(4, 164, 39, 0.4);
    border-bottom: 1px solid rgba(4, 164, 39, 0.4);
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding: 10px 10px 8px 10px;
    @include animation;
    transition-duration: 150ms;
    transition-property: height;
    overflow: hidden;
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1440px) {
        padding: 14px 32px 8px 32px;
        height: 80px;
        border-radius: 32px;
    }
    @media screen and (min-width: 1920px) {
        padding: 26px 50px 8px 50px;
        height: 100px;
        border-radius: 40px;
    }
}
.show_list {
    height: 500px;
    @include animation;
    transition-duration: 150ms;
    transition-property: height;
}

.wapper_name_job_vacancy {
    display: flex;
    align-items: center;
}

.title_descr_job_vacancy {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1%;
    color: #04a427;
}

.title_offer {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1%;
    color: #04a427;
    margin-top: 16px;
}
.ivite_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1%;
    color: #04a427;
    margin-top: 16px;
}

.icon_paw_item_vacancy {
    width: 26px;
    height: 26px;
    @media screen and (min-width: 1920px) {
        width: 32px;
        height: 32px;
    }
}

.name_job_vacancy {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2%;
    line-height: 120%;
    color: #06631b;
    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 17px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 20px;
    }
}

.number_job_vacancy {
    font-size: 12px;
    color: #06631b;
    display: inline-block;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        margin-bottom: 6px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 15px;
    }
}

.wrapper_number_name_job_vacancy {
    margin-left: 8px;
}

.btn_view_job_vacancy {
    margin-left: auto;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.7px solid rgba(4, 164, 39, 0.15);
    background-color: #f3fff6;
    box-shadow: 0 0 4.04 0 rgba(4, 164, 39, 0.13);
    position: relative;
    @media screen and (min-width: 1440px) {
        width: 34px;
        height: 34px;
    }
    @media screen and (min-width: 1920px) {
        width: 42px;
        height: 42px;
    }
}

.icon_plus_btn_view_job {
    @include animation;
    transition-property: opacity, visibility, transform;
}

.is-scale {
    transform: scale(0);
    @include animation;
}

.icon_minus_btn_view_job {
    position: absolute;
    opacity: 0;
    @include animation;
    transition-property: opacity, visibility;
}

.is-show {
    opacity: 1;
    visibility: 1;
}

.wrapper_descr_job_vacancy {
    border-radius: 30;
    border-top: 0.7px solid rgba(4, 164, 39, 0.5);
    // border-bottom: 0.7px solid rgba(4, 164, 39, 0.5);

    padding: 10px 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.wrapper_descr_job_vacancy::-webkit-scrollbar {
    width: 8px;
}

.wrapper_descr_job_vacancy::-webkit-scrollbar-track {
    background: #a4daa9;
    border: 1px solid #04a42766;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrapper_descr_job_vacancy::-webkit-scrollbar-thumb {
    background-color: #04a427;
    border-radius: 80px;
    width: 8px;
    height: 5px;
}

.list_descr_job_vacancy {
    list-style: disc;
    color: green;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-left: 20px;
    margin-top: 16px;
}

.item_list_descr_job_vacancy {
}

.experience_work {
    font-size: 14px;
    color: #06631b;
    line-height: 120%;
    letter-spacing: -1%;
}

.wrapper_btn_applying_job {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    // width: 100%;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        column-gap: 10px;
    }
    @media screen and (min-width: 1200px) {
    }
    @media screen and (min-width: 1440px) {
        column-gap: 20px;
        // transform: translateY(-90px);
    }
    @media screen and (min-width: 1920px) {
        column-gap: 20px;
        // transform: translateY(-100px);
    }
}

.btn_applying_job_item {
    width: 100%;
    // flex-basis: calc(100%);
    // flex-basis: calc(100% - 10px / 2);
    font-size: 15px;
    height: 46px;
    border-radius: 10px;
    border-top: 1.5px solid rgba(4, 164, 39, 0.4);
    border-bottom: 1.5px solid rgba(4, 164, 39, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    @include animation;
    transition-property: color;
    font-family: var(--font-Manrope);
    @media screen and (min-width: 768px) {
        flex-basis: calc(100% - 10px / 2);
    }
    @media screen and (min-width: 1200px) {
        height: 52px;
        font-size: 17px;
    }

    @media screen and (min-width: 1440px) {
        flex-basis: calc(100% - 20px / 2);
        height: 62px;

        border-radius: 20px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 18px;
        flex-basis: calc(100% - 20px / 2);
        height: 78px;
        border-radius: 20px;
    }
}

.btn_applying_job_item:nth-child(1) {
    color: #ffffff;
    background-image: url(../images/background-images/veterinary_drugs/background_btn.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

    // font-size: 15px;
    font-family: var(--font-Manrope);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/veterinary_drugs/background_btn@2x.jpg);
    }
    &:hover,
    &:focus {
        color: #dadc00;
    }
    @media screen and (min-width: 768px) {
        // font-size: 14px;
    }
    @media screen and (min-width: 1920px) {
        // font-size: 18px;
    }
}

.icon-arrow_btn_pharmacy_deg45 {
    width: 12px;
    height: 12px;
    margin-left: 6px;
    fill: currentColor;

    @media screen and (min-width: 768px) {
        width: 12px;
        height: 12px;
        margin-left: 10px;
    }
    @media screen and (min-width: 1920px) {
        margin-left: 12px;
        width: 14px;
        height: 14px;
    }
}

.btn_applying_job_item:nth-child(2) {
    background-color: #e2ffe9;
    color: #04a427;
    // font-size: 15px;
    font-weight: 600;
    &:hover,
    &:focus {
        color: #dadc00;
    }
    @media screen and (min-width: 768px) {
        // font-size: 16px;
    }
    @media screen and (min-width: 1920px) {
        // font-size: 22px;
    }
}

.wrapper_btn_leave_details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 44px 0 18px 0;
    @media screen and (min-width: 768px) {
        padding: 0;
        // flex-grow: 1;
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        width: 470px;
        height: 490px;
        border-bottom-right-radius: 30px;
        background-image: url(../images/background-images/cooperation/dog_768_1.png);
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: url(../images/background-images/cooperation/dog_768_1@2x.png);
    }
    @media screen and (min-width: 1440px) {
        border-bottom-right-radius: 32px;
        height: 564px;
        background-image: url(../images/background-images/cooperation/dog_1440.png);
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
        screen and (min-resolution: 192dpi) and (min-width: 1440px),
        screen and (min-resolution: 2dppx) and (min-width: 1440px) {
        background-image: url(../images/background-images/cooperation/dog_1440@2x.png);
    }
    @media screen and (min-width: 1920px) {
        border-bottom-right-radius: 40px;
        height: 690px;
        width: 690px;
        background-image: url(../images/background-images/cooperation/dog_1920.png);
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1920px),
        screen and (min-resolution: 192dpi) and (min-width: 1920px),
        screen and (min-resolution: 2dppx) and (min-width: 1920px) {
        background-image: url(../images/background-images/cooperation/dog_1920@2x.png);
    }
}

.btn_leave_details {
    width: 145px;
    height: 145px;
    border: none;
    outline: none;
    background: #04a427;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-Manrope);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 110%;
    box-shadow: 0 4 8 0 rgba(6, 99, 27, 0.3);
    @media screen and (min-width: 768px) {
        margin-right: 30px;
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
        width: 145px;
        height: 145px;
        font-size: 17px;
        margin-right: 80px;
    }
    @media screen and (min-width: 1440px) {
        width: 160px;
        height: 160px;
        margin-right: 120px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 18px;
        width: 192px;
        height: 192px;
        margin-right: 160px;
    }
}

.btn_leave_details span {
    margin: 10px 0 4px 0;
    max-width: 112px;
    @media screen and (min-width: 1440px) {
        max-width: 140px;
    }
    @media screen and (min-width: 1920px) {
        max-width: 145px;
    }
}

.btn_leave_details svg {
    fill: currentColor;
    margin-right: 2px;
}

.icon_arrow_leave_details {
    width: 26px;
    @media screen and (min-width: 1440px) {
        width: 30px;
    }
}
