.section_health_problems {
    background-color: #f3fff6;
}

.block_health_problems {
    border-radius: 25px;
    border-top: 1px solid rgba(7, 97, 26, 0.3);
    border-bottom: 1.25px solid rgba(7, 97, 26, 0.3);
    background-color: rgba(255, 255, 255, 0.75);
    padding-top: 25px;
    padding-bottom: 28px;
    background-image: url(../images/background-images/health_problems/cat_bottom.png),
        url(../images/background-images/health_problems/paw_top.svg),
        url(../images/background-images/health_problems/paw_center.svg),
        url(../images/background-images/health_problems/paws_bottom.svg);
    background-repeat: no-repeat;
    background-size: 116px, auto, auto, auto;
    background-position: bottom -6px left, top 96px right 8px,
        top 330px left 100px, bottom 200px left 20px;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/health_problems/cat_bottom@2x.png),
            url(../images/background-images/health_problems/paw_top.svg),
            url(../images/background-images/health_problems/paw_center.svg),
            url(../images/background-images/health_problems/paws_bottom.svg);
    }
    @media screen and (min-width: 768px) {
        padding-top: 35px;
        padding-bottom: 35px;
        background-image: url(../images/background-images/health_problems/cat_bottom.png),
            url(../images/background-images/health_problems/paws_top_768.svg),
            url(../images/background-images/health_problems/paws_center_768.svg);

        background-repeat: no-repeat;
        background-size: 116px, auto, auto;
        background-position: bottom -6px left, top 74px right 30px,
            bottom 250px left 108px;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: url(../images/background-images/health_problems/cat_bottom@2x.png),
            url(../images/background-images/health_problems/paws_top_768.svg),
            url(../images/background-images/health_problems/paws_center_768.svg);
    }
    @media screen and (min-width: 1200px) {
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url(../images/background-images/health_problems/cat_bottom_1200.png),
            url(../images/background-images/health_problems/paws_top_1200.svg),
            url(../images/background-images/health_problems/paws_bottom_1200.svg);

        background-repeat: no-repeat;
        background-size: 125px, auto, auto;
        background-position: bottom -6px left, top 210px right 340px,
            bottom 10px left 240px;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        background-image: url(../images/background-images/health_problems/cat_bottom_1200@2x.png),
            url(../images/background-images/health_problems/paws_top_1200.svg),
            url(../images/background-images/health_problems/paws_bottom_1200.svg);
    }
    @media screen and (min-width: 1440px) {
        padding-top: 74px;
        padding-bottom: 74px;
        background-image: url(../images/background-images/health_problems/cat_bottom_1440.png),
            url(../images/background-images/health_problems/paws_top_1200.svg),
            url(../images/background-images/health_problems/paws_bottom_1200.svg);

        background-repeat: no-repeat;
        background-size: auto, 226px, 156px;
        background-position: bottom -6px left, top 230px right 400px,
            bottom 50px left 260px;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
        screen and (min-resolution: 192dpi) and (min-width: 1440px),
        screen and (min-resolution: 2dppx) and (min-width: 1440px) {
        background-image: url(../images/background-images/health_problems/cat_bottom_1440@2x.png),
            url(../images/background-images/health_problems/paws_top_1200.svg),
            url(../images/background-images/health_problems/paws_bottom_1200.svg);
        background-size: 150px, 226px, 156px;
    }
    @media screen and (min-width: 1920px) {
        padding-top: 74px;
        padding-bottom: 74px;
        background-image: url(../images/background-images/health_problems/cat_bottom_1920.png),
            url(../images/background-images/health_problems/paws_top_1200.svg),
            url(../images/background-images/health_problems/paws_bottom_1200.svg);

        background-repeat: no-repeat;
        background-size: auto, 274px, 194px;
        background-position: bottom -6px left, top 230px right 540px,
            bottom 10px left 350px;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1920px),
        screen and (min-resolution: 192dpi) and (min-width: 1920px),
        screen and (min-resolution: 2dppx) and (min-width: 1920px) {
        background-image: url(../images/background-images/health_problems/cat_bottom_1920@2x.png),
            url(../images/background-images/health_problems/paws_top_1200.svg),
            url(../images/background-images/health_problems/paws_bottom_1200.svg);
        background-size: 188px, 274px, 194px;
    }
}
.wrapper_title_descr_health_problems {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
}

.title_health_problems {
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    color: #04a427;
    text-align: center;
    @media screen and (min-width: 1200px) {
        font-size: 17px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 20px;
    }
}

.descr_health_problems {
    max-width: 200px;
    margin-top: 15px;
    font-size: 19px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -2%;
    color: #06631b;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        font-size: 28px;
        max-width: 350px;
        margin-top: 18px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 30px;
        position: absolute;
        margin-top: 0;
        // top: 0;
        // left: 0;
        transform: translateY(30px);
    }
    @media screen and (min-width: 1440px) {
        max-width: 430px;
        font-size: 40px;
        transform: translateY(40px);
    }
    @media screen and (min-width: 1920px) {
        max-width: 450px;
        font-size: 43px;
        transform: translateY(40px);
    }
}

.descr_health_problems span {
    color: #04a427;
    font-size: 22px;
    font-family: var(--font-Cormorant-Unicase);
    text-align: center;
    @media screen and (min-width: 768px) {
        font-size: 31px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 34px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 45px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 49px;
    }
}

.list_cards_health_problems {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // justify-content: space-around;
    // align-items: center;
    margin-top: 25px;
    column-gap: 14px;
    padding: 0 14px 0 14px;
    // width: 100%;
    @media screen and (min-width: 768px) {
        margin-top: 30px;
    }
    @media screen and (min-width: 1200px) {
        column-gap: 0;
        justify-content: space-around;
    }
}

.list_card_item:not(:last-child) {
    // background-color: gainsboro;
    flex-basis: calc((100% - 14px) / 2);
    @media screen and (min-width: 768px) {
        flex-basis: auto;
    }
}

.list_card_item:nth-child(2) {
    margin-top: 60px;
    @media screen and (min-width: 768px) {
        margin-top: auto;
        margin-right: 340px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 110px;
        margin-right: 0;
    }
}

.list_card_item:nth-child(3) {
    @media screen and (min-width: 768px) {
        margin-left: 200px;
        margin-top: 42px;
        margin-right: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 0;
        margin-top: 200px;
        margin-right: 0;
    }
}

.list_card_item:nth-child(4) {
    margin-top: 25px;
    @media screen and (min-width: 768px) {
        margin-top: 60px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: auto;
    }
}

.list_card_item:last-child {
    margin-top: 14px;
    margin-left: auto;
    flex-basis: calc((60%));
    @media screen and (min-width: 768px) {
        flex-basis: auto;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 0;
        margin-top: auto;
    }
}

.list_card_item:last-child img {
    object-position: top;
}

.descr_foto_health_problems {
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 14px;
    text-align: center;
    color: #095119;
    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 18px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 20px;
        margin-bottom: 24px;
    }
}

.thumb_foto_health_problems img {
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.thumb_foto_health_problems {
    overflow: hidden;
}

.wrapper_dental {
    width: 115px;
    @media screen and (min-width: 768px) {
        width: 160px;
    }
    @media screen and (min-width: 1200px) {
        width: 184px;
    }
    @media screen and (min-width: 1440px) {
        width: 220px;
    }
    @media screen and (min-width: 1920px) {
        width: 280px;
    }
}
.dental_problems {
    width: 100%;
    height: 140px;
    border-radius: 12px;
    @media screen and (min-width: 768px) {
        height: 196px;
    }
    @media screen and (min-width: 1200px) {
        height: 255px;
    }
    @media screen and (min-width: 1440px) {
        height: 270px;
        border-radius: 16px;
    }
    @media screen and (min-width: 1920px) {
        height: 338px;
        border-radius: 20px;
    }
}

.wrapper_sad_eyes {
    width: 151px;
    @media screen and (min-width: 768px) {
        width: 168px;
    }
    @media screen and (min-width: 1200px) {
        width: 206px;
    }
    @media screen and (min-width: 1440px) {
        width: 250px;
    }
    @media screen and (min-width: 1920px) {
        width: 310px;
    }
}

.sad_eyes {
    width: 100%;
    height: 140px;
    border-radius: 12px;
    @media screen and (min-width: 768px) {
        height: 146px;
    }
    @media screen and (min-width: 1440px) {
        height: 174px;
        border-radius: 16px;
    }
    @media screen and (min-width: 1920px) {
        height: 218px;
        border-radius: 20px;
    }
}

.wrapper_pain {
    width: 110px;
    @media screen and (min-width: 1440px) {
        width: 132px;
    }
    @media screen and (min-width: 1920px) {
        width: 158px;
    }
}

.pain {
    width: 100%;
    height: 110px;
    border-radius: 12px;
    @media screen and (min-width: 1200px) {
        height: 145px;
    }
    @media screen and (min-width: 1440px) {
        height: 175px;
        border-radius: 16px;
    }
    @media screen and (min-width: 1920px) {
        height: 218px;
        border-radius: 20px;
    }
}

.wrapper_not_beautiful_enough {
    width: 130px;
    @media screen and (min-width: 1440px) {
        width: 175px;
    }
    @media screen and (min-width: 1920px) {
        width: 194px;
    }
}

.not_beautiful_enough {
    width: 100%;
    height: 120px;
    border-radius: 12px;
    @media screen and (min-width: 1440px) {
        height: 144px;
        border-radius: 16px;
    }
    @media screen and (min-width: 1920px) {
        height: 180px;
        border-radius: 20px;
    }
}

.wrapper_everyone_welcome {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
        width: 192px;
    }
    @media screen and (min-width: 1440px) {
        width: 230px;
    }
    @media screen and (min-width: 1920px) {
        width: 288px;
    }
}

.everyone_welcome {
    width: 100%;
    height: 240px;
    border-radius: 20px;
    @media screen and (min-width: 1200px) {
        height: 252px;
    }
    @media screen and (min-width: 1440px) {
        height: 302px;
        border-radius: 24px;
    }
    @media screen and (min-width: 1920px) {
        height: 378px;
        border-radius: 30px;
    }
}

.wrapper_everyone_welcome .descr_foto_health_problems {
    max-width: 140px;
    margin: 14px 0 0 0;
    @media screen and (min-width: 1440px) {
        max-width: 200px;
    }
    @media screen and (min-width: 1920px) {
        margin: 24px 0 0 0;
    }
}
