.hero {
    background-color: #224405;
    overflow: hidden;
}

.cube-wrapper {
    position: relative;
}

.cube-slider {
    position: relative;
    height: calc(100svh - 67px);
    @media screen and(min-width: 1200px) {
        height: calc(100svh - 90px);
    }
    @media screen and(min-width: 1400px) {
        height: calc(100svh - 106px);
    }
}

.cube-slider .swiper-slide {
    position: relative;
    user-select: none;
    aspect-ratio: 1 / 1;
}

.swiper-cube .swiper-cube-shadow {
    display: none;
}

.background-image-first-slide {
    padding-top: 15px;
    background-image: linear-gradient(
            rgba(4, 164, 39, 0.4),
            rgba(4, 164, 39, 0.4)
        ),
        url(../images/background-images/hero/slider-cube/first-slide/snake_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
        screen and (min-resolution: 192dpi) and (max-width: 767px),
        screen and (min-resolution: 2dppx) and (max-width: 767px) {
        background-image: linear-gradient(
                rgba(4, 164, 39, 0.4),
                rgba(4, 164, 39, 0.4)
            ),
            url(../images/background-images/hero/slider-cube/first-slide/snake_mobile@2x.jpg);
    }

    @media screen and(min-width: 768px) {
        background-image: linear-gradient(
                rgba(4, 164, 39, 0.4),
                rgba(4, 164, 39, 0.4)
            ),
            url(../images/background-images/hero/slider-cube/first-slide/overlay_tablet.png),
            url(../images/background-images/hero/slider-cube/first-slide/snake_tablet.jpg);
        background-position: bottom;
        background-size: cover;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: linear-gradient(
                rgba(4, 164, 39, 0.4),
                rgba(4, 164, 39, 0.4)
            ),
            url(../images/background-images/hero/slider-cube/first-slide/overlay_tablet@2x.png),
            url(../images/background-images/hero/slider-cube/first-slide/snake_tablet@2x.jpg);
    }
    @media screen and(min-width: 1200px) {
        background-image: linear-gradient(
                rgba(4, 164, 39, 0.4),
                rgba(4, 164, 39, 0.4)
            ),
            url(../images/background-images/hero/slider-cube/first-slide/overlay_1200.png),
            url(../images/background-images/hero/slider-cube/first-slide/snake_1200.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        background-image: linear-gradient(
                rgba(4, 164, 39, 0.4),
                rgba(4, 164, 39, 0.4)
            ),
            url(../images/background-images/hero/slider-cube/first-slide/overlay_1200@2x.png),
            url(../images/background-images/hero/slider-cube/first-slide/snake_1200@2x.jpg);
    }
    @media screen and(min-width: 1440px) {
        background-image: linear-gradient(
                rgba(4, 164, 39, 0.4),
                rgba(4, 164, 39, 0.4)
            ),
            url(../images/background-images/hero/slider-cube/first-slide/overlay_1440.png),
            url(../images/background-images/hero/slider-cube/first-slide/snake_1440.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
        screen and (min-resolution: 192dpi) and (min-width: 1440px),
        screen and (min-resolution: 2dppx) and (min-width: 1440px) {
        background-image: linear-gradient(
                rgba(4, 164, 39, 0.4),
                rgba(4, 164, 39, 0.4)
            ),
            url(../images/background-images/hero/slider-cube/first-slide/overlay_1440@2x.png),
            url(../images/background-images/hero/slider-cube/first-slide/snake_1440@2x.jpg);
    }
    @media screen and(min-width: 1920px) {
        background-image: linear-gradient(
                rgba(4, 164, 39, 0.4),
                rgba(4, 164, 39, 0.4)
            ),
            url(../images/background-images/hero/slider-cube/first-slide/overlay_1920.png),
            url(../images/background-images/hero/slider-cube/first-slide/snake_1920.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1920px),
        screen and (min-resolution: 192dpi) and (min-width: 1920px),
        screen and (min-resolution: 2dppx) and (min-width: 1920px) {
        background-image: linear-gradient(
                rgba(4, 164, 39, 0.4),
                rgba(4, 164, 39, 0.4)
            ),
            url(../images/background-images/hero/slider-cube/first-slide/overlay_1920@2x.png),
            url(../images/background-images/hero/slider-cube/first-slide/snake_1920@2x.jpg);
    }
}

.main-title-mobile {
    display: block;
    margin: 20% auto 0;
    opacity: 75%;
    width: 290px;
    height: 220px;
    @media screen and(min-width: 768px) {
        display: none;
    }
}

.title {
    color: var(--primary-white-color);
    font-family: var(--font-Cormorant);
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 30px auto 0;
    text-align: center;
    @media screen and(min-width: 768px) {
        max-width: 240px;
        margin: 0 0 0 8%;
        position: absolute;
        bottom: 0;
        transform: translate(0, -100px);
        text-align: left;
    }
    @media screen and(min-width: 1200px) {
        font-size: 20px;
        max-width: 362px;
        transform: translate(0, -150px);
    }
    @media screen and(min-width: 1920px) {
        transform: translate(0, -200px);
    }
}

.wrapper-button {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-20px);
    flex-direction: column;
    @media screen and(min-width: 768px) {
        flex-direction: row;
        transform: translate(0);
    }
}

.wrapper-btn-play-video {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.btn-play-video {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 76px;
    &:hover,
    &:focus {
        background-color: #dadc00;
    }
    @media screen and(min-width: 768px) {
        margin: 0 10px 0 50px;
    }
    @media screen and(min-width: 1200px) {
        width: 52px;
        height: 52px;
    }
    @media screen and(min-width: 1440px) {
        width: 64px;
        height: 64px;
    }
    @media screen and(min-width: 1920px) {
        width: 80px;
        height: 80px;
    }
}

.icon-play-video {
    width: 8px;
    height: 12px;
    @media screen and(min-width:1440px) {
        width: 12px;
        height: 16px;
    }
    @media screen and(min-width:1920px) {
        width: 17px;
        height: 20px;
    }
}

.btn-play-video-descr {
    display: none;
    @media screen and(min-width: 768px) {
        display: block;
        color: var(--primary-white-color);
        font-family: var(--font-Cormorant);
        font-size: 14px;
        letter-spacing: 0.01em;
        width: 120px;
    }
    @media screen and(min-width: 1200px) {
        font-size: 16px;
        width: 140px;
    }
    @media screen and(min-width: 1440px) {
        font-size: 18px;
        width: 150px;
    }
}

.btn-learn-more {
    position: relative;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #04a427;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
        background-color: #dadc00;
        transform: rotate(-100deg);
    }

    @media screen and(min-width: 768px) {
        margin-left: auto;
        width: 220px;
        height: 63px;
        background-color: rgba(9, 81, 25, 0.45);
        border-radius: 6px 6px 0 0;
        &:hover,
        &:focus {
            background-color: #dadc00;
            transform: rotate(0deg);
        }
    }

    @media screen and(min-width: 1200px) {
        width: 370px;
        height: 106px;
    }
    @media screen and(min-width: 1440px) {
        width: 445px;
        height: 127px;
    }
    @media screen and(min-width: 1920px) {
        width: 550px;
        height: 158px;
    }
}

.btn-learn-more-descr {
    display: none;
    @media screen and(min-width: 768px) {
        display: block;
        margin-right: 6px;

        color: var(--primary-white-color);
        font-family: var(--font-Cormorant);
        font-size: 16px;
        letter-spacing: 0.01em;
    }
    @media screen and(min-width: 1440px) {
        font-size: 18px;
    }
}

.btn-learn-more::after {
    display: none;
    @media screen and(min-width: 768px) {
        display: block;
        content: '';
        width: 14px;
        height: 63px;
        border-radius: 0 6px 0 0;
        background-image: linear-gradient(
            rgba(4, 152, 37, 1),
            rgba(6, 10, 25, 1)
        );
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0, 0);
    }
    @media screen and(min-width: 1200px) {
        width: 24px;
        height: 106px;
    }
    @media screen and(min-width: 1440px) {
        width: 28px;
        height: 127px;
    }
    @media screen and(min-width: 1920px) {
        width: 36px;
        height: 158px;
    }
}

.icon-learn-more {
    width: 14px;
    height: 17px;
    @media screen and(min-width:768px) {
        width: 10px;
        height: 10px;
    }
}

.background-image-second-slide {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    background-image: url(../images/background-images/hero/slider-cube/second-slide/cat.png),
        linear-gradient(
            to top left,
            #032e15 0%,
            #0b7916 33%,
            #106a08 67%,
            #0c1901 100%
        );
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    mix-blend-mode: overlay;
    @media screen and (min-device-pixel-ratio: 2) and (max-width: 429px),
        screen and (min-resolution: 192dpi) and (max-width: 429px),
        screen and (min-resolution: 2dppx) and (max-width: 429px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat@2x.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
    }
    @media screen and(min-width: 430px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_430.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 430px),
        screen and (min-resolution: 192dpi) and (min-width: 430px),
        screen and (min-resolution: 2dppx) and (min-width: 430px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_430@2x.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
    }
    @media screen and(min-width: 768px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_768.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_768@2x.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
    }
    @media screen and(min-width: 1200px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1200.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1200@2x.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
    }
    @media screen and(min-width: 1440px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1440.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
        screen and (min-resolution: 192dpi) and (min-width: 1440px),
        screen and (min-resolution: 2dppx) and (min-width: 1440px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1440@2x.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
    }
    @media screen and(min-width: 1920px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1920.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1920px),
        screen and (min-resolution: 192dpi) and (min-width: 1920px),
        screen and (min-resolution: 2dppx) and (min-width: 1920px) {
        background-image: url(../images/background-images/hero/slider-cube/second-slide/cat_1920@2x.png),
            linear-gradient(
                to top left,
                #032e15 0%,
                #0b7916 33%,
                #106a08 67%,
                #0c1901 100%
            );
    }
}

.slide-text-mobile {
    margin-top: 50px;
    color: var(--primary-white-color);
    font-family: var(--font-Cormorant);
    font-size: 60px;
    font-weight: 100;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    line-height: 0.6em;
    text-align: center;
    @media screen and(min-width: 430px) {
        font-size: 80px;
    }
    @media screen and(min-width: 768px) {
        display: none;
    }
}

.slide-text-mobile span:nth-child(2) {
    font-size: 20px;
    letter-spacing: 0.01em;
    @media screen and(min-width: 430px) {
        font-size: 28px;
        margin-top: 60px;
    }
}

.slide-text-mobile span:nth-child(3) {
    font-size: 54px;
    letter-spacing: -0.05em;
    font-weight: 200;
    @media screen and(min-width: 430px) {
        font-size: 60px;
    }
}

.slide-text-mobile span:nth-child(4) {
    font-size: 42px;
    letter-spacing: -0.05em;
    @media screen and(min-width: 430px) {
        font-size: 54px;
    }
}

.slide-text-mobile span:nth-child(5) {
    font-size: 50px;
    letter-spacing: -0.05em;
    font-weight: 300;
    mix-blend-mode: overlay;
    @media screen and(min-width: 430px) {
        font-size: 66px;
    }
}

.slide-text-mobile span:nth-child(6) {
    font-size: 18px;
    letter-spacing: -0.05em;
    font-weight: 200;
    vertical-align: text-top;
}

.slide-text-mobile span:nth-child(7) {
    font-size: 44px;
    letter-spacing: -0.05em;
    font-weight: 200;
    @media screen and(min-width: 430px) {
        font-size: 48px;
    }
}

.wrapper_button {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transform: translateY(-80px);
    @media screen and(min-width:768px) {
        transform: translateY(-4%);
    }
}

.slide-text {
    display: none;
    @media screen and(min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        color: var(--primary-white-color);
        font-family: var(--font-Cormorant);
        font-size: 60px;
        font-weight: 100;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        line-height: 0.7em;
        text-align: center;
        margin-top: 2%;
    }
}

.first-block-words {
    max-width: 260px;
    text-align: right;
    line-height: 0.8em;
    @media screen and(min-width: 1200px) {
        max-width: 402px;
        line-height: 0.9em;
    }
    @media screen and(min-width: 1440px) {
        max-width: 483px;
        line-height: 1.05em;
    }
    @media screen and(min-width: 1920px) {
        max-width: 635px;
        line-height: 1.4em;
    }
}

.first-block-words span:nth-child(1) {
    font-size: 76px;
    @media screen and(min-width: 1200px) {
        font-size: 118px;
    }
    @media screen and(min-width: 1440px) {
        font-size: 142px;
    }
    @media screen and(min-width: 1920px) {
        font-size: 161px;
    }
}

.first-block-words span:nth-child(2) {
    font-size: 60px;
    letter-spacing: 0.01em;
    @media screen and(min-width: 1200px) {
        font-size: 90px;
    }
    @media screen and(min-width: 1440px) {
        font-size: 112px;
    }
    @media screen and(min-width: 1920px) {
        font-size: 140px;
    }
}

.second-block-words {
    max-width: 237px;
    text-align: center;
    line-height: 0.4em;
    @media screen and(min-width: 1200px) {
        max-width: 367px;
        line-height: 0.56em;
    }
    @media screen and(min-width: 1440px) {
        max-width: 440px;
        line-height: 0.64em;
    }
    @media screen and(min-width: 1920px) {
        max-width: 550px;
        line-height: 0.86em;
    }
}

.second-block-words span:nth-child(1) {
    font-size: 60px;
    @media screen and(min-width: 1200px) {
        font-size: 90px;
    }
    @media screen and(min-width: 1440px) {
        font-size: 108px;
    }
    @media screen and(min-width: 1920px) {
        font-size: 135px;
    }
}

.second-block-words span:nth-child(2) {
    font-size: 15px;
    letter-spacing: -0.05em;
    @media screen and(min-width: 1200px) {
        font-size: 16px;
        display: block;
    }
    @media screen and(min-width: 1440px) {
        font-size: 20px;
    }
    @media screen and(min-width: 1920px) {
        font-size: 24px;
    }
}

.second-block-words span:nth-child(3) {
    font-size: 48px;
    letter-spacing: -0.05em;
    @media screen and(min-width: 1200px) {
        font-size: 74px;
    }
    @media screen and(min-width: 1440px) {
        font-size: 88px;
    }
    @media screen and(min-width: 1920px) {
        font-size: 110px;
    }
}

.second-block-words span:nth-child(4) {
    font-size: 13px;
    letter-spacing: -0.05em;
    display: block;
    @media screen and(min-width: 1200px) {
        font-size: 16px;
    }
    @media screen and(min-width: 1440px) {
        font-size: 20px;
    }
    @media screen and(min-width: 1920px) {
        font-size: 24px;
    }
}

.third-block-words span {
    font-size: 124px;
    font-weight: medium;
    mix-blend-mode: overlay;
    line-height: 0.6em;
    @media screen and(min-width: 1200px) {
        font-size: 190px;
    }
    @media screen and(min-width: 1440px) {
        font-size: 230px;
    }
    @media screen and(min-width: 1920px) {
        font-size: 289px;
    }
}

.btn_make_an_appointment {
    border: none;
    position: relative;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #04a427;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-family: var(--font-Monrope);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.01em;
    &:hover,
    &:focus {
        background-color: #dadc00;
        color: #04a427;
        transform: rotate(-20deg);
    }

    @media screen and(min-width: 768px) {
        width: 120px;
        height: 120px;
    }

    @media screen and(min-width: 1200px) {
        width: 145px;
        height: 145px;
        font-size: 18px;
    }
    @media screen and(min-width: 1440px) {
        width: 160px;
        height: 160px;
    }
    @media screen and(min-width: 1920px) {
        width: 192px;
        height: 192px;
    }
}

.icon-paw {
    width: 20px;
    height: 20px;
    @media screen and(min-width: 1200px) {
        width: 18px;
        height: 18px;
    }
    @media screen and(min-width: 1440px) {
        width: 20px;
        height: 20px;
    }
    @media screen and(min-width: 1920px) {
        width: 28px;
        height: 28px;
    }
}

.icon-arrow_make_an_appointment {
    width: 16px;
    height: 24px;
    transform: rotate(30deg);
    @media screen and(min-width: 768px) {
        transform: rotate(0);
    }

    @media screen and(min-width: 1200px) {
        width: 19px;
        height: 30px;
    }
    @media screen and(min-width: 1440px) {
        width: 21px;
        height: 33px;
    }
    @media screen and(min-width: 1920px) {
        width: 28px;
        height: 44px;
    }
}

.btn_make_an_appointment svg {
    fill: currentColor;
}

.btn_make_an_appointment span {
    margin: 8px 0 0 0;
}

.btn_make_an_appointment .icon-paw,
.btn_make_an_appointment .descr {
    display: none;
    @media screen and(min-width: 768px) {
        display: block;
    }
}

.background-image-third-slide {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_in_cap.png),
        linear-gradient(
            to right,
            #081e02 2%,
            #0c2502 14%,
            #0d450c 100%,
            #0b2b04 100%
        );
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: overlay;
    mix-blend-mode: color-dodge;
    mix-blend-mode: color-dodge;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_in_cap@2x.png),
            linear-gradient(
                to right,
                #081e02 2%,
                #0c2502 14%,
                #0d450c 100%,
                #0b2b04 100%
            );
    }
    @media screen and(min-width: 768px) {
        background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_in_cap_768.png),
            linear-gradient(
                to right,
                #081e02 2%,
                #0c2502 14%,
                #0d450c 100%,
                #0b2b04 100%
            );
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
        screen and (min-resolution: 192dpi) and (min-width: 768px),
        screen and (min-resolution: 2dppx) and (min-width: 768px) {
        background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_in_cap_768@2x.png),
            linear-gradient(
                to right,
                #081e02 2%,
                #0c2502 14%,
                #0d450c 100%,
                #0b2b04 100%
            );
    }
    @media screen and(min-width: 1200px) {
        background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_in_cap_1200.png),
            linear-gradient(
                to right,
                #081e02 2%,
                #0c2502 14%,
                #0d450c 100%,
                #0b2b04 100%
            );
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
        screen and (min-resolution: 192dpi) and (min-width: 1200px),
        screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_in_cap_1200@2x.png),
            linear-gradient(
                to right,
                #081e02 2%,
                #0c2502 14%,
                #0d450c 100%,
                #0b2b04 100%
            );
    }
    @media screen and(min-width: 1440px) {
        background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_in_cap_1440.png),
            linear-gradient(
                to right,
                #081e02 2%,
                #0c2502 14%,
                #0d450c 100%,
                #0b2b04 100%
            );
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
        screen and (min-resolution: 192dpi) and (min-width: 1440px),
        screen and (min-resolution: 2dppx) and (min-width: 1440px) {
        background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_in_cap_1440@2x.png),
            linear-gradient(
                to right,
                #081e02 2%,
                #0c2502 14%,
                #0d450c 100%,
                #0b2b04 100%
            );
    }
    @media screen and(min-width: 1920px) {
        background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_in_cap_1920.png),
            linear-gradient(
                to right,
                #081e02 2%,
                #0c2502 14%,
                #0d450c 100%,
                #0b2b04 100%
            );
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1920px),
        screen and (min-resolution: 192dpi) and (min-width: 1920px),
        screen and (min-resolution: 2dppx) and (min-width: 1920px) {
        background-image: url(../images/background-images/hero/slider-cube/third-slide/cat_in_cap_1920@2x.png),
            linear-gradient(
                to right,
                #081e02 2%,
                #0c2502 14%,
                #0d450c 100%,
                #0b2b04 100%
            );
    }
}

.third-slide-text {
    width: 100%;
    color: var(--primary-white-color);
    font-family: var(--font-Cormorant);
    font-size: 42px;
    font-weight: 100;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    line-height: 0.7em;
    margin-top: 4%;
}

.third-slide_first-block-words {
    width: 100%;
    // display: flex;
    // line-height: 0.8em;
    @media screen and(min-width: 768px) {
        display: flex;
        align-items: baseline;
        // justify-content: space-between;
    }
    @media screen and(min-width: 1200px) {
        // max-width: 402px;
        // line-height: 0.9em;
    }
    @media screen and(min-width: 1440px) {
        // max-width: 483px;
        // line-height: 1.05em;
    }
    @media screen and(min-width: 1920px) {
        // max-width: 635px;
        // line-height: 1.4em;
    }
}

.third-slide_first-block-words span:nth-child(1) {
    font-size: 42px;
    font-weight: 100;
    line-height: 0.9em;
    letter-spacing: -0.04em;
    @media screen and(min-width: 768px) {
        font-size: 64px;
    }
    @media screen and(min-width: 1200px) {
        font-size: 100px;
    }
    @media screen and(min-width: 1440px) {
        font-size: 120px;
    }
    @media screen and(min-width: 1920px) {
        font-size: 146px;
    }
}

.third-slide_first-block-words span:nth-child(2) {
    font-size: 28px;
    font-weight: 100;
    letter-spacing: -0.01em;
    // line-height: 0.01em;
    line-height: 0.9em;
    display: block;
    margin-left: 90px;
    @media screen and(min-width: 768px) {
        margin-left: auto;
        margin-right: 48px;
    }
    @media screen and(min-width: 1200px) {
        font-size: 44px;
        margin-right: 75px;
    }
    @media screen and(min-width: 1440px) {
        font-size: 54px;
    }
    @media screen and(min-width: 1920px) {
        font-size: 66px;
    }
}

.third-slide_second-block-words {
    text-align: center;
}
.third-slide_second-block-words span {
    font-size: 58px;
    font-weight: 300;
    letter-spacing: -0.05em;
    line-height: 0.7em;

    mix-blend-mode: overlay;
    @media screen and(min-width:768px) {
        // mix-blend-mode: color-dodge;
        font-size: 152px;
    }
    @media screen and(min-width: 1200px) {
        font-size: 235px;
    }
    @media screen and(min-width: 1440px) {
        font-size: 283px;
    }
    @media screen and(min-width: 1920px) {
        font-size: 348px;
    }
}

.third-slide_third-block-words {
    max-width: 190px;
    margin-left: auto;
    text-align: right;
    @media screen and(min-width: 1200px) {
        max-width: 350px;
    }
    @media screen and(min-width: 1440px) {
        max-width: 420px;
    }
    @media screen and(min-width: 1920px) {
        max-width: 520px;
    }
}

.third-slide_third-block-words span {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 0.96em;
    @media screen and(min-width: 1200px) {
        font-size: 33px;
    }
    @media screen and(min-width: 1440px) {
        font-size: 40px;
    }
    @media screen and(min-width: 1920px) {
        font-size: 50px;
    }
}

.wrapper_button_third_slide {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(30px, -220%);
    @media screen and(min-width: 768px) {
        display: flex;
        width: 100%;
        justify-content: center;
        transform: translate(0, -4%);
    }
}
