.bakground_img_hero_services_page {
    overflow: hidden;
    // position: relative;
    width: 100%;
    height: calc(82svh);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 0 0 30 0 rgba(10, 112, 64, 0.2);
    background-color: #06631b;
    background-image: url(../images/background-images/services_services_page/hero_services_page.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper_title_services_page {
    // position: absolute;
    // top: 0;
    // left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title_services_page {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}

.title_services_page span:first-child {
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-Cormorant-Unicase);
    line-height: 1.1;
    letter-spacing: -0.07;
    // mix-blend-mode: overlay;
    // z-index: 10;
    @media screen and (min-width: 768px) {
        font-size: 55px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 75px;
    }
}

.title_services_page span:last-child {
    display: block;
    color: #fff;
    font-size: 50px;
    max-width: 300px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-Cormorant-Unicase);
    line-height: 0.9;
    letter-spacing: -0.05;
    mix-blend-mode: overlay;
    // z-index: 10;
    @media screen and (min-width: 768px) {
        // font-size: 100px;
        font-size: 80px;

        max-width: 500px;
    }
    @media screen and (min-width: 1200px) {
        // font-size: 120px;
        font-size: 100px;

        max-width: 700px;
    }
    @media screen and (min-width: 1440px) {
        max-width: 800px;
        // font-size: 200px;
        font-size: 120px;
    }
}
