.section_services {
    background-color: #f3fff6;
}

.overlay_setion_services {
    background-color: rgba(255, 255, 255, 0.75);
    border-top: 1.25px solid rgba(10, 97, 26, 0.3);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.background_services {
    padding-top: 36px;
    padding-bottom: 36px;
    background-image: url(../images/background-images/services/paws_top_320.svg);

    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right 20px;
    @media screen and (min-width: 768px) {
        padding-top: 38px;
        padding-bootom: 38px;
        background-size: auto;
        background-position: top left 158px;
        background-image: url(../images/background-images/services/paws_top_left_768.svg);
    }
    @media screen and (min-width: 1200px) {
        padding-top: 40px;
        padding-bootom: 40px;
        background-size: auto;
        background-position: top left 120px;
        background-image: url(../images/background-images/services/paws_top_left_1200.svg);
    }
    @media screen and (min-width: 1440px) {
        padding-top: 70px;
        padding-bootom: 70px;
        background-size: 378px 435px;
        background-position: top left 100px;
        background-image: url(../images/background-images/services/paws_top_left_1200.svg);
    }
    @media screen and (min-width: 1920px) {
        background-size: 378px 435px;
        background-position: top left 140px;
        background-image: url(../images/background-images/services/paws_top_left_1200.svg);
    }
}

.title_services {
    max-width: 70px;
    @media screen and (min-width: 1200px) {
        max-width: 86px;
    }
    @media screen and (min-width: 1920px) {
        max-width: 100px;
    }
}

.services_main_descr {
    font-family: var(--font-Manrope);
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.23;
    color: #06631b;
    letter-spacing: 0.02;
    margin-top: 20px;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
        font-size: 28px;
        margin-top: 28px;
        margin-bottom: 22px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 30px;
        margin-top: 0px;
        margin-left: auto;
    }
    @media screen and (min-width: 1440px) {
        font-size: 40px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 43px;
        font-weight: 400;
        margin-bottom: 40px;
    }
}

.services_main_descr span {
    display: block;
    color: #04a427;
    font-family: var(--font-Cormorant-Unicase);
    font-size: 22px;
    font-weight: 500;
    @media screen and (min-width: 768px) {
        font-size: 31px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 33px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 45px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 50px;
    }
}

.services_sub_descr {
    font-family: var(--font-Manrope);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.01;
    color: #06631b;
    word-spacing: 10;
    @media screen and (min-width: 768px) {
        max-width: 460px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 410px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 18px;
    }
    @media screen and (min-width: 1920px) {
        max-width: 619px;
    }
}

.services_sub_descr + p {
    margin-top: 15px;
    @media screen and (min-width: 768px) {
        margin-top: 20px;
    }
}

.services_thumb_foto {
    margin: 15px auto 0 auto;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    height: 180px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
        width: 260px;
        height: 200px;
    }
    @media screen and (min-width: 1440px) {
        border-radius: 20px;
        width: 440px;
        height: 236px;
    }
    @media screen and (min-width: 1920px) {
        width: 490px;
        height: 200px;
    }
}

.services_thumb_foto img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: top;
    @media screen and (min-width: 1440px) {
        height: auto;
    }
}

.wrapper_title_descr {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: flex-start;
    }
}

.wrapper_main_descr_sub_descr {
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        max-width: 720px;
        margin-left: auto;
    }
    @media screen and (min-width: 1440px) {
        max-width: 907px;
    }
    @media screen and (min-width: 1920px) {
        max-width: 1170px;
    }
}

.wrapper_descr_foto {
    @media screen and (min-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

//styles for cards
.medical_services_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
    margin-top: 20px;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
    }
    @media screen and (min-width: 1440px) {
        margin-top: 40px;
    }
}

.item_medical_services_cards {
    width: calc(100%);
    box-shadow: 4 7 13 0 rgba(15, 50, 6, 0.11);
    border-radius: 30px;
    // overflow-y: hidden;
    position: relative;
    z-index: 1;
    @include animation;
    transition-duration: 280ms;
    transition-property: overflow-y, z-index;

    @media screen and (min-width: 1200px) {
        width: calc((100% - 40px) / 2);
    }
}

.card_medical_services {
    width: 100%;
    height: 200px;
    border-radius: 30px;
    padding: 20px 10px;
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    background-position: top right 20px;
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
        padding: 30px 30px;
    }
    @media screen and (min-width: 1200px) {
        background-position: top right 80px;
    }
    @media screen and (min-width: 1440px) {
        padding: 30px 36px;
    }
    @media screen and (min-width: 1920px) {
        padding: 40px 36px;
    }
}

.item_medical_services_cards:nth-child(1) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_consultation.png);
    background-color: #fcf7f3;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_consultation@2x.png);
    }
}

.item_medical_services_cards:nth-child(2) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_initial_examination.png);
    background-color: #eaeeff;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_initial_examination@2x.png);
    }
}

.item_medical_services_cards:nth-child(3) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_surgery.png);
    background-color: #a8eaef;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_surgery@2x.png);
    }
}

.item_medical_services_cards:nth-child(4) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_therapy.png);
    background-color: #ffb83e;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_therapy@2x.png);
    }
}

.item_medical_services_cards:nth-child(5) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_grooming.png);
    background-color: #ffd7f0;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_grooming@2x.png);
    }
}

.item_medical_services_cards:nth-child(6) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_spa_services.png);
    background-color: #ffe6e6;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_spa_services@2x.png);
    }
}

.item_medical_services_cards:nth-child(7) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_neurology.png);
    background-color: #edf1ff;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_neurology@2x.png);
    }
}

.item_medical_services_cards:nth-child(8) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_dentistry.png);
    background-color: #bdebff;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_dentistry@2x.png);
    }
}

.item_medical_services_cards:nth-child(9) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_orthopedics.png);
    background-color: #faffdd;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_orthopedics@2x.png);
    }
}

.item_medical_services_cards:nth-child(10) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_dermatology.png);
    background-color: #daffd8;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_dermatology@2x.png);
    }
}

.item_medical_services_cards:nth-child(11) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_ophthalmology.png);
    background-color: #fbeeff;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_ophthalmology@2x.png);
    }
}

.item_medical_services_cards:nth-child(12) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_cardiology.png);
    background-color: #dbe2ff;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_cardiology@2x.png);
    }
}

.item_medical_services_cards:nth-child(13) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_reproductology.png);
    background-color: #ffe3b3;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_reproductology@2x.png);
    }
}

.item_medical_services_cards:nth-child(14) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_visual_diagnostics.png);
    background-color: #c3fef0;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_visual_diagnostics@2x.png);
    }
}

.item_medical_services_cards:nth-child(15) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_laboratory.png);
    background-color: #fcffd7;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_laboratory@2x.png);
    }
}

.item_medical_services_cards:nth-child(16) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_oncology.png);
    background-color: #fff6f6;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_oncology@2x.png);
    }
}

.item_medical_services_cards:nth-child(17) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_endocrinology.png);
    background-color: #ffebeb;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_endocrinology@2x.png);
    }
}

.item_medical_services_cards:nth-child(18) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_exotic_animals.png);
    background-color: #feffb6;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_exotic_animals@2x.png);
    }
}

.item_medical_services_cards:nth-child(19) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_sale_animals.png);
    background-color: #c1ffce;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_sale_animals@2x.png);
    }
}

.item_medical_services_cards:nth-child(20) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_dog_trainer.png);
    background-color: #e1f6ff;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_dog_trainer@2x.png);
    }
}

.item_medical_services_cards:nth-child(21) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_dog_walking.png);
    background-color: #eedcff;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_dog_walking@2x.png);
    }
}

.item_medical_services_cards:nth-child(22) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_teaching.png);
    background-color: #fff6cd;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_teaching@2x.png);
    }
}

.item_medical_services_cards:nth-child(23) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_zoopsychologist.png);
    background-color: #d2fff7;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_zoopsychologist@2x.png);
    }
}

.item_medical_services_cards:nth-child(24) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_handler.png);
    background-color: #ffdddd;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_handler@2x.png);
    }
}

.item_medical_services_cards:nth-child(25) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_zootaxis.png);
    background-color: #fefcca;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/bg_zootaxis@2x.png);
    }
}

.item_medical_services_cards:nth-child(26) .card_medical_services {
    background-image: url(../images/background-images/services_services_page/bg_pet_store_pharmacy.png);
    background-color: #f1fed8;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        // background-image: url(../images/background-images/services_services_page/bg_handler@2x.png);
    }
}

.title_medical_card {
    font-size: 28px;
    letter-spacing: -0.02;
    line-height: 1;
    font-weight: 500;
    font-family: var(--font-Cormorant-Unicase);
    text-transform: uppercase;
    color: #06631b;

    // word-break: break-all;

    word-break: break-word;
    @media screen and (min-width: 768px) {
        font-size: 34px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 370px;
        font-size: 34px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 43px;
    }
}

.title_medical_card.modified_width_blok {
    max-width: 240px;
    @media screen and (min-width: 768px) {
        max-width: 360px;
    }
}

.wrapper_title_total_number_services_medical_card {
    width: auto;
    // min-width: 120px;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.wrapper_total_number_services_medical_card {
    // width: auto;
    // min-width: 150px;
    height: 30px;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7);
    border-radius: 100px;
    // width: 200px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
        height: 44px;
        padding: 15px 30px;
        // width: 270px;
    }
    @media screen and (min-width: 1200px) {
        padding: 15px 30px;
        // width: 270px;
    }
}

.total_number_services_medical_card {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--font-Manrope);
    letter-spacing: -0.02;
    color: #06631b;
    @media screen and (min-width: 768px) {
        font-size: 20px;
    }
}

.wrapper_number_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.number_card {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--font-Manrope);
    letter-spacing: -0.02;
    margin-top: 10px;
    color: #06631b;
}

.btn_show_descr {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #04a427;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    @include animation;
    transition-duration: 280ms;
    transition-property: transform;
}
.btn_show_descr svg {
    width: 26px;
    height: 26px;
    fill: currentColor;
}

.rotate_btn_show_descr {
    transform: rotate(-180deg);
    @include animation;
    transition-duration: 280ms;
    transition-property: transform;
}

// .show_details.wrapper_details_medical_card {
//     transform: translateY(94%) scaleY(1);
//     @include animation;
//     transition-duration: 250ms;
//     transition-property: transform;
//     // opacity: 1;
// }

.visible_details_medical_card {
    overflow-y: visible;
    // visibility: visible;
    z-index: 10;
    @include animation;
    transition-duration: 280ms;
    transition-property: overflow-y, z-index;
}

.wrapper_details_medical_card {
    box-shadow: 4 7 13 0 rgba(15, 50, 6, 0.11);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #f3fff6;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    // opacity: 0;
    transform: translateY(20%) scaleY(0);
    @include animation;
    transition-duration: 250ms;
    transition-property: transform;
    width: 100%;
    padding: 50px 20px 20px 20px;
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
        padding: 50px 95px 40px 40px;
    }
}

.show_details {
    transform: translateY(94%) scaleY(1);
    @include animation;
    transition-duration: 280ms;
    transition-property: transform;
    // opacity: 1;
}

.wrapper_type_services::-webkit-scrollbar {
    width: 8px;
}

.wrapper_type_services::-webkit-scrollbar-track {
    background: #e2ffe9;
    border: 1px solid rgba(4, 164, 39, 0.4);
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrapper_type_services::-webkit-scrollbar-thumb {
    background-color: #04a427;
    border-radius: 80px;
    width: 8px;
    height: 5px;
}

.wrapper_descr_details_services {
    display: flex;
    flex-direction: column;
}

.descr_details {
    font-family: var(--font-Manrope);
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0;
    color: #06631b;
    height: 68px;
    overflow: hidden;
}

.show_text_descr_details {
    height: auto;
    overflow: visible;
}

.btn_read_more {
    font-size: 14px;
    font-family: var(--font-Manrope);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    color: #04a427;
    border: none;
    background-color: transparent;
    margin-left: auto;
    display: flex;
    align-items: flex-start;
}

.btn_read_more svg {
    width: 14px;
    height: 14px;
    // margin-left: 8px;
    fill: currentColor;
}

.wrapper_type_services {
    background-color: #fff;
    border-top: 1px solid rgba(4, 164, 39, 0.4);
    border-radius: 40px;
    padding: 25px;
    overflow-y: scroll;
    height: 360px;
    margin-top: 20px;
}

.title_services_price {
    font-size: 16px;
    font-family: var(--font-Manrope);
    line-height: 1.2;
    letter-spacing: -0.01;
    text-transform: uppercase;
    font-weight: 400;
    color: #04a427;
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px) {
        font-size: 20px;
    }
}

.title_services_price svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.wrapper_column_caption {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.column_caption {
    font-size: 15px;
    font-family: var(--font-Manrope);
    line-height: 1.2;
    letter-spacing: -0.01;
    font-weight: 400;
    color: #04a427;
}

.list_type_service_price {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.item_list_type_service_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px;
}

.item_list_type_service_price:not(:last-child) {
    border-bottom: 1px solid rgba(4, 164, 39, 0.3);
}
.wrapper_title_descr_reception {
    width: 70%;
}

.title_type_service {
    font-size: 14px;
    font-family: var(--font-Manrope);
    line-height: 1.2;
    letter-spacing: -0.01;
    font-weight: 400;
    color: #06631b;
    position: relative;

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
    &::before {
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 10px;
        background-color: #04a427;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-15px, 6px);
    }
}

.wrapper_price {
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 14px 22px;
    border-radius: 100px;
    box-shadow: 0 0 7 0 rgba(6, 99, 27, 0.12);
    min-width: 80px;
    height: 34px;
    background-color: #f3fff6;
    @media screen and (min-width: 768px) {
        min-width: 86px;
        height: 38px;
    }
    @media screen and (min-width: 1200px) {
        min-width: 98px;
        height: 44px;
    }
}

.price {
    font-size: 18px;
    font-family: var(--font-Manrope);
    line-height: 1;
    letter-spacing: -0.02;
    font-weight: 400;
    color: #04a427;
    @media screen and (min-width: 768px) {
        font-size: 20px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 24px;
    }
}

.descr_reception {
    margin-top: 10px;
    font-size: 15px;
    font-family: var(--font-Manrope);
    line-height: 1.2;
    letter-spacing: -0.01;
    font-weight: 400;
    color: #06631b;
}

.wrapper_wide_buttons.services_btns {
    display: flex;
    flex-direction: сolumn;
    row-gap: 8px;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        row-gap: 0px;
        column-gap: 8px;
    }
}

.total_services {
    width: 128px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 67px;
    font-family: var(--font-Manrope);
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.02;
    text-transform: uppercase;
    color: #06631b;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    @media screen and (min-width: 1440px) {
        width: 148px;
        height: 46px;
        border-radius: 80px;
        font-size: 18px;
    }
    @media screen and (min-width: 1920px) {
        width: 172px;
        border-radius: 100px;
        font-size: 20px;
    }
}

.wrapper_btn_all_services {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04a427;
    border-radius: 26px;
    backdrop-filter: blur(4.71);
    background-image: url(../images/background-images/services/cat.svg),
        linear-gradient(#04a427, #04a427);
    background-repeat: no-repeat;
    background-position: bottom -4px left 10px;
    background-size: auto;
    margin-top: 20px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
        height: 213px;
        width: 297px;
    }

    @media screen and (min-width: 1200px) {
        width: 300px;
        height: 213px;
    }
    @media screen and (min-width: 1440px) {
        width: 395px;
        height: 256px;
    }
    @media screen and (min-width: 1920px) {
        width: 489px;
        height: 317px;
    }
}

.wrapper_btn_sign_up_for_serivces_page {
    width: 100%;
    padding: 60px 0;
    border-top: 1px solid #06631b;
    border-bottom: 1px solid #06631b;
    border-radius: 40px;
    background-color: #04a427;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(7px);
    background-image: url(../images/background-images/services_services_page/cat.png),
        url(../images/background-images/services_services_page/paws_top_left.svg),
        url(../images/background-images/services_services_page/paws_top_right.svg);
    background-repeat: no-repeat;
    background-size: 130px, 100px, 100px;
    background-position: bottom left 20px, top 10px left 10px,
        top 20px right 10px;
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
        screen and (min-resolution: 192dpi) and (min-width: 320px),
        screen and (min-resolution: 2dppx) and (min-width: 320px) {
        background-image: url(../images/background-images/services_services_page/cat@2x.png),
            url(../images/background-images/services_services_page/paws_top_left.svg),
            url(../images/background-images/services_services_page/paws_top_right.svg);
    }
    @media screen and (min-width: 768px) {
        background-size: 200px, 180px, 180px;
        background-position: bottom left 20px, top 10px left 40px,
            top 20px right 40px;
    }
    @media screen and (min-width: 1200px) {
        background-size: 200px, 200px, 200px;
        background-position: bottom left 30%, top 40px left 40px,
            top 40px right 30%;
    }
    @media screen and (min-width: 1440px) {
        background-size: 226px, 280px, 280px;
        background-position: bottom left 35%, top 40px left 40px,
            top 40px right 20%;
    }
    @media screen and (min-width: 1920px) {
        background-size: 226px, 336px, 342px;

        background-position: bottom left 35%, top 40px left 10%,
            top 40px right 20%;
    }
}
